/* Font */
body {
 font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

/* Multi-Menu */
.dropdown-submenu {
	 position: relative;
}

.dropdown-submenu .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -1px;
}
/* !Multi-Menu */

/* switch */
.switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 26px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
/* !switch */

/* 模态框居中 */
.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
/* !模态框居中 */

/* modal */
.modal-backdrop {
	opacity:0.1 !important;
}
.modal .modal-dialog {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
}

.modal .modal-dialog .modal-content {
	border-radius: 4px;
}

.modal .modal-dialog .modal-content .modal-header {
	border-bottom:none;
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
	font-size: 20px;
	font-weight: 700;
}

.modal .modal-dialog .modal-content .modal-body .row {
	margin-top: 30px;
}

.modal .modal-dialog .modal-content .modal-body .row .menu-label{
	font-size: 16px;
	color: rgba(0,0,0,0.7);
}

.modal .modal-dialog .modal-content .modal-body .row .menu-choice{
	font-size: 14px;
	font-weight: 500;
	color: #222;
	cursor: pointer;
}

.modal .modal-dialog .modal-content .modal-footer {
	border-top:none;
}

.modal .modal-dialog .modal-content .modal-footer a{
	margin-right: 30px;
	font-weight: 500;
	color: #2196F3;
	cursor: pointer;
}
/* modal */




/* 1. 置顶一级导航栏 */
.main-header .logo .logo-lg a{
	color: rgba(255,255,255,1);
	margin-right:10px; 
}

.main-header .current-page {
	font-size: 20px;
	font-weight: bold;
}

.main-header #navbar-collapse form {
	margin: 5px auto 5px 15px;
}

.main-header #navbar-collapse form select{
	height: 40px;
	border-radius: 4px; 
}

@media only screen and (min-width: 992px) {
	#navbar-collapse form select{
		width: 300px;
	}
}
@media only screen and (min-width: 1250px) {
	#navbar-collapse form select{
		width: 500px;
	}
}
@media only screen and (min-width: 1500px) {
	#navbar-collapse form select{
		width: 700px;
	}
}

.main-header .select2-selection--single {
	height: 40px !important;
	padding: 12px 24px 6px 12px !important;
}
.main-header .select2-container--bootstrap .select2-results > .select2-results__options {
	max-height: 500px !important;
}



.navbar-custom-menu .search-menu .dropdown-menu{
	padding-top: 60px;
}

.navbar-custom-menu .search-menu .dropdown-menu li{
	margin: 5px;
}

.navbar-custom-menu .search-menu .dropdown-menu li input{
	border-radius: 4px;
}

@media only screen and (min-width: 1050px) {
	.navbar-custom-menu .search-menu a {
		visibility: hidden;
	}
}
/* ！置顶一级导航栏 */

/* 2. 置顶二级导航栏 */
.nav-top-second {
	margin-left: 0px !important;
}
.nav-top-second .container {
	text-align: center;
}
.nav-top-second .container ul:first-child{
	display: inline-block;
	float: none;
}
.nav-top-second .container ul:first-child < li{
	margin-right:10px;
}
/* ！置顶二级导航栏 */

/* 3. 左侧折叠式导航栏 */
.sidebar-collapse {
	position: absolute;
	top: 0;
	left: 0;
	min-height:100%;
	width: 300px;
	padding-top: 0;
	display: none;
	background-color: #fff;
	z-index: 10000;
	-webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2); 
}

.sidebar-collapse .brand {
	padding: 5px 16px;
	margin-bottom: 15px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
}

.sidebar-collapse .brand .title {
	margin-right:10px;
	color: #757575;
	font-size: 24px;
	font-weight: 600;
}

.sidebar-collapse .brand .btn-hide {
	padding-top:10px;
	color: #757575;
	font-weight: 600;
}
.sidebar-collapse .brand .btn-hide i{
	font-size: 32px;
}


.sidebar-collapse .sidebar-menu .item a {
	color: #757575;
	border-left: 3px solid transparent;
	font-weight: 600;
	padding: 12px 5px 12px 15px;
	display: block;
}
.sidebar-collapse .sidebar-menu .item a span {
	padding-left:20px;
}
.sidebar-collapse .sidebar-menu .divider {
	margin-top:10px;
	margin-bottom:10px;
	border-bottom: 1px solid #ddd;
}

.sidebar-collapse .bottom {
	position: absolute;
	bottom: 15px;
}

.sidebar-collapse .bottom p{
	margin: 7px 30px;
	color: #aaa;
	cursor: pointer;
}

.sidebar-collapse .bottom .underline {
	color: #aaa;
	text-decoration: underline;
}
/* ！左侧折叠式导航栏 */

/* 4. 右下角按钮组件 */		
.btn-rightbot{
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	
	font-size: 20px;
	line-height: 1.33;
	border-radius: 25px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
}

.switch-rightbot{
	position: fixed;
	bottom: 80px;
	right: 80px;
	z-index: 100;
}

.block-rightbot{
	position: fixed;
	bottom: 140px;
	right: 80px;
	z-index: 100;
	display: none;	
	//border: 1px solid black;
}

.block-rightbot > div{
	text-align: right;
	margin-bottom: 15px;
}

.block-rightbot > div > span{
	padding:3px;
	margin-right: 10px;
	background: rgba(105,105,105,1);
	color: rgba(255,255,255,0.8);
	border-radius: 3px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
}
.block-rightbot .btn-rightbot:hover {
	width: 60px;
	height: 60px;
	padding: 15px 22px;
	border-radius: 30px;	
}
/* ！右下角按钮组件 */

/* 主展示框 */
.content-wrapper {
	margin-left: 360px;
	border-left:none !important;
}

.content-wrapper section {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}

@media only screen and (min-width: 1500px) {
	.post-wall {
		column-count: 4;
	}
}
@media only screen and (max-width: 1500px) {
	.post-wall {
		column-count: 3;
	}
}
@media only screen and (max-width: 992px) {
	.post-wall {
		column-count: 2;
	}
}
@media only screen and (max-width: 600px) {
	.post-wall {
		column-count: 1;
	}
}

@media only screen and (min-width: 1500px) {
	.tag-wall {
		column-count: 5;
	}
}
@media only screen and (max-width: 1500px) {
	.tag-wall {
		column-count: 3;
	}
}
@media only screen and (max-width: 992px) {
	.tag-wall {
		column-count: 2;
	}
}
@media only screen and (max-width: 600px) {
	.tag-wall {
		column-count: 1;
	}
}

@media only screen and (min-width: 1500px) {
	.user-wall {
		column-count: 4;
	}
}
@media only screen and (max-width: 1500px) {
	.user-wall {
		column-count: 3;
	}
}
@media only screen and (max-width: 992px) {
	.user-wall {
		column-count: 2;
	}
}
@media only screen and (max-width: 600px) {
	.user-wall {
		column-count: 1;
	}
}


.tag-wall, .user-wall{
	column-gap: 30px;
}


.content-wrapper section .create-post {
	margin: 0px 10px;
}

.content-wrapper section .create-post .box-header img {
	top:-5px;
	width: 40px;
	height: 40px;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
}

.content-wrapper section .create-post .box-header span:nth-child(2) {
	margin-left: 10px;
	font-weight: 500;
	line-height:40px;
	color:#bdbdbd;
	cursor: text;
}

.content-wrapper section .create-post .box-header span:nth-child(3) {
	line-height:40px;
}

.content-wrapper section .create-post .box-header span:nth-child(3) a {
	padding:10px;
	width:40px;
	height:40px;
	font-size:18px;
	background-color:#eeeeee;
	border-radius: 50%;
	color:#757575;
}
/* ！主展示框 */
