<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Transtopia-alpha | 消息 </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="plugins/bootstrap-3.3.6/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="plugins/ionicons-2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/AdminLTE.min.css">
  <link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/skin-purple.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="skin-purple sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
	  <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>T</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Transtopia</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
			<!-- Navbar Left Menu -->
				<!-- fill it here -->
			<!-- /.Navbar Left Menu -->
			
			<!-- Navbar Right Menu -->
				<!-- fill it here -->
			<!-- /.Navbar Right Menu -->
    </nav>
  </header>
	
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="搜索...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <ul class="sidebar-menu sidebar-contact">		
				<li class="header">通信录</li>
				<li><a href="#tab_addfriend" data-toggle="tab"><i class="fa fa-user-plus"></i> <span>添加好友</span></a></li>
				<li><a href="#tab_creategroup" data-toggle="modal"><i class="fa fa-plus"></i> <span>创建群组</span></a></li>
				<li><a href="#tab_friendlist" data-toggle="tab"><i class="fa fa-user"></i> <span>我的好友</span></a></li>
				<li><a href="#tab_grouplist" data-toggle="tab"><i class="fa fa-group"></i> <span>我的群组</span></a></li>
				<!-- Sidebar Tag for Message -->
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
			<div class="tab-content">
				<!-- 添加好友 -->
				<div id="tab_addfriend" class="tab-pane panel-full">
					<div class="newfriend-centre">
						<div class="newfriend-centre-title">
							还没有新的联系人，通过下面的方式邀请吧！
						</div>
						<ul class="newfriend-centre-list">
							<li class="newfriend-centre-list-item" value="0">
								<i class="newfriend-centre-list-item-icon fa fa-wechat" style="background-color:#8bc34a;"></i>
								<div class="newfriend-centre-list-item-text">微信邀请</div>
							</li>
							<li class="newfriend-centre-list-item" value="1">
								<i class="newfriend-centre-list-item-icon fa fa-qq" style="background-color:#03a9f4;"></i>
								<div class="newfriend-centre-list-item-text">QQ邀请</div>
							</li>
							<li class="newfriend-centre-list-item" value="2">
								<i class="newfriend-centre-list-item-icon fa fa-weibo" style="background-color:#00bcd4;"></i>
								<div class="newfriend-centre-list-item-text">微博邀请</div>
							</li>
							<li class="newfriend-centre-list-item" value="3">
								<i class="newfriend-centre-list-item-icon fa fa-envelope" style="background-color:#f9ce1d;"></i>
								<div class="newfriend-centre-list-item-text">电子邮箱邀请</div>
							</li>
							<li class="newfriend-centre-list-item" value="4">
								<i class="newfriend-centre-list-item-icon fa fa-mobile" style="background-color:#f98b19;"></i>
								<div class="newfriend-centre-list-item-text">手机邀请</div>
							</li>
							<li class="newfriend-centre-list-item" value="5">
								<i class="newfriend-centre-list-item-icon fa fa-link" style="background-color:#607d8b;"></i>
								<div class="newfriend-centre-list-item-text">二维码邀请</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="modal fade" id="modal_addfriend">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<div class="newfriend-centre-list-item">
									
								</div>
							</div>
							<div class="modal-body">
								
							</div>
						</div>
					</div>
				</div>
				<!-- 添加好友结束 -->
				
				<!-- 新建群组 -->
				<div class="modal fade" id="tab_creategroup" tabindex="-1">
					<div class="modal-dialog" style="width: 1000px;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">创建新的群组</h4>
							</div>
							<div class="modal-body row" style="min-height: 400px;">
								<div class="col-sm-3">
									<a href="#tab_1" data-toggle="tab" class="btn btn-block btn-social btn-default" ><i class="fa fa-cube"></i> 基本信息</a>
									<a href="#tab_2" data-toggle="tab" class="btn btn-block btn-social btn-default"><i class="fa fa-users"></i> 成员列表</a>
									<a href="#tab_3" data-toggle="tab" class="btn btn-block btn-social btn-default"><i class="fa fa-gear"></i> 其他</a>
								</div>
								<div class="tab-content col-sm-9">
									<div class="tab-pane active" id="tab_1">
										<div class="form-group">
										<label>群组名称：</label>
											<input name="name" type="text" class="form-control" placeholder="请输入群组名称">
										</div>
										
										<!-- 上传商品封面 -->
										<div class="form-group">
											<label>上传群组封面：</label>
											<div class="input-group">
												<input type="text" class="form-control">
												<div class="input-group-addon btn btn-default btn-file post-file">
													<i class="fa fa-image"></i> 上传图片 <input name="poster" type="file" single>
												</div>
											</div>
											<img id="myImg" class="img-thumbnail col-md-6 hide" src="#" style="margin-top:10px;"/>
											<div class="clearfix"></div>
										</div>
										<div class="form-group">
											<label>群组话题：</label>
											<select name="topic" id="group-topic" class="form-control" multiple="multiple" data-placeholder="请选择群组话题" style="width: 100%;">
											</select>
										</div>		
										<div class="form-group">
										<label>群组简介: </label>
											<textarea name="introduction" type="text" class="form-control" rows=4 placeholder="请输入群组简介 不多于50字"></textarea>
										</div>
									</div>
									<div class="tab-pane" id="tab_2">
										<div class="form-group">
											<label>群组成员：</label>
											<select name="member" id="select-member" class="form-control" multiple="multiple" data-placeholder="请添加群组成员" style="width: 100%;">
											</select>
										</div>
									</div>
									<div class="tab-pane" id="tab_3">
										<div class="form-group">
											<label>群组空间大小：</label>
											<select name="filesize" id="group_size" class="form-control" style="width: 100%;">
											</select>
										</div>
										<div class="form-group">
											<label>允许最大成员数：</label>
											<select name="memberlimit" id="group_memberlimit" class="form-control" style="width: 100%;">
											</select>
										</div>
										<div class="form-group">
											<label>文件消息存放时效：</label>
											<select name="filexpire" id="group_filexpire" class="form-control" style="width: 100%;">
											</select>
										</div>
										<div class="form-group">
											<label>最大分组数：</label>
											<select name="subgrouplimit" id="group_subgrouplimit" class="form-control" style="width: 100%;">
											</select>
										</div>
										<div class="form-group">
											<label>
												<input type="checkbox" class="minimal" name="r1">
												仅允许群组以及管理员邀请新成员
											</label>
										</div>
										<div class="form-group">
											<label>
												<input type="checkbox" class="minimal" name="r2">
												新成员加入需要管理员验证
											</label>
										</div>
										<div class="form-group">
											<label>
												<input type="checkbox" class="minimal" name="r3">
												消息免打扰
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary btn-create">创建群组</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 新建群组结束 -->
				
				<!-- 好友列表 -->
				<div id="tab_friendlist" class="tab-pane">
					<div class="container">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<li><a href="#tab_friendlist_1" data-toggle="tab">全部好友</a></li>
								<li><a href="#tab_friendlist_2" data-toggle="tab">好友请求</a></li>
								<!-- <li><a href="#tab_friendlist_3" data-toggle="tab">其他协作关系</a></li> -->
								<form class="navbar-form navbar-right" style="margin-right: 20px;">
									<div class="input-group">
									<input type="text" class="form-control" placeholder="搜索">
										<div class="input-group-addon btn btn-default">
											<i class="fa fa-search"></i> 
										</div>
									</div>
								</form>
								<li class="pull-right" style="width: 400px;">
									
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane" id="tab_friendlist_1">
		
								</div>
								<!-- /.tab-pane -->
								<div class="tab-pane" id="tab_friendlist_2">
									<!-- 好友请求列表 -->
								</div>
								<!-- /.tab-pane -->
								<div class="tab-pane" id="tab_friendlist_3">
									
								</div>
								<!-- /.tab-pane -->
							</div>
							<!-- /.tab-content -->
						</div>
					</div>
				</div>
				<style>
				#tab_friendlist .tab-content,
				#tab_grouplist .tab-content {
					background-color: #f9f9f9;;
				}
				</style>
				<!-- 好友列表结束 -->
				
				<!-- 群组列表 -->
				<div id="tab_grouplist" class="tab-pane">
					<div class="container">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<li><a href="#tab_grouplist_1" data-toggle="tab">全部群组</a></li>
								<li><a href="#tab_grouplist_2" data-toggle="tab">我创建的群组</a></li>
								<li><a href="#tab_grouplist_3" data-toggle="tab">我加入的群组</a></li>
								<form class="navbar-form navbar-right" style="margin-right: 20px;">
									<div class="input-group">
									<input type="text" class="form-control" placeholder="搜索">
										<div class="input-group-addon btn btn-default">
											<i class="fa fa-search"></i> 
										</div>
									</div>
								</form>
							</ul>
							<div class="tab-content">
								<div class="tab-pane" id="tab_grouplist_1">
									
								</div>
								<!-- /.tab-pane -->
								<div class="tab-pane" id="tab_grouplist_2">
									
								</div>
								<!-- /.tab-pane -->
								<div class="tab-pane" id="tab_grouplist_3">
									
								</div>
								<!-- /.tab-pane -->
							</div>
							<!-- /.tab-content -->
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="group_details" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							
						</div>
					</div>
				</div>
				<!-- 群组列表结束 -->
				<style>
					body{
						font-size: 12px;
						font-family: Helvetica Neue,Helvetica,Nimbus Sans L,Arial,Liberation Sans,Hiragino Sans GB,Source Han Sans CN Normal,Microsoft YaHei,Wenquanyi Micro Hei,WenQuanYi Zen Hei,ST Heiti,SimHei,WenQuanYi Zen Hei Sharp,sans-serif;
					}
					#group_details dt, #group_details dd {
						line-height: 30px;
					}
					#group_details .bi_code {
						width: 15px;
						-webkit-transition: width 2s; /* Safari */
						transition: width 2s;
					}
					#group_details .bi_code:hover {
						width: 100px;
					}
					#group_details td {
						font-size: 14px;
						vertical-align: middle;
					}
				</style>
			</div>
			
			
			
			
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <!-- Anything you want -->
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 <a href="#">Transtopia</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="plugins/AdminLTE-2.3.11/js/app.min.js"></script>
<!-- Slimscroll -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="plugins/fastclick/fastclick.min.js"></script>
<!-- FileInput -->
<link href="plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
<link href="plugins/bootstrap-fileinput/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css"/>
<script src="plugins/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
<script src="plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
<script src="plugins/bootstrap-fileinput/themes/explorer/theme.js" type="text/javascript"></script>
<script src="plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
<!-- Select 2 -->
<link href="plugins/select2/select2.min.css" rel="stylesheet" />
<link href="plugins/select2/select2-bootstrap.css" rel="stylesheet" />
<script src="plugins/select2/select2.min.js"></script>
<script src="plugins/select2/i18n/zh-CN.js"></script>
<!-- iCheck 1.0.1 -->
<script src="plugins/iCheck/icheck.min.js"></script>
<link rel="stylesheet" href="plugins/iCheck/all.css">

<!-- 我的JS & CSS -->
<style>
/* 模态框居中 */
.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
/* Panel Add Friend */
.panel-full {
	height: 901px;
	background-color: rgb(255,255,255);
	border-radius: 3px;
}
.newfriend-centre {
	width: 452px;
	height: 400px;
	position: relative;
	top: 50%;left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.newfriend-centre-title {
	font-size: 20px;
	margin-bottom: 70px;
	text-align: center;
	color: #333;
}
.newfriend-centre-list {
	padding-left: 0;
}
.newfriend-centre-list-item {
	float:left;
	width: 150px;
	height: 115px;
	margin-bottom: 40px;
	list-style: none;
	cursor: pointer;
	text-align: center;
}
.newfriend-centre-list-item-icon {
	width: 77px;
	height:77px;
	padding-top: 14px;
	font-size: 50px;
	color:rgb(255,255,255);
	border-radius: 50%;
}
.newfriend-centre-list-item-text {
	font-size: 14px;
	margin-top: 20px;
	color: #555;
}
#modal_addfriend .modal-content {
	width: 500px;
}
#modal_addfriend .modal-content .modal-header {
	height: 210px;
	background-color: #fff;
}
#modal_addfriend .newfriend-centre-list-item {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#modal_addfriend .modal-body {
	background-color: #eee;
}
#modal_addfriend .modal-body img,
#modal_addfriend .modal-body input{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#modal_addfriend .modal-body p{
	text-align: center;
}
#modal_addfriend input[type=text]{
	box-sizing: border-box;
	width: 290px;
	height: 35px;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
</style>
<style>
	.shopping-item .widget-title img {
		width: 80px;
	}
	.shopping-item .box-footer {
		padding: 0;
	}
	.shopping-item .box-footer p:nth-child(1) {
		line-height: 1.3;
		font-weight: 700;
		font-size: 14px;
		//min-height: 33px;
		padding: 0;
		margin: 10px 10px 5px;
	}
	.shopping-item .box-footer p:nth-child(2) {
		max-height: 2.5em;
		overflow: hidden;
		text-overflow: ellipsis; 
		line-height: 1.3em;
		font-size: 13px;
		//min-height: 33px;
		padding: 0;
		margin: 10px 10px 5px;
	}
	.shopping-item .box-footer p:nth-child(3) {
		padding-left: 15px;
	}
	.shopping-item .box-footer p:nth-child(3) i{
		color: #33cc33;
	}
	.shopping-item .box-footer p:nth-child(4) {
		font-weight: 700;
		padding-left: 15px;
	}
	.widget-title {
		 //display: none;
	}
	.box-widget:hover .widget-title{
		//display : block;
	}
</style>
<style>
.user-box, .group-box {
		border: none;
		border-radius: 3px;
		background: #ffffff;
		margin-bottom: 20px;
		width: 100%;
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	}
	.user-box-img {
		width: 100%;
		text-align: center;
		padding-top: 24px;
	}
	.user-box-img img{
		width: 90px;
	}
	.user-box .name {
		margin-top: 10px;
		text-align: center;
		color: rgba(0,0,0,0.87);
		font-size: 16px;
		line-height: 20px;
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
	}
	.user-box .title {
		text-align: center;
		color: rgba(0,0,0,0.5);
		font-size: 14px;
		line-height: 20px;
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
	}
	.user-box .option {
		margin: 80px 10px 10px 0;
	}
	.group-box-img {
		width: 100%;
		height:120px;
		background: url('dist/img/photo2.png') center center;
	}
	.group-box-img img{
		width:30px;
		position: relative;
		top: 105px; 
		left: 10px;
	}
	.group-box .name {
		margin-top: 20px;
		margin-left: 15px;
		color: rgba(0,0,0,0.87);
		font-size: 16px;
		line-height: 20px;
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
	}
	.group-box .member-count, .group-box .genre {
		margin-left: 15px;
		color: rgba(0,0,0,0.5);
		font-size: 12px;
		line-height: 20px;
		height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
	}
	.group-box .option {
		margin: 40px 10px 10px 0;
	}
		#tab_friendlist .tab-content .tab-pane, #tab_grouplist .tab-content .tab-pane {
		min-height: 300px;
		overflow-y: auto;
	}
</style>
<script>
var ACTION_MAP = {
	addFriendByEmail: 'addfriendbyemail',
	getFriendList: 'getfriendlist',
	deleteFriend: 'deletefriend',
	getFriendRequestList: 'getfriendrequestlist',
	acceptFriendRequest: 'acceptfriendrequest',
	declineFriendRequest: 'declinefriendrequest',
	getTopic: 'gettopic',
	createGroup: 'creategroup',
	getAllGroup: 'getallgroup',
	getGroupDetails: 'getgroupdetails',
	dismissGroup: 'dismissgroup',
	quitGroup: 'quitgroup'
};
</script>
<script>
//添加好友
$(".newfriend-centre-list-item").on("click",function(){
	$('#modal_addfriend .modal-header .newfriend-centre-list-item').html($(this).html());
	if([0,1,2,5].indexOf($(this).val()) >= 0){
		$("#modal_addfriend .modal-body").html(
		'<img src="' + 'dist/img/Test_addFriend.jpg' + '">\
			<p>使用微信“扫一扫”</p>\
			<p>将打开的页面通过右上角分享功能发送给您的好友</p>\
			<input class="btn btn-primary" value="完成">');
	}else if($(this).val() == 3){
		$("#modal_addfriend .modal-body").html(
		'<input class="form-control" type="text" placeholder="请输入Email地址">\
		<input class="btn btn-primary btn-submit" value="完成">');
		$("#modal_addfriend .modal-body .btn-submit").on('click', function(){
			$.get(ACTION_MAP.addFriendByEmail, {email: $("#modal_addfriend .modal-body input[type='text']").val()}, function(data){
				console.log(data);
				//完善
				alert('已发送请求！');
				$("#modal_addfriend").modal('hide');
			}).fail(function(err){
				console.log('err: add friend by email');
			});
			;
		});
	}else if($(this).val() == 4){
		$("#modal_addfriend .modal-body").html(
		'<input class="form-control" type="text" placeholder="请输入电话号码">\
		<input class="btn btn-primary" value="完成">');
	}else{
	
	}
	
	$('#modal_addfriend').modal('toggle');
});
//添加好友结束

//新建群组
$('#tab_creategroup').on('show.bs.modal',function(){
	//完善 clear input
	//加载话题
	$.get(ACTION_MAP.getTopic, function(data){
		$("#group-topic").select2({
			language: 'zh-CN',
			data: data
		});
	}).fail(function(data){
		console.log('err: topic list');
	});
	
	//加载成员列表
	var formatState = function(data) {
		var $data = $(
			'<span><img class="img-circle" style="width: 40px;" src="' + data.img + '" /> ' + data.text + '</span> <span style="margin-left: 20px;">' + data.title + '</span>'
		);
		return $data;
	};
	
	$.get(ACTION_MAP.getFriendList, function(data){
		var list = [];
		$.each(data, function(index, d){
			list.push({'id': d.id, 'img': d.img, 'title': d.title, 'text': d.name});
		});
		
		$("#select-member").select2({
			language: 'zh-CN',
			data: list,
			templateResult: formatState
		});
	}).fail(function(data){
		console.log('err: friend list');
	});
	
	//加载其他
	$("#group_size").select2({
		language: 'zh-CN',
		data: [{id: 1, text: '1G'}, {id: 2, text: '2G'}, {id: 3, text: '5G'}, {id: 4, text: '10G'}, {id: 5, text: '无限制'}]
	}); 
	$("#group_memberlimit").select2({
		language: 'zh-CN',
		data: [{id: 1, text: '10人'}, {id: 2, text: '100人'}, {id: 3, text: '500人'},{id: 4, text: '无限制'}]
	}); 
	$("#group_filexpire").select2({
		language: 'zh-CN',
		data: [{id: 1, text: '7天'}, {id: 2, text: '一个月'}, {id: 3, text: '半年'},{id: 4, text: '一年'},{id: 5, text: '永久'}]
	});
	$("#group_subgrouplimit").select2({
		language: 'zh-CN',
		data: [{id: 1, text: '不可分租'}, {id: 2, text: '3组'}, {id: 3, text: '5组'},{id: 4, text: '10组'},{id: 5, text: '无限制'}]
	});
	$('input[type="checkbox"].minimal').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue'
	});
	
	//群图片上传
	$('.post-file :file').on('change', function(){
		var input = $(this),
			numFiles = input.get(0).files ? input.get(0).files.length : 1,
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [numFiles, label]);
	});
	
	$('.post-file :file').on('fileselect', function(event, numFiles, label) {
			
			var input = $(this).parents('.input-group').find(':text'),
					log = numFiles > 1 ? numFiles + ' files selected' : label;
			
			if( input.length ) {
					input.val(log);
			} else {
					if( log ) alert(log);
			}
			
	});
	$(function () {
		$(".post-file :file").change(function () {
			if (this.files && this.files[0]) {
					var reader = new FileReader();
					reader.onload = imageIsLoaded;
					reader.readAsDataURL(this.files[0]);
			}
		});
	});
	function imageIsLoaded(e) {
		$('#myImg').attr('src', e.target.result);
		$('#myImg').removeClass("hide");
	};
});

$('#tab_creategroup .btn-create').on('click',function(){
	var formData = new FormData();
	
	formData.append("file",$('#tab_creategroup [name="poster"]')[0].files[0]);
	formData.append("name",$('#tab_creategroup [name="name"]').val());
	formData.append("topic",$('#tab_creategroup [name="topic"]').val());
	formData.append("introduction",$('#tab_creategroup [name="introduction"]').val());
	formData.append("member",$('#tab_creategroup [name="member"]').val());
	formData.append("filesize",$('#tab_creategroup [name="filesize"]').val());
	formData.append("memberlimit",$('#tab_creategroup [name="memberlimit"]').val());
	formData.append("filexpire",$('#tab_creategroup [name="filexpire"]').val());
	formData.append("subgrouplimit",$('#tab_creategroup [name="subgrouplimit"]').val());
	formData.append("r1",$('#tab_creategroup [name="r1"]').val());
	formData.append("r2",$('#tab_creategroup [name="r2"]').val());
	formData.append("r3",$('#tab_creategroup [name="r3"]').val());
	
	//console.log(formData);
	//console.log($('#tab_creategroup [name="poster"]')[0].files[0]);
	$.ajax({
		url : ACTION_MAP.createGroup, 
		type : 'POST', 
		data : formData, 
		// 告诉jQuery不要去处理发送的数据
		processData : false, 
		// 告诉jQuery不要去设置Content-Type请求头
		contentType : false,
		beforeSend:function(){
			console.log("正在进行，请稍候");
			//需要修改
			
		},
		success : function(responseStr) { 
			alert('成功创建群组');
			$('#tab_creategroup').modal('hide');
			location.reload();
			if(responseStr.status===200){
				console.log("成功"+responseStr);
			}else{
				console.log("失败");
			}
		}, 
		error : function(responseStr) { 
			console.log("error");
		} 
	});
	
	/*
	$.post(ACTION_MAP.createGroup, formData, function(data){
		
	}).fail(function(err){
		console.log('err: create group');
	});
	*/
});

$('#tab_creategroup').on('hide.bs.modal',function(){
	//clean form
});
//新建群组结束



//好友列表
var friendBlockStyle = function(data){
	return '<div class="col-md-3">\
						<div class="user-box">\
							<div class="user-box-img">\
								<img class="img-circle" src="' + data.img + '" alt="User Avatar">\
							</div>\
							<div class="name">\
								' + data.name + '\
							</div>\
							<div class="title">\
								' + data.title + '\
							</div>\
							<div class="dropdown pull-right option">\
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">\
										<i class="fa fa-gear"></i>\
								</a>\
								<ul class="dropdown-menu">\
										<li><a href="#">查看</a></li>\
										<li><a href="javascript:void(0);" data-action="delete" data-id="' + data.id + '">删除好友</a></li>\
								</ul>\
							</div>\
							<div class="clearfix"></div>\
						</div>\
					</div>';
};

var friendRequestBlockStyle = function(data){
	return '<div class="col-md-3">\
						<div class="user-box">\
							<div class="user-box-img">\
								<img class="img-circle" src="' + data.img + '" alt="User Avatar">\
							</div>\
							<div class="name">\
								' + data.name + '\
							</div>\
							<div class="title">\
								' + data.title + '\
							</div>\
							<div class="dropdown pull-right option">\
								<a href="#" style="margin: 0 5px; color: #00a65a;" data-action="accept" data-id="' + data.id + '"><i class="fa fa-check"></i> </a>\
								<a href="#" style="margin: 0 5px; color: #d73925;" data-action="decline" data-id="' + data.id + '"><i class="fa fa-times"></i> </a></p>\
							</div>\
							<div class="clearfix"></div>\
						</div>\
					</div>';
};

//好友列表
$('a[href="#tab_friendlist_1"]').on('show.bs.tab', function(e){
	//$('#tab_friendlist_1').empty();
	$.get(ACTION_MAP.getFriendList, function(data){
		$.each(data, function(index, d){
			$('#tab_friendlist_1').append(friendBlockStyle(d));
		});
		//添加button事件
		$('#tab_friendlist_1 a[data-action="delete"]').on('click', function(){
			//完善
			if(confirm('您确定要接触和该用户的好友关系吗？')){
				var block = $(this).closest('.user-box').closest('.col-md-3');
				$.get(ACTION_MAP.deleteFriend, {id: $(this).attr('data-id')}, function(data){
					//console.log(data);
					alert('已解除与该用户的好友关系');
					$(block).remove();
				}).fail(function(){
					console.log('err: delete friend');
				});
			}
		});
	}).fail(function(data){
		console.log('err: friend list');
	});
});

//好友请求列表
$('a[href="#tab_friendlist_2"]').on('show.bs.tab', function(e){
	$('#tab_friendlist_2').empty();
	$.get(ACTION_MAP.getFriendRequestList, function(data){
		$.each(data, function(index, d){
			$('#tab_friendlist_2').append(friendRequestBlockStyle(d));
		});
		//添加button事件
		//接受请求
		$('#tab_friendlist_2 a[data-action="accept"]').on('click', function(){
			//完
			var block = $(this).closest('.user-box').closest('.col-md-3');
			$.get(ACTION_MAP.acceptFriendRequest, {id: $(this).attr('data-id')}, function(data){
				//console.log(data);
				alert('成功添加好友');
				$(block).remove();
			}).fail(function(){
				console.log('err: accept friend');
			});
		});
		//拒绝
		$('#tab_friendlist_2 a[data-action="decline"]').on('click', function(){
			//完善
			var block = $(this).closest('.user-box').closest('.col-md-3');
			$.get(ACTION_MAP.declineFriendRequest, {id: $(this).attr('data-id')}, function(data){
				//console.log(data);
				alert('已拒绝好友请求');
				$(block).remove();
			}).fail(function(){
				console.log('err: decline friend');
			});
		});
	}).fail(function(data){
		console.log('err: friend request list');
	});
});

$('a[href="#tab_friendlist"]').on('show.bs.tab', function(e){
	$('a[href="#tab_friendlist_1"]').tab('show');
});
//好友列表结束

//群组列表
var groupBlockStyle = function(data){
	return '<div class="col-md-3">\
						<div class="group-box">\
							<div class="group-box-img" style="background: url(\'' + data.bg_img + '\') center center;">\
								<img class="img-circle img-bordered-sm" src="' + data.img + '">\
							</div>\
							<div class="name">\
								' + data.name + '\
							</div>\
							<div class="member-count">\
								' + data.member_count + '\
							</div>\
							<div class="genre">\
							' + data.genre + '\
							</div>\
							<div class="dropdown pull-right option">\
								<a href="#" style="margin: 5px 5px;" data-action="management" data-id="' + data.id + '"><i class="fa fa-gear"></i></a>\
							</div>\
							<div class="clearfix"></div>\
						</div>\
					</div>'
};
var loadGroupDetails = function(data){
	$('#group_details .modal-content').html(
		'<div class="box box-widget widget-user">\
			<div class="widget-user-header bg-black" style="background: url(\'' + data.bg_img + '\') center center;">\
				<h3 class="widget-user-username">' + data.name + '</h3>\
			</div>\
			<div class="widget-user-image" style="top: 50px;">\
				<img class="img-circle" src="' + data.img + '" alt="User Avatar">\
			</div>\
			<div class="box-footer" style="padding-top:15px;">\
				<ul class="nav nav-tabs">\
					<li class="col-md-4"><a href="#group_details_1" data-toggle="tab" style="text-align: center;">群信息</a></li>\
					<li class="col-md-4"><a href="#group_details_2" data-toggle="tab" style="text-align: center;">群成员</a></li>\
					<li class="col-md-4"><a href="#group_details_3" data-toggle="tab" style="text-align: center;">群设置</a></li>\
				</ul>\
				<div class="tab-content" style="min-height: 200px;">\
					<div class="tab-pane active" id="group_details_1">\
						<dl class="dl-horizontal">\
							<dt>群名称</dt>\
							<dd>' + data.name + '</dd>\
							<dt>创建时间</dt>\
							<dd>' + data.datetime + '</dd>\
							<dt>群主/管理员</dt>\
							<dd><img class="img-circle" src="' + data.host_img + '" style="width: 40px;"></dd>\
							<dt>群二维码：</dt>\
							<dd><img class="bi_code" src="' + data.bi_code +'"></dd>\
							<dt>群公告：</dt>\
							<dd>' + data.introduction + '</dd>\
						</dl>\
					</div>\
					<div class="tab-pane" id="group_details_2">\
						<div class="box">\
							<div class="box-header">\
								<h3 class="box-title">群组成员</h3>\
								<div class="box-tools">\
									<div class="input-group input-group-sm" style="width: 150px;">\
										<input type="text" name="table_search" class="form-control pull-right" placeholder="搜索">\
										<div class="input-group-btn">\
											<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>\
										</div>\
									</div>\
								</div>\
							</div>\
							<div class="box-body table-responsive no-padding">\
								<table class="table table-hover">\
									<tbody>\
								</tbody></table>\
							</div>\
							' + (data.authority == 1? '<a href="#" class="btn btn-success form-control" data-action="addmember" data-id="' + data.id + '" style="margin-top: 50px;"><i class="fa fa-user-plus"></i> 添加群成员</a>' : '')+ '\
						</div>\
					</div>\
					<div class="tab-pane" id="group_details_3">\
						<div class="form-group" style="margin: 15px 15px;">\
							<label >\
								<input type="checkbox" class="flat-red" checked ' + (data.authority == 0? 'disabled' : '') + '>\
								消息免打扰\
							</label>\
						</div>\
						<div class="form-group" style="margin: 15px 15px;">\
							<label >\
								<input type="checkbox" class="flat-red" checked ' + (data.authority == 0? 'disabled' : '') + '>\
								新成员加入需要管理员验证 \
							</label>\
						</div>\
						<div class="form-group" style="margin: 15px 15px;">\
							<label >\
								<input type="checkbox" class="flat-red" checked ' + (data.authority == 0? 'disabled' : '') + '>\
								仅允许群主及管理员邀请新成员 \
							</label>\
						</div>'
						 + (data.authority == 0? '<a href="#" class="btn btn-danger form-control" data-action="quit" data-id="' + data.id + '" style="margin-top: 50px;">退出群组</a>' : '<a href="#" class="btn btn-danger form-control" data-action="dismiss" data-id="' + data.id + '" style="margin-top: 50px;">解散群组</a>') +
					'</div>\
				</div>\
			</div>\
		</div>'
	);
	$.each(data.member, function(index, d){
		$('#group_details_2 tbody').append(
			'<tr>\
				<td><img src="' + d.img + '" class="img-circle" style="width: 40px;"></td>\
				<td>' + d.name + '</td>\
				<td>' + d.title + '</td>\
				<td>' + (d.authority == 1? '<span class="label label-danger">群主' : '<span class="label label-success">成员' )  + '</span></td>\
			</tr>'
		);
	});
	
	$('#group_details_3 a[data-action="dismiss"]').on('click', function(){
		if(confirm('您确定要解散该群组'))
			$.get(ACTION_MAP.dismissGroup, {id: $(this).attr('data-id')}, function(data){
				alert('群组已解散');
				location.reload();
				//$('#group_details').modal('hide');
			}).fail(function(err){
				console.log(err);
			});
	});
	
	$('#group_details_3 a[data-action="quit"]').on('click', function(){
		if(confirm('您确定要退出该群组'))
			$.get(ACTION_MAP.quitGroup, {id: $(this).attr('data-id')}, function(data){
				alert('您已退出该群组');
				//$('#group_details').modal('hide');
				location.reload();
			}).fail(function(err){
				console.log(err);
			});
	});
	
	$('input[type="checkbox"].flat-red').iCheck({
		checkboxClass: 'icheckbox_flat-green',
		radioClass: 'iradio_flat-green'
	});
};
$('a[href="#tab_grouplist_1"]').on('show.bs.tab', function(e){
	$.get(ACTION_MAP.getAllGroup, function(data){
		$('#tab_grouplist_1').empty();
		$.each(data, function(index, d){
			$('#tab_grouplist_1').append(groupBlockStyle(d));
		});
		$('#tab_grouplist_1 .group-box a[data-action="management"]').on('click', function(){
			$.get(ACTION_MAP.getGroupDetails, {id: $(this).attr('data-id')}, function(data){
				loadGroupDetails(data);
				$('#group_details').modal('show');
			}).fail(function(err){
				console.log(err);
			});
		
		});
	}).fail(function(err){
		console.log(err);
	});
});
$('a[href="#tab_grouplist_2"]').on('show.bs.tab', function(e){
	$.get(ACTION_MAP.getAllGroup, function(data){
		$('#tab_grouplist_2').empty();
		$.each(data, function(index, d){
			if(d.authority == 1)
				$('#tab_grouplist_2').append(groupBlockStyle(d));
		});
		$('#tab_grouplist_2 .group-box a[data-action="management"]').on('click', function(){
			$.get(ACTION_MAP.getGroupDetails, {id: $(this).attr('data-id')}, function(data){
				loadGroupDetails(data);
				$('#group_details').modal('show');
			}).fail(function(err){
				console.log(err);
			});
		
		});
	}).fail(function(err){
		console.log(err);
	});
});
$('a[href="#tab_grouplist_3"]').on('show.bs.tab', function(e){
		$.get(ACTION_MAP.getAllGroup, function(data){
		$('#tab_grouplist_3').empty();
		$.each(data, function(index, d){
			if(d.authority == 0)
				$('#tab_grouplist_3').append(groupBlockStyle(d));
		});
		$('#tab_grouplist_3 .group-box a[data-action="management"]').on('click', function(){
			$.get(ACTION_MAP.getGroupDetails, {id: $(this).attr('data-id')}, function(data){
				loadGroupDetails(data);
				$('#group_details').modal('show');
			}).fail(function(err){
				console.log(err);
			});
		
		});
	}).fail(function(err){
		console.log(err);
	});
});

$('a[href="#tab_grouplist"]').on('show.bs.tab', function(e){
	$('a[href="#tab_grouplist_1"]').tab('show');
});
//群组列表结束

$(document).on('ready', function(){
	$('a[href="#tab_friendlist"]').tab('show');
	$.fn.select2.defaults.set("theme", "bootstrap");
});
</script>
</body>
</html>
