<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Post</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.6 -->
		<link rel="stylesheet" href="plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
		<!-- Font Awesome -->
		<link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
		<!-- Ionicons -->
		<link rel="stylesheet" href="plugins/ionicons-2.0.1/css/ionicons.min.css" />

		<!-- Theme style -->
		<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/AdminLTE.min.css" />
		<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/_all-skins.min.css" />
		<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/skin-red-light.min.css" />
		<!-- <link rel="shortcut icon" href="./Img/logo.png"> -->
		<link href="plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
		<link href="plugins/bootstrap-fileinput/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />


		<!--用户自定义的CSS-->

		<link rel="stylesheet" href="plugins/iCheck/all.css" />
		<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet /">
		<!-- <link rel="shortcut icon" href="./Img/logo.png"> -->
		<link href="css/mine.css" rel="stylesheet" />
		<!-- Google Font -->
		<link href="plugins/material-icons/icon.css" rel="stylesheet">
		
		<!-- 样式 20170506 -->
		<link href="css/style_20170506.css" rel="stylesheet" />
	</head>
    
	<body class="hold-transition sidebar-mini skin-green-light" id="post_main_page" type="post_info" data-currentPage="0">
		<!-- Nav Top -->
		<% include layout/layout_individual_navtop %>
		
		<!-- Nav Left -->
		<% include layout/layout_individual_navleft %>
		
		<!-- User Block -->
		<% include layout/layout_individual_blockuser %>
		
		<!-- Modal -->
		<% include layout/layout_individual_modals %>
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content post-wall">
				<div class="create-post">
					<div class="box box-widget">
					<div class="box-header with-border">
						<img src="dist/img/avatar04.png" class="img-circle" />
						<span>分享你的动态</span>
						<span class="pull-right"><a><i class="fa fa-camera"></i></a></span>
					</div>
					</div>
				</div>
				<div style="margin: 0px 10px;">
					<div id="moment_box_2876245355730102_post"><div class="box box-widget box-moment" style="box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);"><div class="box-header with-border"><div class="user-block"><img class="img-circle" src="dist/img/avatar04.png" alt="User Image" onclick="showGroupTemplate(this)" color="rgb(125, 86, 193)" data-id="2875897332439210_group"><span class="username"><a href="javascript:void(0);" onclick="showGroupTemplate(this)" color="rgb(235, 63, 121)" data-id="2875897332439210_group">Zhicheng Fu</a>               <small><i class="fa fa-chevron-right" style="margin-right:5px;"></i><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资讯" data-id="资讯" style="color:#00a65a">资讯&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资源" data-id="资源" style="color:#00a65a">资源&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="工具" data-id="工具" style="color:#00a65a">工具&nbsp;&nbsp;</a></small></span><span class="description" style="margin-top:5px;">2017年04月21号 15:10:36</span><span class="username" style="margin-left:0px;margin-top: 10px;"><a href="javascript:void(0);" onclick="showSingePostInfo(this)" data-id="2876245355730102_post">王詩安 Diana Wang - HOME (official Music Video)</a></span></div><div class="box-tools" style="top:0px;"><button type="button" class="btn btn-box-tool" onclick="showSingePostInfo(this)" data-id="2876245355730102_post"><i class="fa fa-external-link" aria-hidden="true"></i></button></div></div><div class="box-body"><img class="img-responsive pad" src="https://i.ytimg.com/vi/mrEee4bhc7Y/maxresdefault.jpg" alt="Photo"><div class="box-nav-bottom"> <a class="box-footer-item" href="javascript:void(0);" onclick="showLoginPage();"><span class="fa fa-comment"></span>  <i class="data"></i><i class="data" id="comment_size_2876245355730102_post"> 0</i></a>									<a class="box-footer-item" data-toggle="collapse" href="#collapse-tag-2876245355730102_post"><span class="fa fa-tag"></span> <i class="data">1</i></a>									<a href="javascript:void(0);" onclick="showLoginPage();" class="moment-like box-footer-item" data-id="2876245355730102_post" data-like="0"><span class="fa fa-thumbs-o-up"></span> <i class="data" id="total_like_2876245355730102_post">0</i></a><a href="javascript:void(0);" onclick="showLoginPage();" class="moment-star box-footer-item" data-id="2876245355730102_post" data-star="0"><span class="fa fa-star-o"></span></a></div><div id="collapse-tag-2876245355730102_post" class="collapse in box-footer"><span class="moment-tag" style="margin-right: 5px;"><a href="javascript:void(0);" data-option="3" onclick="goSearchPage(this)" data-query="绘图" data-genre="绘图" class="btn btn-primary btn-xs "><i class="fa fa-tag">&nbsp;绘图</i></a></span></div> </div></div></div>
				</div>
				<div style="margin: 0px 10px;">
					<div id="moment_box_2876245355730102_post"><div class="box box-widget box-moment" style="box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);"><div class="box-header with-border"><div class="user-block"><img class="img-circle" src="dist/img/avatar04.png" alt="User Image" onclick="showGroupTemplate(this)" color="rgb(125, 86, 193)" data-id="2875897332439210_group"><span class="username"><a href="javascript:void(0);" onclick="showGroupTemplate(this)" color="rgb(235, 63, 121)" data-id="2875897332439210_group">Zhicheng Fu</a>               <small><i class="fa fa-chevron-right" style="margin-right:5px;"></i><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资讯" data-id="资讯" style="color:#00a65a">资讯&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资源" data-id="资源" style="color:#00a65a">资源&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="工具" data-id="工具" style="color:#00a65a">工具&nbsp;&nbsp;</a></small></span><span class="description" style="margin-top:5px;">2017年04月21号 15:10:36</span><span class="username" style="margin-left:0px;margin-top: 10px;"><a href="javascript:void(0);" onclick="showSingePostInfo(this)" data-id="2876245355730102_post">王詩安 Diana Wang - HOME (official Music Video)</a></span></div><div class="box-tools" style="top:0px;"><button type="button" class="btn btn-box-tool" onclick="showSingePostInfo(this)" data-id="2876245355730102_post"><i class="fa fa-external-link" aria-hidden="true"></i></button></div></div><div class="box-body"><img class="img-responsive pad" src="https://lh3.googleusercontent.com/-yTFXOKHCM0g/WPpdra6jvyI/AAAAAAAAMn8/9YOdTBnoRr00Y1yqJF1jVjn_PwIlVSnogCJoC/w530-h353-p-rw/_L7A9709.jpg" alt="Photo"><div class="box-nav-bottom"> <a class="box-footer-item" href="javascript:void(0);" onclick="showLoginPage();"><span class="fa fa-comment"></span>  <i class="data"></i><i class="data" id="comment_size_2876245355730102_post"> 0</i></a>									<a class="box-footer-item" data-toggle="collapse" href="#collapse-tag-2876245355730102_post"><span class="fa fa-tag"></span> <i class="data">1</i></a>									<a href="javascript:void(0);" onclick="showLoginPage();" class="moment-like box-footer-item" data-id="2876245355730102_post" data-like="0"><span class="fa fa-thumbs-o-up"></span> <i class="data" id="total_like_2876245355730102_post">0</i></a><a href="javascript:void(0);" onclick="showLoginPage();" class="moment-star box-footer-item" data-id="2876245355730102_post" data-star="0"><span class="fa fa-star-o"></span></a></div><div id="collapse-tag-2876245355730102_post" class="collapse in box-footer"><span class="moment-tag" style="margin-right: 5px;"><a href="javascript:void(0);" data-option="3" onclick="goSearchPage(this)" data-query="绘图" data-genre="绘图" class="btn btn-primary btn-xs "><i class="fa fa-tag">&nbsp;绘图</i></a></span></div> </div></div></div>
				</div>
				<div style="margin: 0px 10px;">
					<div id="moment_box_2876245355730102_post"><div class="box box-widget box-moment" style="box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);"><div class="box-header with-border"><div class="user-block"><img class="img-circle" src="dist/img/avatar04.png" alt="User Image" onclick="showGroupTemplate(this)" color="rgb(125, 86, 193)" data-id="2875897332439210_group"><span class="username"><a href="javascript:void(0);" onclick="showGroupTemplate(this)" color="rgb(235, 63, 121)" data-id="2875897332439210_group">Zhicheng Fu</a>               <small><i class="fa fa-chevron-right" style="margin-right:5px;"></i><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资讯" data-id="资讯" style="color:#00a65a">资讯&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资源" data-id="资源" style="color:#00a65a">资源&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="工具" data-id="工具" style="color:#00a65a">工具&nbsp;&nbsp;</a></small></span><span class="description" style="margin-top:5px;">2017年04月21号 15:10:36</span><span class="username" style="margin-left:0px;margin-top: 10px;"><a href="javascript:void(0);" onclick="showSingePostInfo(this)" data-id="2876245355730102_post">王詩安 Diana Wang - HOME (official Music Video)</a></span></div><div class="box-tools" style="top:0px;"><button type="button" class="btn btn-box-tool" onclick="showSingePostInfo(this)" data-id="2876245355730102_post"><i class="fa fa-external-link" aria-hidden="true"></i></button></div></div><div class="box-body"><img class="img-responsive pad" src="https://lh3.googleusercontent.com/--H-UM-658vQ/WPeXkv2F1qI/AAAAAAAAMlM/MZx4qgiaqyg9UkH5IeSMSL7kefRT13pMgCJoC/w530-h265-p-rw/preview-full-GoCloud_resize.png" alt="Photo"><div class="box-nav-bottom"> <a class="box-footer-item" href="javascript:void(0);" onclick="showLoginPage();"><span class="fa fa-comment"></span>  <i class="data"></i><i class="data" id="comment_size_2876245355730102_post"> 0</i></a>									<a class="box-footer-item" data-toggle="collapse" href="#collapse-tag-2876245355730102_post"><span class="fa fa-tag"></span> <i class="data">1</i></a>									<a href="javascript:void(0);" onclick="showLoginPage();" class="moment-like box-footer-item" data-id="2876245355730102_post" data-like="0"><span class="fa fa-thumbs-o-up"></span> <i class="data" id="total_like_2876245355730102_post">0</i></a><a href="javascript:void(0);" onclick="showLoginPage();" class="moment-star box-footer-item" data-id="2876245355730102_post" data-star="0"><span class="fa fa-star-o"></span></a></div><div id="collapse-tag-2876245355730102_post" class="collapse in box-footer"><span class="moment-tag" style="margin-right: 5px;"><a href="javascript:void(0);" data-option="3" onclick="goSearchPage(this)" data-query="绘图" data-genre="绘图" class="btn btn-primary btn-xs "><i class="fa fa-tag">&nbsp;绘图</i></a></span></div> </div></div></div>
				</div>
				<div style="margin: 0px 10px;">
					<div id="moment_box_2876245355730102_post"><div class="box box-widget box-moment" style="box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);"><div class="box-header with-border"><div class="user-block"><img class="img-circle" src="dist/img/avatar04.png" alt="User Image" onclick="showGroupTemplate(this)" color="rgb(125, 86, 193)" data-id="2875897332439210_group"><span class="username"><a href="javascript:void(0);" onclick="showGroupTemplate(this)" color="rgb(235, 63, 121)" data-id="2875897332439210_group">Zhicheng Fu</a>               <small><i class="fa fa-chevron-right" style="margin-right:5px;"></i><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资讯" data-id="资讯" style="color:#00a65a">资讯&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资源" data-id="资源" style="color:#00a65a">资源&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="工具" data-id="工具" style="color:#00a65a">工具&nbsp;&nbsp;</a></small></span><span class="description" style="margin-top:5px;">2017年04月21号 15:10:36</span><span class="username" style="margin-left:0px;margin-top: 10px;"><a href="javascript:void(0);" onclick="showSingePostInfo(this)" data-id="2876245355730102_post">王詩安 Diana Wang - HOME (official Music Video)</a></span></div><div class="box-tools" style="top:0px;"><button type="button" class="btn btn-box-tool" onclick="showSingePostInfo(this)" data-id="2876245355730102_post"><i class="fa fa-external-link" aria-hidden="true"></i></button></div></div><div class="box-body"><img class="img-responsive pad" src="https://lh3.googleusercontent.com/-_24U21NIhbY/WP5BL6_gsaI/AAAAAAAABkw/8foJfZr7mqAXeCJ7ZywL-q7M8C10sRruwCJoC/w443-h332-p-rw/17%2B-%2B1" alt="Photo"><div class="box-nav-bottom"> <a class="box-footer-item" href="javascript:void(0);" onclick="showLoginPage();"><span class="fa fa-comment"></span>  <i class="data"></i><i class="data" id="comment_size_2876245355730102_post"> 0</i></a>									<a class="box-footer-item" data-toggle="collapse" href="#collapse-tag-2876245355730102_post"><span class="fa fa-tag"></span> <i class="data">1</i></a>									<a href="javascript:void(0);" onclick="showLoginPage();" class="moment-like box-footer-item" data-id="2876245355730102_post" data-like="0"><span class="fa fa-thumbs-o-up"></span> <i class="data" id="total_like_2876245355730102_post">0</i></a><a href="javascript:void(0);" onclick="showLoginPage();" class="moment-star box-footer-item" data-id="2876245355730102_post" data-star="0"><span class="fa fa-star-o"></span></a></div><div id="collapse-tag-2876245355730102_post" class="collapse in box-footer"><span class="moment-tag" style="margin-right: 5px;"><a href="javascript:void(0);" data-option="3" onclick="goSearchPage(this)" data-query="绘图" data-genre="绘图" class="btn btn-primary btn-xs "><i class="fa fa-tag">&nbsp;绘图</i></a></span></div> </div></div></div>
				</div><div style="margin: 0px 10px;">
					<div id="moment_box_2876245355730102_post"><div class="box box-widget box-moment" style="box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);"><div class="box-header with-border"><div class="user-block"><img class="img-circle" src="dist/img/avatar04.png" alt="User Image" onclick="showGroupTemplate(this)" color="rgb(125, 86, 193)" data-id="2875897332439210_group"><span class="username"><a href="javascript:void(0);" onclick="showGroupTemplate(this)" color="rgb(235, 63, 121)" data-id="2875897332439210_group">Zhicheng Fu</a>               <small><i class="fa fa-chevron-right" style="margin-right:5px;"></i><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资讯" data-id="资讯" style="color:#00a65a">资讯&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资源" data-id="资源" style="color:#00a65a">资源&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="工具" data-id="工具" style="color:#00a65a">工具&nbsp;&nbsp;</a></small></span><span class="description" style="margin-top:5px;">2017年04月21号 15:10:36</span><span class="username" style="margin-left:0px;margin-top: 10px;"><a href="javascript:void(0);" onclick="showSingePostInfo(this)" data-id="2876245355730102_post">王詩安 Diana Wang - HOME (official Music Video)</a></span></div><div class="box-tools" style="top:0px;"><button type="button" class="btn btn-box-tool" onclick="showSingePostInfo(this)" data-id="2876245355730102_post"><i class="fa fa-external-link" aria-hidden="true"></i></button></div></div><div class="box-body"><img class="img-responsive pad" src="https://i.ytimg.com/vi/mrEee4bhc7Y/maxresdefault.jpg" alt="Photo"><div class="box-nav-bottom"> <a class="box-footer-item" href="javascript:void(0);" onclick="showLoginPage();"><span class="fa fa-comment"></span>  <i class="data"></i><i class="data" id="comment_size_2876245355730102_post"> 0</i></a>									<a class="box-footer-item" data-toggle="collapse" href="#collapse-tag-2876245355730102_post"><span class="fa fa-tag"></span> <i class="data">1</i></a>									<a href="javascript:void(0);" onclick="showLoginPage();" class="moment-like box-footer-item" data-id="2876245355730102_post" data-like="0"><span class="fa fa-thumbs-o-up"></span> <i class="data" id="total_like_2876245355730102_post">0</i></a><a href="javascript:void(0);" onclick="showLoginPage();" class="moment-star box-footer-item" data-id="2876245355730102_post" data-star="0"><span class="fa fa-star-o"></span></a></div><div id="collapse-tag-2876245355730102_post" class="collapse in box-footer"><span class="moment-tag" style="margin-right: 5px;"><a href="javascript:void(0);" data-option="3" onclick="goSearchPage(this)" data-query="绘图" data-genre="绘图" class="btn btn-primary btn-xs "><i class="fa fa-tag">&nbsp;绘图</i></a></span></div> </div></div></div>
				</div>
				<div style="margin: 0px 10px;">
					<div id="moment_box_2876245355730102_post"><div class="box box-widget box-moment" style="box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);"><div class="box-header with-border"><div class="user-block"><img class="img-circle" src="dist/img/avatar04.png" alt="User Image" onclick="showGroupTemplate(this)" color="rgb(125, 86, 193)" data-id="2875897332439210_group"><span class="username"><a href="javascript:void(0);" onclick="showGroupTemplate(this)" color="rgb(235, 63, 121)" data-id="2875897332439210_group">Zhicheng Fu</a>               <small><i class="fa fa-chevron-right" style="margin-right:5px;"></i><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资讯" data-id="资讯" style="color:#00a65a">资讯&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资源" data-id="资源" style="color:#00a65a">资源&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="工具" data-id="工具" style="color:#00a65a">工具&nbsp;&nbsp;</a></small></span><span class="description" style="margin-top:5px;">2017年04月21号 15:10:36</span><span class="username" style="margin-left:0px;margin-top: 10px;"><a href="javascript:void(0);" onclick="showSingePostInfo(this)" data-id="2876245355730102_post">王詩安 Diana Wang - HOME (official Music Video)</a></span></div><div class="box-tools" style="top:0px;"><button type="button" class="btn btn-box-tool" onclick="showSingePostInfo(this)" data-id="2876245355730102_post"><i class="fa fa-external-link" aria-hidden="true"></i></button></div></div><div class="box-body"><img class="img-responsive pad" src="https://lh3.googleusercontent.com/-yTFXOKHCM0g/WPpdra6jvyI/AAAAAAAAMn8/9YOdTBnoRr00Y1yqJF1jVjn_PwIlVSnogCJoC/w530-h353-p-rw/_L7A9709.jpg" alt="Photo"><div class="box-nav-bottom"> <a class="box-footer-item" href="javascript:void(0);" onclick="showLoginPage();"><span class="fa fa-comment"></span>  <i class="data"></i><i class="data" id="comment_size_2876245355730102_post"> 0</i></a>									<a class="box-footer-item" data-toggle="collapse" href="#collapse-tag-2876245355730102_post"><span class="fa fa-tag"></span> <i class="data">1</i></a>									<a href="javascript:void(0);" onclick="showLoginPage();" class="moment-like box-footer-item" data-id="2876245355730102_post" data-like="0"><span class="fa fa-thumbs-o-up"></span> <i class="data" id="total_like_2876245355730102_post">0</i></a><a href="javascript:void(0);" onclick="showLoginPage();" class="moment-star box-footer-item" data-id="2876245355730102_post" data-star="0"><span class="fa fa-star-o"></span></a></div><div id="collapse-tag-2876245355730102_post" class="collapse in box-footer"><span class="moment-tag" style="margin-right: 5px;"><a href="javascript:void(0);" data-option="3" onclick="goSearchPage(this)" data-query="绘图" data-genre="绘图" class="btn btn-primary btn-xs "><i class="fa fa-tag">&nbsp;绘图</i></a></span></div> </div></div></div>
				</div>
				<div style="margin: 0px 10px;">
					<div id="moment_box_2876245355730102_post"><div class="box box-widget box-moment" style="box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);"><div class="box-header with-border"><div class="user-block"><img class="img-circle" src="dist/img/avatar04.png" alt="User Image" onclick="showGroupTemplate(this)" color="rgb(125, 86, 193)" data-id="2875897332439210_group"><span class="username"><a href="javascript:void(0);" onclick="showGroupTemplate(this)" color="rgb(235, 63, 121)" data-id="2875897332439210_group">Zhicheng Fu</a>               <small><i class="fa fa-chevron-right" style="margin-right:5px;"></i><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资讯" data-id="资讯" style="color:#00a65a">资讯&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资源" data-id="资源" style="color:#00a65a">资源&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="工具" data-id="工具" style="color:#00a65a">工具&nbsp;&nbsp;</a></small></span><span class="description" style="margin-top:5px;">2017年04月21号 15:10:36</span><span class="username" style="margin-left:0px;margin-top: 10px;"><a href="javascript:void(0);" onclick="showSingePostInfo(this)" data-id="2876245355730102_post">王詩安 Diana Wang - HOME (official Music Video)</a></span></div><div class="box-tools" style="top:0px;"><button type="button" class="btn btn-box-tool" onclick="showSingePostInfo(this)" data-id="2876245355730102_post"><i class="fa fa-external-link" aria-hidden="true"></i></button></div></div><div class="box-body"><img class="img-responsive pad" src="https://lh3.googleusercontent.com/--H-UM-658vQ/WPeXkv2F1qI/AAAAAAAAMlM/MZx4qgiaqyg9UkH5IeSMSL7kefRT13pMgCJoC/w530-h265-p-rw/preview-full-GoCloud_resize.png" alt="Photo"><div class="box-nav-bottom"> <a class="box-footer-item" href="javascript:void(0);" onclick="showLoginPage();"><span class="fa fa-comment"></span>  <i class="data"></i><i class="data" id="comment_size_2876245355730102_post"> 0</i></a>									<a class="box-footer-item" data-toggle="collapse" href="#collapse-tag-2876245355730102_post"><span class="fa fa-tag"></span> <i class="data">1</i></a>									<a href="javascript:void(0);" onclick="showLoginPage();" class="moment-like box-footer-item" data-id="2876245355730102_post" data-like="0"><span class="fa fa-thumbs-o-up"></span> <i class="data" id="total_like_2876245355730102_post">0</i></a><a href="javascript:void(0);" onclick="showLoginPage();" class="moment-star box-footer-item" data-id="2876245355730102_post" data-star="0"><span class="fa fa-star-o"></span></a></div><div id="collapse-tag-2876245355730102_post" class="collapse in box-footer"><span class="moment-tag" style="margin-right: 5px;"><a href="javascript:void(0);" data-option="3" onclick="goSearchPage(this)" data-query="绘图" data-genre="绘图" class="btn btn-primary btn-xs "><i class="fa fa-tag">&nbsp;绘图</i></a></span></div> </div></div></div>
				</div>
				<div style="margin: 0px 10px;">
					<div id="moment_box_2876245355730102_post"><div class="box box-widget box-moment" style="box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);"><div class="box-header with-border"><div class="user-block"><img class="img-circle" src="dist/img/avatar04.png" alt="User Image" onclick="showGroupTemplate(this)" color="rgb(125, 86, 193)" data-id="2875897332439210_group"><span class="username"><a href="javascript:void(0);" onclick="showGroupTemplate(this)" color="rgb(235, 63, 121)" data-id="2875897332439210_group">Zhicheng Fu</a>               <small><i class="fa fa-chevron-right" style="margin-right:5px;"></i><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资讯" data-id="资讯" style="color:#00a65a">资讯&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="资源" data-id="资源" style="color:#00a65a">资源&nbsp;&nbsp;</a><a href="javascript:void(0);" onclick="goSearchPage(this)" data-option="2" data-query="工具" data-id="工具" style="color:#00a65a">工具&nbsp;&nbsp;</a></small></span><span class="description" style="margin-top:5px;">2017年04月21号 15:10:36</span><span class="username" style="margin-left:0px;margin-top: 10px;"><a href="javascript:void(0);" onclick="showSingePostInfo(this)" data-id="2876245355730102_post">王詩安 Diana Wang - HOME (official Music Video)</a></span></div><div class="box-tools" style="top:0px;"><button type="button" class="btn btn-box-tool" onclick="showSingePostInfo(this)" data-id="2876245355730102_post"><i class="fa fa-external-link" aria-hidden="true"></i></button></div></div><div class="box-body"><img class="img-responsive pad" src="https://lh3.googleusercontent.com/-_24U21NIhbY/WP5BL6_gsaI/AAAAAAAABkw/8foJfZr7mqAXeCJ7ZywL-q7M8C10sRruwCJoC/w443-h332-p-rw/17%2B-%2B1" alt="Photo"><div class="box-nav-bottom"> <a class="box-footer-item" href="javascript:void(0);" onclick="showLoginPage();"><span class="fa fa-comment"></span>  <i class="data"></i><i class="data" id="comment_size_2876245355730102_post"> 0</i></a>									<a class="box-footer-item" data-toggle="collapse" href="#collapse-tag-2876245355730102_post"><span class="fa fa-tag"></span> <i class="data">1</i></a>									<a href="javascript:void(0);" onclick="showLoginPage();" class="moment-like box-footer-item" data-id="2876245355730102_post" data-like="0"><span class="fa fa-thumbs-o-up"></span> <i class="data" id="total_like_2876245355730102_post">0</i></a><a href="javascript:void(0);" onclick="showLoginPage();" class="moment-star box-footer-item" data-id="2876245355730102_post" data-star="0"><span class="fa fa-star-o"></span></a></div><div id="collapse-tag-2876245355730102_post" class="collapse in box-footer"><span class="moment-tag" style="margin-right: 5px;"><a href="javascript:void(0);" data-option="3" onclick="goSearchPage(this)" data-query="绘图" data-genre="绘图" class="btn btn-primary btn-xs "><i class="fa fa-tag">&nbsp;绘图</i></a></span></div> </div></div></div>
				</div>
			</section>
			
				
			<div class="block-rightbot">
			</div>
			<a class="btn btn-success btn-lg switch-rightbot btn-rightbot"><i class="fa fa-plus"></i></a>
			
			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<div class="tab-content">
					<div class="tab-pane active" id="control-sidebar-theme">
					</div>
				</div>
			</aside>
			<div class="control-sidebar-bg"></div>
		</div>
	</body>
		
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="plugins/jQueryUI/jquery-ui.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="plugins/AdminLTE-2.3.11/js/app.min.js"></script>
	<!-- Slimscroll -->
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<!-- <script src="JS/raphael-min.js"></script> -->
	<script src="plugins/morris/morris.min.js"></script>
	<script src="plugins/fastclick/fastclick.min.js"></script>
	<script src="plugins/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/themes/explorer/theme.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
	
	<script src="plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
	<!-- <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> -->
	<script src="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
	<script src="plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>

	<!-- <script src="JS/sideRow.js"></script> -->
	<!--    <script src="JS/Admin_Head/mine.js"></script>-->
	<script>
		$.widget.bridge('uibutton', $.ui.button);
	</script>
	<!-- custome javascript and css-->
	<script src="plugins/iCheck/icheck.min.js"></script>
	
	<link href="plugins/select2/select2.min.css" rel="stylesheet" />
	<link href="plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	<script src="plugins/select2/select2.full.min.js"></script>
	<script src="plugins/select2/i18n/zh-CN.js"></script>
	<!-- JQuery Confirm -->
	<link rel="stylesheet" href="plugins/jquery-confirm/jquery-confirm.min.css">
	<script src="plugins/jquery-confirm/jquery-confirm.min.js"></script>
	
	<!-- <script src="js/mine.js"></script> -->
	<script src="js/javascript.js"></script>
	<script>
	$( document ).ready(function() {
		//左侧siderbar按钮
		$('.btn-hide').on('click', function(e){
			$('.sidebar-collapse').hide("slow");
		});
		
		$('#btn-sidebar-toggle').on('click', function(e){
			$( ".sidebar-collapse" ).toggle("slow");
		});
		
		//slimScroll
		$("#modal-profile .modal-content").slimScroll({
        height: '80vh'
    });
		
		$(".content-wrapper").slimScroll({
        height: 'calc(100vh - 100px)'
    });
		
		//编辑个人信息Select2
		$.fn.select2.defaults.set("theme", "bootstrap");
		$("#modal-profile #select-title").select2({
			language: 'zh-CN',
			tags: true
		});
		
		$("#modal-profile #select-genres").select2({
			language: 'zh-CN',
			tags: true
		});
		
		$("#modal-profile #select-tags").select2({
			language: 'zh-CN',
			tags: true
		});
		
		//搜索
		var formatState = function(data) {
			var $data = $(
				'<div class="user-block">\
					<img class="img-circle img-bordered-sm" src="' + data.img + '" alt="User Image">\
					<span class="username">\
						<div>' + data.text + '</div>\
					</span>\
					<span class="description">结果： ' + data.count + '个</span>\
				</div>'
			);
			return $data;
		};
		$('#input-search').select2({
			language: 'zh-CN',
			allowClear: true,
			minimumInputLength: 1,
			ajax:  {
				url: '/searchmoment',
				delay: 250,
				processResults: function (data) {
					return {
						results: data
					};
				}
			},
			templateResult	: formatState,
		});
		
		$('#input-search').on('select2:select', function (evt) {
			var data = $(this).select2('data')[0];
			console.log(data);
			window.location.href = "http://129.89.35.212/Transtopia_beta/groups.jsp";
		});
		
		$('#input-search').on('select2:open', function (evt) {
			$(this).val('').trigger('change');
		});
		
		
		//加载用户信息
		loadUserBlock(data_user);
		loadNavTop(data_user);
		
		
		//initModalTag('头衔', 'face', data_title_1, data_title_2, 'action1', 'action2');
		
		//initModalListBlock('黑名单管理', data_user);
		//callAlert('提示框', 'clear');
		//callAlert('提示框', 'done');
		//confirm('abc','abc');
		//console.log(confirm('abc','abc'));
		//console.log(callConfirm('确定要删除好友？'));	3
		//callConfirm('确定要删除好友？');
		//$('#modal_sharedwith').modal('show');
		
		
		$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
		
		$("#kv-explorer").fileinput({
				'theme': 'explorer',
				'uploadUrl': '#',
				overwriteInitial: false,
				initialPreviewAsData: true,
				initialPreview: [
						"http://lorempixel.com/1920/1080/nature/1",
						"http://lorempixel.com/1920/1080/nature/2",
						"http://lorempixel.com/1920/1080/nature/3"
				],
				initialPreviewConfig: [
						{caption: "nature-1.jpg", size: 329892, width: "120px", url: "{$url}", key: 1},
						{caption: "nature-2.jpg", size: 872378, width: "120px", url: "{$url}", key: 2},
						{caption: "nature-3.jpg", size: 632762, width: "120px", url: "{$url}", key: 3}
				]
		});
		
		//loadUserListModal(data_userlist, data_userlist);
		//test btn effect
		$('.switch-rightbot').on('click', function(){
			$(this).find('i').toggleClass('fa-plus').toggleClass('fa-minus');
			$('.block-rightbot').toggle(300);
		});
		
		var loadRightBotBlock = function(list){
			$.each(list, function(index, item){
				console.log(item);
				var temp = $(
										'<div>\n' +
										'	<span>' + item.title + '</span>\n' +
										'	<a href="' + item.href + '" class="btn btn-success btn-lg btn-rightbot"><i class="fa ' + item.icon + '"></i></a>\n' +
										'</div>'
										);
				$('.block-rightbot').append(temp);
			});
		};
		
		
		
		var test_abc = [
			{
				title: '测试1',
				icon: 'fa-pencil',
				href: 'https://www.baidu.com/'
			},
			{
				title: '测试2',
				icon: 'fa-user',
				href: 'https://www.baidu.com/'
			},
			{
				title: '测试3',
				icon: 'fa-google',
				href: 'https://www.baidu.com/'
			}
		];
		loadRightBotBlock(test_abc);
	});
	</script>
</html>


