<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Transtopia - 云盘</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	</head>
    
	<body class="customized-scrollbar">
		<!-- 置顶一级导航栏 -->
		<div class="nav-top">
			<div id="firstNavTop">
			</div>
			<div id="secondNavTop"></div>
		</div>
		
		
		<!-- 主要展示框 -->
		<div id="mainBlock"></div>
		
		<!-- 右下角按钮组 -->
		<div id="btngroup-rightbot">
		</div>
		
		<div id="progressbar-leftbot">
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
				 
				</div>
			</div>
			<a class="maximize" href="javascript: void(0);" style=""><i class="fa fa-window-restore"></i></a>
		</div>
		
		<style>
			#progressbar-leftbot {
				display: none;
				position: absolute;
				bottom: 50px;
				left: 50px;
				padding: 15px;
				border-radius: 3px;
				background: rgba(0,0,0,0.28);
			}
			
			#progressbar-leftbot .progress {
				margin: 0 !important;
				display: inline-block;
				width: 200px;
			}
			
			#progressbar-leftbot .maximize {
				margin-left: 10px;
				color: rgba(255,255,255,.8);
				font-size: 16px;
			}
			
		</style>
		
		<!-- <div id="selected-box">
			<div class="select-header">
				目录名
				<span class="select-back"><i class="fa fa-arrow-left"></i></span>
			</div>
			
			<div class="select-body customized-scrollbar">
				<div class="select-item">
					<i class="fa fa-folder" style="margin-right: 5px;"></i>
					<span>fasfdas</span>
					<i class="fa fa-arrow-right pull-right" style="cursor: pointer;"></i>
				</div>
				<div class="select-item">
					<i class="fa fa-folder" style="margin-right: 5px;"></i>
					<span>fasfdas</span>
					<i class="fa fa-arrow-right pull-right" style="cursor: pointer;"></i>
				</div>
				<div class="select-item">
					<i class="fa fa-folder" style="margin-right: 5px;"></i>
					<span>fasfdas</span>
					<i class="fa fa-arrow-right pull-right" style="cursor: pointer;"></i>
				</div>
				<div class="select-item">
					<i class="fa fa-folder" style="margin-right: 5px;"></i>
					<span>fasfdas</span>
					<i class="fa fa-arrow-right pull-right" style="cursor: pointer;"></i>
				</div>
				<div class="select-item">
					<i class="fa fa-folder" style="margin-right: 5px;"></i>
					<span>fasfdas</span>
					<i class="fa fa-arrow-right pull-right" style="cursor: pointer;"></i>
				</div>
				<div class="select-item">
					<i class="fa fa-folder" style="margin-right: 5px;"></i>
					<span>fasfdas</span>
					<i class="fa fa-arrow-right pull-right" style="cursor: pointer;"></i>
				</div>
			</div>
			
			<div class="select-footer">
				<a class="btn btn-default pull-right">关闭</a>
				<a class="btn btn-primary pull-right" style="background-color: #4285f4; margin-right: 5px;">保存</a>
				<div class="clearfix"></div>
			</div>
		</div> -->
		
		<style>
			#selected-box {
				/* display: none; */
				position: absolute;
				width: 220px;
				background-color: rgba(255,255,255,1);
				border: 1px solid rgba(0,0,0,.2);
				box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
			}
			
			
			#selected-box .select-header {
				padding: 10px;
				background-color: rgba(0,0,0,0.05);
				border-bottom: 0.02em solid rgba(0,0,0,.68);
			}
			
			#selected-box .select-header .select-back{
				float: right;
				cursor: pointer;
			}
			
			
			#selected-box .select-body{
				height: 200px;
				overflow-y: auto;
				overflow-x: hide;
			}
			
			#selected-box .select-body .select-item{
				color: rgba(0,0,0,.5);
				padding: 10px;
			}
			
			#selected-box .select-body .select-item:hover{
				background-color: rgba(0,0,0,.03);
			}
			
			#selected-box .select-body .select-item.active {
				color: rgba(255,255,255,1);
				background-color: #4285f4;
			}
			
			#selected-box .select-footer {
				
				padding: 10px;
				border-top: 0.02em solid rgba(0,0,0,.68);
			}
			
			
		</style>
		
		
		<!-- jQuery	 -->
		<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
		
		<!-- jQuery-UI -->
<!-- 		<script src="plugins/jQueryUI/jquery-ui.min.js"></script> -->
		<script>
			
			
			
		</script>
		
		
		<div class="modal fade" id="test">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="main-content">
							<div class="modal-header" style="padding: 0 0 15px 0;">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<h4 class="modal-title">分享设置</h4>
							</div>
							
							<div class="box">
								<div class="box-header">
									<span class="box-title" style="font-size: 18px;"><i class="fa fa-users"></i> 成员名单</span>
									<span class="box-title pull-right" >
										<a href="javascript: void(0);" style="padding-right: 5px;" data-adduser><i class="fa fa-plus"></i></a>
										<a href="javascript: void(0);"><i class="fa fa-trash"></i></a>
									</span>
								</div>
								
								<div class="box-body">
									<table id="example1" class="table table-bordered table-striped hover">
										<thead>
											<tr>
												<th style="width: 30px;"><input type="checkbox" name="selectall"></th>
												<th>用户</th>
												<th style="width: 150px;">权限</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><input type="checkbox" name="c1"></td>
												<td>
												<img src="http://127.0.0.1:3000/dist/img/avatar.png" style="height:40px; border-radius: 50%; border: 0.08em solid rgba(0,0,0,0.3);"> 
												<span style="padding-left: 10px;">张震宇</span>
												</td>
												<td>
													<a href="javascript: void(0);" data-authority><i class="fa fa-eye"></i> 可读</a>
													<select style="display: none;">
														<option value="volvo"><i class="fa fa-eye"></i> 可读</option>
														<option value="saab" selected><i class="fa fa-pencil"></i> 可读写</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><input type="checkbox" name="c1"></td>
												<td>
													<img src="http://127.0.0.1:3000/dist/img/avatar2.png" style="height:40px; border-radius: 50%; border: 0.08em solid rgba(0,0,0,0.3);"> 
													<span style="padding-left: 10px;">刘强</span>
												</td>
												<td>
													<a href="javascript: void(0);" data-authority><i class="fa fa-pencil"></i> 可读写</a>
													<select style="display: none;">
														<option value="volvo"><i class="fa fa-eye"></i> 可读</option>
														<option value="saab" selected><i class="fa fa-pencil"></i> 可读写</option>
													</select>
												</td>
											</tr>
											<tr>
												<td><input type="checkbox" name="c1"></td>
												<td>
													<img src="http://127.0.0.1:3000/dist/img/avatar3.png" style="height:40px; border-radius: 50%; border: 0.08em solid rgba(0,0,0,0.3);"> 
													<span style="padding-left: 10px;">陈宏</span>
												</td>
												<td>
													<a href="javascript: void(0);" data-authority><i class="fa fa-pencil"></i> 可读写</a>
													<select style="display: none;">
														<option value="volvo"><i class="fa fa-eye"></i> 可读</option>
														<option value="saab" selected><i class="fa fa-pencil"></i> 可读写</option>
													</select>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript: void(0);" data-action="submit">确定</a>
						<a href="javascript: void(0);" data-dismiss="modal">关闭</a>
					</div>
				</div>
			</div>
		</div>
		
		<style>
		#example1_wrapper .pagination {
			float: right;
		}
		#example1_wrapper .dataTables_info{

		}
		#example1_wrapper .row{
			margin-top: 15px;
		}
		#example1_wrapper .selected{
			background-color: rgba(172,186,212, 1);
		}
		#example1_filter label {
			float:right;
		}
		</style>
		
	</body>
	
	<!-- 插件与样式 -->
	<!-- jQuery	 -->
	<!-- <script src="plugins/jQuery/jquery-2.2.3.min.js"></script> -->
	
	<!-- jQuery-UI -->
	<script src="plugins/jQueryUI/jquery-ui.min.js"></script>
	
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<script src="plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	
	<!-- AdminLTE App -->
	<!-- <link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/_all-skins.min.css" />
	<script src="plugins/AdminLTE-2.3.11/js/app.min.js"></script> -->
	
	<!-- DataTables -->
	<script src="plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
	
	<!-- Slimscroll -->
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	
	<!-- bootstrap-fileinput -->
	<link href="plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
	<link href="plugins/bootstrap-fileinput/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />
	<script src="plugins/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/themes/explorer/theme.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
	
	<!-- icheck -->
	<link rel="stylesheet" href="plugins/iCheck/all.css">
	<script src="plugins/iCheck/icheck.min.js"></script>
	
	<!-- Select 2 -->
	<link href="plugins/select2/select2.min.css" rel="stylesheet" />
	<link href="plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	<script src="plugins/select2/select2.full.min.js"></script>
	<script src="plugins/select2/i18n/zh-CN.js"></script>
	
	<!-- JQuery Confirm -->
	<link rel="stylesheet" href="plugins/jquery-confirm/jquery-confirm.min.css">
	<script src="plugins/jquery-confirm/jquery-confirm.min.js"></script>
	
	<!-- Google Font -->
	<link href="plugins/material-icons/icon.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
	
	<!-- bootstrap-wysiwyg -->
	<!-- <link href="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
	<script src="plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
	<script src="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
	<script src="plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script> -->
	
	
	<!-- <link href="plugins/contextMenu.js-master/contextMenu.min.css" rel="stylesheet">
	<script src="plugins/contextMenu.js-master/contextMenu.js"></script> -->
	
	<!-- jquery download -->
	<!-- <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" /> -->
	<!-- <link href="plugins/jquery-download/Content/Site.css" rel="stylesheet" type="text/css" /> -->
	<!-- <script src="plugins/jquery-download/Scripts/jquery.fileDownload.js" type="text/javascript"></script> -->
	<!-- <script type="text/javascript" src="plugins/jquery-download/Scripts/Support/shCore.js"></script>
	<script type="text/javascript" src="plugins/jquery-download/Scripts/Support/shBrushJScript.js"></script>
	<script type="text/javascript" src="plugins/jquery-download/Scripts/Support/shBrushXml.js"></script>
	<link type="text/css" rel="stylesheet" href="plugins/jquery-download/Content/shCoreDefault.css" />
	<script type="text/javascript" src="plugins/jquery-download/Scripts/Support/jquery.gritter.min.js"></script>
	<link type="text/css" rel="stylesheet" href="plugins/jquery-download/Content/jquery.gritter.css" /> -->
	
	
	<!-- 自定义插件与样式 -->
	<!-- DAO -->
	<script src="js_gamma/proxy.js"></script>
	
	<!-- 插件 -->
	<script src="js_gamma/gear.js"></script>
	
	<!-- Static -->
	<script src="js_gamma/static.js"></script>
	
	<!-- Module -->
	<script src="js_gamma/module.js"></script>
	
	<!-- 全局css -->
	<link href="css_gamma/global.css" rel="stylesheet">
	
	<!-- 自定义插件 -->
	<!-- TwinRow -->
	<script src="js_gamma/twinrow.js"></script>
	<link href="css_gamma/twinrow.css" rel="stylesheet">
	<!-- SelectBox -->
	<script src="js_gamma/selectbox.js"></script>
	<link href="css_gamma/selectbox.css" rel="stylesheet">
	
	
	<!-- 文件 -->
	<script src="js_gamma/filesystem.js"></script>
	<link href="css_gamma/filesystem.css" rel="stylesheet">
	<!-- 测试 -->
	<script src="js_gamma/test_data.js"></script>

	
	
	
	<script>

	
	/*
	$.get('http://127.0.0.1:3000/dist/img/controller.js', function(data) {
		$('#abc').html(data);
	}); */
	
	var FNT = new FirstNavTop();
	FNT.setBrand(dataBrand.name, dataBrand.href);
	FNT.appendCollapseBtn();
	FNT.appendPage('私人');
	FNT.appendNav(dataNav1);
	//FNT.setLeftBtnList(dataNavLink);
	$('#firstNavTop').append(FNT.getModule());
	
	var SNT = new SecondNavTop();
	var dirNav = new DirNav();
	SNT.appendNav(dirNav.getModule());
	SNT.appendNav(dataNav3);
	$('#secondNavTop').append(SNT.getModule());
	

	
	var LC = new LeftCollapse();
	LC.setBrand(dataBrand.name, dataBrand.href);
	LC.setNav(LEFT_COLLAPSE);
	$('body').append(LC.getModule());
	
	
	
	
	var MB_FS = new MiddleBlock_FS(dirNav);
	dirNav.setBase({id: '1', name: '我的云盘'}, MB_FS.openFolder);
	MB_FS.openFolder(1);
	
	var LB_FS = new LeftBlock_FS(MB_FS, dirNav);
	LB_FS.setNav(NAV_LEFT_FS_INDIVIDUAL);
	
	var RB_FS = new RightBlock_FS();

	var MB = new MainBlock();
	LB_FS.getModule().find('.content').css('height', 'calc(100vh - 102px)');
	MB.add(LB_FS.getModule());
	LB_FS.getToggleBtn().find('.content').css('height', 'calc(100vh - 102px)');
	MB.add(LB_FS.getToggleBtn());
	
	MB_FS.getModule().find('.content').css('height', 'calc(100vh - 102px)');
	MB.add(MB_FS.getModule());
	
	RB_FS.getModule().find('.content').css('height', 'calc(100vh - 102px)');
	MB.add(RB_FS.getModule());
	
	
	$('[data-type="left-list"] [data-ation="toggle"]').click(function(){
		RB_FS.toggle();
	});
	
	$('#mainBlock').append(MB.getModule());
	

	//切换样式
	SNT.getModule().find('[data-ation="view-toggle"]').click(function(){
		MB_FS.switchView();
		$(this).find('.fa').toggleClass('fa-th').toggleClass('fa-list');
	});
	
	
	
	//LinkBox();
	//updateFile();
	$('.note-toggle').click(function(){
		var isEmpty = $('.note').attr('data-empty');
		if(isEmpty == 1){
			// do something
		}else{
			var text = $('.note').text();
			$('.note-textarea').val(text);
		}
		$('.note, .note-toggle').hide();
		$('.note-textarea').show();
	});
	
	$(".note-textarea").on('keydown', function (e) {
		if (e.keyCode == 13) {
			var text = $(this).val();
			if(text == ""){
				$('.note').text('添加备注');
				$('.note').attr('data-empty', 1);
			}else{
				$('.note').attr('data-empty', 0);
				$('.note').text(text);
			}
			$('.note, .note-toggle').show();
			$('.note-textarea').hide();
		}
	});
	</script>
	
	<style>
		.search-dropdown-input {
			width: calc(100vw - 1200px) !important;
			min-width : 200px;
			max-width : 600px;
		}
	
		.search-submit {
			position: relative;
			left: -30px;
			color: rgba(0,0,0,.4);
		}
		
		.search-dropdown-menu {
			margin: 0 !important;
			padding: 0 !important;
			width: calc(100vw - 1200px) !important;
			min-width : 200px !important;
			max-width : 600px !important;
			border-top-right-radius: 0 !important;
			border-top-left-radius: 0 !important;
			border-top: none !important;
		}
		
		.search-dropdown-menu li a {
			padding-top: 10px !important;
			padding-bottom: 10px !important;
		}
		.search-dropdown-menu li i {
			padding: 3px;
			margin-right: 10px;
			border-radius: 2px;
			color: white;
		}
	</style>
	<script>
		var InputWithDropdown = function(){
			var $module = $(
				'<form class="navbar-form navbar-left">\n' +
				'	<div id="first-nav-search" class="form-group dropdown">\n' +
				'		<input type="text" class="form-control search-dropdown-input" placeholder="搜索" data-toggle="dropdown">\n' +
				'		<a class="search-submit" href="javascript: void(0);"><i class="fa fa-search"></i></a>\n' +
				'		<div class="dropdown-menu search-dropdown-menu" style="">\n' +
				'			<li><a href="javascript: void(0);" data-input="type:pdf"><i class="fa fa-file-pdf-o" style="background-color: rgb(219, 50, 54);"></i> PDF 文档</a></li>\n' +
				'			<li><a href="javascript: void(0);" data-input="type:word"><i class="fa fa-file-word-o" style="background-color: rgb(72, 133, 237);"></i> Word 文档</a></li>\n' +
				'			<li><a href="javascript: void(0);" data-input="type:excel"><i class="fa fa-file-excel-o" style="background-color: rgb(60, 186, 84);"></i> Excel 文档</a></li>\n' +
				'			<li><a href="javascript: void(0);" data-input="type:ppt"><i class="fa fa-file-powerpoint-o" style="background-color: rgb(248, 167, 36);"></i> PowerPoint 文档</a></li>\n' +
				'			<li><a href="javascript: void(0);" data-input="type:image"><i class="fa fa-file-image-o" style="background-color: rgb(219, 50, 54);"></i> 图片</a></li>\n' +
				'			<li><a href="javascript: void(0);" data-input="type:video"><i class="fa fa-file-movie-o" style="background-color: rgb(219, 50, 54);"></i> 视频</a></li>\n' +
				'			<!-- <li class="divider"></li>\n' +
				'			<li><a href="#"> 其他功能</a></li>-->\n' +
				'		</div>\n' +
				'	</div>\n' +
				'</form>'
			);
			
			// 初始化
			(function(){
				// 输出框输入文字事件
				$module.find('.search-dropdown-input').on('keyup', function(ev){
					//回车
					if(ev.keyCode == 13){
						// 搜索
						search();
					}
					
					// 下拉菜单随输入文字toggle
					var flag = $(this).closest('.dropdown').hasClass('open');
					if(this.value == '' && !flag){
						$(this).closest('.dropdown').find('.search-dropdown-menu').dropdown('toggle');
					}else if(this.value != '' && flag){
						$(this).closest('.dropdown').find('.search-dropdown-menu').dropdown('toggle');
					}
				});
				
				// 点击下拉菜单
				$module.find('.search-dropdown-menu').on('click', 'li a', function(ev){
					$module.find('.search-dropdown-input').val($(this).attr('data-input'));
					// 搜索
					search();
				});
				
				// 点击搜索按钮
				$module.find('.search-submit').on('click', function(ev){
					search();
				});
			})();
			
			// 搜索函数
			var search = function(){
				var value = $('.search-dropdown-input').val();
				if(value == ''){
				
				}else{
					console.log(value);
				}
			};
			
			this.getModule = function(){
				return $module;
			};
		};
	</script>
</html>


