<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Transtopia - 云盘</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	</head>
    
	<body>
		<!-- 置顶一级导航栏 -->
		<div class="nav-top">
			<div id="firstNavTop"></div>
			<div id="secondNavTop"></div>
		</div>
	
		<style>
		#left-block, #middle-block, #left-block {
			transition: all 300ms;
		}
		
		
	</style>
		
		<!-- 主要展示框 -->
		<style>
			.main-block .left-block {
				width: 200px;
				background-color: rgba(0,0,0,.05);
				
			}
			
			.main-block [data-toggle="left-block"] {
				margin-top: 10px;
				padding: 5px;
				cursor: pointer;
				border-radius: 2px;
			}
			
			.main-block [data-toggle="left-block"]:hover {
				background-color: rgba(66, 133, 244, 1);
				color: rgba(255,255,255,1);
				font-size: 20px;
			}
			
			
			.main-block .middle-block {
				background-color: rgba(0,0,0,.05);
			}
			
			.main-block .middle-block .folder-block {
				padding: 15px;
			}
			
			.main-block .middle-block .file-block {
				padding: 15px;
			}
			
			
			.main-block .right-block {
				width: 300px;
				-webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
				box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
			}
			
			
			
			
			
			.folder {
				height: 50px;
				color: rgba(0,0,0,.5);
				background-color: rgba(255,255,255,1);
				margin-bottom: 15px;
				-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
				box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
				cursor: pointer;
				border-radius: 3px;
			}
			
			.folder:hover, .folder.active {
				background-color: rgba(66, 133, 244, 1);
			}
			
			.folder .icon {
				line-height: 50px;
				font-size: 24px;
				border-radius: 50%;
				padding: 4px 6px;
				margin-left: 10px;
				margin-top: -15px;
			}
			
			.folder:hover .icon, .folder.active .icon{
				background-color: rgba(255, 255, 255, 1);
			}
			
			.folder .name {
				display:inline-block;
				padding-left: 15px;
				width:calc(100% - 50px);
				font-weight: 600;
				overflow: hidden;
				white-space:nowrap;
				text-overflow:ellipsis; 
			}
			
			.folder:hover .name, .folder.active .name {
				color: rgba(255, 255, 255, 1);
			}
			
			.file {
				background-color: rgba(255,255,255,1);
				margin-bottom: 15px;
				-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
				box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
				cursor: pointer;
				border-radius: 3px;
			}
			
			.file .top {
				height: 150px;
				opacity: 0.3;
				/*
				background-image: url(http://127.0.0.1:3000/dist/img/default6.png);
				background-size: 100%;
				*/
			}
			
			.file:hover .top, .file:active .top {
				opacity: 1;
			}
			
			.file:hover .bot , .file.active .bot {
				background-color: rgba(66, 133, 244, 1);
			}
			
			.file .icon {
				padding: 4px 6px;
				margin-left: 10px;
				margin-top: -15px;
				line-height: 50px;
				font-size: 24px;
				border-radius: 50%;
			}
			
			.file:hover .icon, .file.active .icon{
				background-color: rgba(255, 255, 255, 1);
			}
			
			.file .name {
				display:inline-block;
				width:calc(100% - 50px);
				padding-left: 15px;
				font-weight: 600;
				overflow: hidden;
				white-space:nowrap;
				text-overflow:ellipsis; 
			}
			
			.file:hover .name, .file.active .name {
				color: rgba(255, 255, 255, 1);
			}
			
			
		</style>
		
		<div id="mainBlock"></div>
		
		<table class="main-block">
			<tbody>
				<tr>
					<!-- <td class="left-block">
						<div class="content customized-scrollbar">
							<ul class="nav-list">
								<li class="item noselect"><i class="fa fa-bars"></i>我的云盘</li>
								<li class="item noselect"><i class="fa fa-bars"></i>我的云盘</li>
								<li class="divider"></li>
								<li class="item noselect"><i class="fa fa-bars"></i>我的云盘</li>
								<li class="item noselect"><i class="fa fa-bars"></i>我的云盘</li>
								<li class="item noselect"><i class="fa fa-bars"></i>我的云盘</li>
							</ul>
						</div>
					</td>
					 -->
					<!-- <td style="background-color: rgba(0,0,0,.05);">
						<div class="content">
							<div data-toggle="left-block">
								<i class="fa fa-angle-double-left"></i>
							</div>
						</div>
					</td>
					 -->
					<!-- <td class="middle-block">
						<div class="content customized-scrollbar">
							<div class="folder-block">
								<div style="margin-bottom: 15px;">
									<span style="color: rgba(0,0,0,.54); font-weight: 600;">文件夹</span>
									<span class="pull-right">
										<span class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-right: 10px;color: rgba(0,0,0,.54); font-weight: 600; text-decoration: none;">{Dropdown}</a>
											<ul class="dropdown-menu">
												<li><a href="#">{sublink}</a></li>
												<li><a href="#">{sublink}</a></li>
												<li><a href="#">{sublink}</a></li>
												<li class="divider"></li>
												<li><a href="#">{sublink}</a></li>
												<li class="divider"></li>
												<li><a href="#">{sublink}</a></li>
											</ul>
										</span>
										<span style="color: rgba(0,0,0,.54); font-weight: 600;"><i class="fa fa-arrow-down"></i></span>
									</span>
								</div>
								
								<div class="folder-content row">
									<div class="col-lg-2 col-md-4 col-sm-6" folder>
										<div class="folder noselect" title="123123113212132">
										<span class="icon"><i class="fa fa-folder"></i></span>
										<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="folder noselect" title="123123113212132">
										<span class="icon"><i class="fa fa-folder"></i></span>
										<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="folder noselect" title="123123113212132">
										<span class="icon"><i class="fa fa-folder"></i></span>
										<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="folder noselect" title="123123113212132">
										<span class="icon"><i class="fa fa-folder"></i></span>
										<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="folder noselect" title="123123113212132">
										<span class="icon"><i class="fa fa-folder"></i></span>
										<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="folder noselect" title="123123113212132">
										<span class="icon"><i class="fa fa-folder"></i></span>
										<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="folder noselect" title="123123113212132">
										<span class="icon"><i class="fa fa-folder"></i></span>
										<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
										</div>
									</div>
									
								</div>
							</div>
							
							<style>
							</style>
							
							<div class="file-block">
								<p style="color: rgba(0,0,0,.54); font-weight: 600;">文件</p>
								<div class="folder-content row">
									<div class="col-lg-2 col-md-4 col-sm-6" file>
										<div class="file noselect">
											<div class="top">
												<iframe id="frame" src="http://127.0.0.1:3000/dist/img/New Text Document.txt" width="100%" scrolling="no" frameborder="0">
												</iframe>
											</div>
											<div class="bot">
												<span class="icon"><i class="fa fa-file-excel-o"></i></span>
												<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
											</div>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="file noselect">
											<div class="top">
												<iframe id="testtest" src="http://127.0.0.1:3000/dist/img/extofgong_chen.pdf" width="100%" scrolling="no" frameborder="0">
												</iframe>
											</div>
											<div class="bot">
												<span class="icon"><i class="fa fa-file-excel-o"></i></span>
												<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
											</div>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="file noselect">
											<div class="top">
												<iframe id="frame" src="http://127.0.0.1:3000/dist/img/photo1.png" width="100%" scrolling="no" frameborder="0">
												</iframe>
											</div>
											<div class="bot">
												<span class="icon"><i class="fa fa-file-excel-o"></i></span>
												<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
											</div>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="file noselect">
											<div class="top">
												<iframe id="frame" src="http://127.0.0.1:3000/dist/img/controller.js" width="100%" scrolling="no" frameborder="0">
												</iframe>
											</div>
											<div class="bot">
												<span class="icon"><i class="fa fa-file-excel-o"></i></span>
												<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
											</div>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="file noselect">
											<div class="top">
												
											</div>
											<div class="bot">
												<span class="icon"><i class="fa fa-file-excel-o"></i></span>
												<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
											</div>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6">
										<div class="file noselect">
											<div class="top">
												
											</div>
											<div class="bot">
												<span class="icon"><i class="fa fa-file-excel-o"></i></span>
												<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
											</div>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-6" file>
										<div class="file noselect">
											<div class="top">
												
											</div>
											<div class="bot">
												<span class="icon"><i class="fa fa-file-excel-o"></i></span>
												<span class="name">fasfdasfasdfsa1231231231fsfsaf</span>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</td>
					 -->
					<!-- <td class="right-block">
						<div class="content customized-scrollbar">
							<div style="padding: 15px;">

							</div>
							
						</div>
					</td>
					 -->
				</tr>
			</tbody>
		</table>
		
		<!-- <div class="left-collapse customized-scrollbar">
			<div class="brand">
				<span class="title noselect"><a href="#">Transtopia</a></span>
				<span data-toggle="left-collapse" class="pull-right"><i class="fa fa-arrow-left"></i></span>
			</div>
			<ul class="nav-list noselect" style="min-height: calc(100vh - 75px - 43px);">
				<li class="item"><a href="#"><i class="fa fa-bars"></i>我的云盘</a></li>
				<li class="item"><a href="#"><i class="fa fa-bars"></i>我的云盘</a></li>
				<li class="item"><a href="#"><i class="fa fa-bars"></i>我的云盘</a></li>
				<li class="divider"></li>
				<li class="item"><a href="#"><i class="fa fa-bars"></i>我的云盘</a></li>
				<li class="item"><a href="#"><i class="fa fa-bars"></i>我的云盘</a></li>
				<li class="item"><a href="#"><i class="fa fa-bars"></i>我的云盘</a></li>
			</ul>
			
			<div class="about-trans noselect" style="padding: 0 15px 15px 15px;color: rgba(0,0,0,0.3);">
				<p style="margin:0;">©2017 Transtopia • Privacy </p>
				<p style="margin:0;">Policy • Terms of Service </p>
				<p style="margin:0;">Region • Brands </p>
			</div>
		</div>
		 -->
		
		<!-- 右下角按钮组 -->
		<div id="btngroup-rightbot">
			
		</div>
	</body>
	
	<!-- 插件与样式 -->
	<!-- jQuery	 -->
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	
	<!-- jQuery-UI -->
	<script src="plugins/jQueryUI/jquery-ui.min.js"></script>
	
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<script src="plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	
	<!-- AdminLTE App -->
	<!-- <link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/_all-skins.min.css" />
	<script src="plugins/AdminLTE-2.3.11/js/app.min.js"></script> -->
	
	<!-- Slimscroll -->
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	
	<!-- bootstrap-fileinput -->
	<!-- <link href="plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
	<link href="plugins/bootstrap-fileinput/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />
	<script src="plugins/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/themes/explorer/theme.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script> -->
	
	<!-- icheck -->
	<!-- <link rel="stylesheet" href="plugins/iCheck/all.css">
	<script src="plugins/iCheck/icheck.min.js"></script> -->
	
	<!-- Select 2 -->
	<!-- <link href="plugins/select2/select2.min.css" rel="stylesheet" />
	<link href="plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	<script src="plugins/select2/select2.full.min.js"></script>
	<script src="plugins/select2/i18n/zh-CN.js"></script> -->
	
	<!-- JQuery Confirm -->
	<!-- <link rel="stylesheet" href="plugins/jquery-confirm/jquery-confirm.min.css">
	<script src="plugins/jquery-confirm/jquery-confirm.min.js"></script> -->
	
	<!-- Google Font -->
	<link href="plugins/material-icons/icon.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
	
	<!-- bootstrap-wysiwyg -->
	<!-- <link href="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
	<script src="plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
	<script src="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
	<script src="plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script> -->
	
	
	<!-- 自定义插件与样式 -->
	
	<!-- Static -->
	<script src="js_gamma/static.js"></script>
	
	<!-- Module -->
	<script src="js_gamma/module.js"></script>
	<!-- 全局css -->
	<link href="css_gamma/global.css" rel="stylesheet">
	
	<!-- 测试 -->
	<script src="js_gamma/test_data.js"></script>
	
	<script>
	var FNT = new FirstNavTop();
	FNT.setBrand(dataBrand.name, dataBrand.href);
	FNT.appendCollapseBtn();
	FNT.setLeftBtnList(dataNavLink);
	$('#firstNavTop').append(FNT.getModule());
	
	var SNT = new SecondNavTop();
	SNT.setNav(dataNav);
	$('#secondNavTop').append(SNT.getModule());
	
	var MB = new MainBlock();
	MB.add(dataMainBlockContent);
	MB.getModule().find('.content').css('height', 'calc(100vh - 102px)');
	$('#mainBlock').append(MB.getModule());
	
	var LC = new LeftCollapse();
	LC.setBrand(dataBrand.name, dataBrand.href);
	LC.setNav(dataLeftCollapseNav);
	$('body').append(LC.getModule());
	
	/*$("iframe").contents().find("img").attr("style","width:100%;height:100%");
	//$("#iframe").contents().find(".change-class").css('background-color', 'black');
	
	$('[folder], [file]').draggable({zIndex: 2500,revert: true});
	$('[folder]').droppable();
	*/
	
	
	</script>
</html>


