<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Transtopia - 云盘</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	</head>
    
	<body class="customized-scrollbar">
		<!-- 置顶一级导航栏 -->
		<div class="nav-top">
			<div id="firstNavTop"></div>
			<div id="secondNavTop"></div>
		</div>
		
		<!-- 主要展示框 -->
		<div id="mainBlock">
<table class="main-block noselect">
	<tbody>
		<tr>
			<!-- 主控区域内容 -->
		<td class="left-block">
	<div class="content customized-scrollbar" style="height: calc(100vh - 102px);">
		<ul class="nav-list"><li class="item noselect"><a href="javascript: void(0)"><i class="fa fa-cloud"></i>我的云盘</a></li><li class="item noselect"><a href="javascript: void(0)"><i class="fa fa-share-alt"></i>分享给我</a></li><li class="item noselect"><a href="javascript: void(0)"><i class="fa fa-star"></i>星标</a></li><li class="item noselect"><a href="javascript: void(0)"><i class="fa fa-trash"></i>回收站</a></li><li class="divider"></li><li class="item noselect"><a href="javascript: void(0)"><i class="fa fa-cloud-upload"></i>升级空间</a></li></ul>
	</div>
</td><td style="background-color: rgba(0,0,0,.05);">
	<div class="content" style="height: calc(100vh - 102px);">
		<div data-toggle="left-block">
			<i class="fa fa-angle-double-left"></i>
		</div>
	</div>
</td><td class="middle-block">
	<div class="content customized-scrollbar" style="height: calc(100vh - 102px);">
		<!-- 填充内容 -->
	<div class="file-folder-block">
	<!-- 标题 -->
	<div class="title" style="margin-bottom: 15px; line-height: 40px;">
		<span data-name="title" style="color: rgba(0,0,0,.54); font-weight: 600;">文件夹</span>
	<span class="pull-right">
	<span class="dropdown">
		<a data-name="sort-by" href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown" style="margin-right: 10px;color: rgba(0,0,0,.54); font-weight: 600; text-decoration: none;">名称</a>
		<ul data-name="sort-by-menu" class="dropdown-menu dropdown-menu-right">
			<!-- Sort By -->
		<li><a href="javascript: void(0)">名称</a></li><li class="divider"></li><li><a href="javascript: void(0)">创建时间</a></li><li><a href="javascript: void(0)">修改时间</a></li></ul>
	</span>
	<span data-name="ascending"><i class="fa fa-arrow-up"></i></span>
</span></div>
	<div class="clearfix"></div>
	<!--  文件夹 -->
	<div class="file-folder-content row"><div class="col-lg-2 col-md-4 col-sm-6 ui-droppable" data-type="folder">
	<div class="folder noselect" title="测试文件夹1" data-index="0" data-id="1" data-set="1">
		<span class="icon"><i class="fa fa-folder"></i></span>
		<span class="name">测试文件夹1</span>
	</div>
</div><div class="col-lg-2 col-md-4 col-sm-6 ui-draggable ui-draggable-handle ui-droppable" data-type="folder" style="position: relative;">
	<div class="folder noselect" title="测试文件夹2" data-index="1" data-id="2" data-set="2">
		<span class="icon"><i class="fa fa-folder"></i></span>
		<span class="name">测试文件夹2</span>
	</div>
</div><div class="col-lg-2 col-md-4 col-sm-6 ui-draggable ui-draggable-handle ui-droppable" data-type="folder" style="position: relative;">
	<div class="folder noselect" title="测试文件夹3" data-index="2" data-id="3" data-set="undefined">
		<span class="icon"><i class="fa fa-folder"></i></span>
		<span class="name">测试文件夹3</span>
	</div>
</div><div class="col-lg-2 col-md-4 col-sm-6 ui-draggable ui-draggable-handle ui-droppable" data-type="folder" style="position: relative;">
	<div class="folder noselect" title="测试文件夹4" data-index="3" data-id="4" data-set="undefined">
		<span class="icon"><i class="fa fa-folder"></i></span>
		<span class="name">测试文件夹4</span>
	</div>
</div><div class="col-lg-2 col-md-4 col-sm-6 ui-draggable ui-draggable-handle ui-droppable" data-type="folder" style="position: relative;">
	<div class="folder noselect" title="测试文件夹5" data-index="4" data-id="5" data-set="undefined">
		<span class="icon"><i class="fa fa-folder"></i></span>
		<span class="name">测试文件夹5</span>
	</div>
</div><div class="col-lg-2 col-md-4 col-sm-6 ui-draggable ui-draggable-handle ui-droppable" data-type="folder" style="position: relative;">
	<div class="folder noselect" title="测试文件夹6" data-index="5" data-id="6" data-set="undefined">
		<span class="icon"><i class="fa fa-folder"></i></span>
		<span class="name">测试文件夹6</span>
	</div>
</div></div>
	<!-- <p style="text-align:center;"><span class="btn loadmore">加载更多...</span></p> -->
</div><div class="file-folder-block">
	<!-- 标题 -->
	<div class="title" style="margin-bottom: 15px; line-height: 40px;">
		<span data-name="title" style="color: rgba(0,0,0,.54); font-weight: 600;">文件</span>
	</div>
	<div class="clearfix"></div>
	<!--  文件夹 -->
	<div class="file-folder-content row"><div class="col-lg-2 col-md-4 col-sm-6" data-type="file">
	<div class="file noselect" title="测试文件1" data-index="0" data-id="1" data-set="1" data-src="http://127.0.0.1:3000/dist/img/New Text Document.txt">
		<div class="top">
			<iframe id="frame" src="http://127.0.0.1:3000/dist/img/New Text Document.txt" width="100%" scrolling="no" frameborder="0">
			</iframe>
		</div>
		<div class="bot">
			<span class="icon"><i class="fa fa-file-excel-o"></i></span>
			<span class="name">测试文件1</span>
		</div>
	</div>
</div><div class="col-lg-2 col-md-4 col-sm-6" data-type="file">
	<div class="file noselect" title="测试文件2" data-index="1" data-id="2" data-set="2" data-src="http://127.0.0.1:3000/dist/img/extofgong_chen.pdf">
		<div class="top">
			<iframe id="frame" src="http://127.0.0.1:3000/dist/img/extofgong_chen.pdf" width="100%" scrolling="no" frameborder="0">
			</iframe>
		</div>
		<div class="bot ui-draggable ui-draggable-handle" style="position: relative;">
			<span class="icon"><i class="fa fa-file-excel-o"></i></span>
			<span class="name">测试文件2</span>
		</div>
	</div>
</div><div class="col-lg-2 col-md-4 col-sm-6" data-type="file">
	<div class="file noselect" title="测试文件3" data-index="2" data-id="3" data-set="undefined" data-src="http://127.0.0.1:3000/dist/img/photo1.png">
		<div class="top">
			<iframe id="frame" src="http://127.0.0.1:3000/dist/img/photo1.png" width="100%" scrolling="no" frameborder="0">
			</iframe>
		</div>
		<div class="bot ui-draggable ui-draggable-handle" style="position: relative;">
			<span class="icon"><i class="fa fa-file-excel-o"></i></span>
			<span class="name">测试文件3</span>
		</div>
	</div>
</div><div class="col-lg-2 col-md-4 col-sm-6" data-type="file">
	<div class="file noselect" title="测试文件4" data-index="3" data-id="4" data-set="undefined" data-src="http://127.0.0.1:3000/dist/img/controller.js">
		<div class="top">
			<iframe id="frame" src="http://127.0.0.1:3000/dist/img/controller.js" width="100%" scrolling="no" frameborder="0">
			</iframe>
		</div>
		<div class="bot ui-draggable ui-draggable-handle" style="position: relative;">
			<span class="icon"><i class="fa fa-file-excel-o"></i></span>
			<span class="name">测试文件4</span>
		</div>
	</div>
</div></div>
	<!-- <p style="text-align:center;"><span class="btn loadmore">加载更多...</span></p> -->
</div></div>
</td>




<td class="right-block" style="display: table-cell;">
	<div class="content customized-scrollbar" style="padding: 15px; height: calc(100vh - 102px);">
		<!-- 内容 -->
		<div class="title" style=" color: rgba(0,0,0, .5); padding: 15px 0 30px 15px;">
			<span style="display: inline-block; font-size: 22px; padding-right: 15px;  float: left;"><i class="fa fa-folder"></i></span>
			<span style="display: inline-block; font-size: 22px; width:180px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; ">{文件名称}{文件名称}{文件名称}</span>
			<span class="pull-right" style="cursor: pointer;font-size: 16px; "><i class="fa fa-times"></i></span>
		</div>
		<div class="clearfix"></div>
		
		<ul id="myTab" class="nav nav-tabs" style="border-bottom: none; margin-bottom: 15px;">
			<li class="active">
				<a href="#content1" data-toggle="tab" style="width: 150px; text-align: center; border: none; color: rgba(0,0,0, .3);">{标签1}</a>
			</li>
			<li><a href="#content2" data-toggle="tab" style="width: 150px; text-align: center;  border: none; color: rgba(0,0,0, .3);">{标签2}</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="content1">
				<div style="width:300px; height: 200px; overflow: hidden;">
					<img style="width: 300px;" src="http://127.0.0.1:3000/dist/img/photo1.png">
				</div>
				<div style="padding-top: 20px;padding-bottom: 20px;">
					<span style="display: inline-block; font-size: 20px; color: rgba(0,0,0,.6); width: 30px; margin-left: 15px; margin-right: 15px; border-radius: 50%; border: 2px solid rgba(0,0,0,.3); text-align: center;"><i class="fa fa-lock"></i></span>
					<span style="display: inline-block; font-size: 18px;">Not shared</span>
				</div>
				<div class="row">
					<div class="col-xs-3" style="color: rgba(0,0,0,.5);">种类</div>
					<div class="col-xs-9" style="color: rgba(0,0,0,.7);">13123123131332</div>
				</div>
				<div class="row">
					<div class="col-xs-3">父类文件夹</div>
					<div class="col-xs-9">13123123131332</div>
				</div>
				<div class="row">
					<div class="col-xs-3">创建者</div>
					<div class="col-xs-9">13123123131332</div>
				</div>
				<div class="row">
					<div class="col-xs-3">创建时间</div>
					<div class="col-xs-9">13123123131332</div>
				</div>
				
				<p>{内容1}</p>
			</div>
			<div class="tab-pane fade" id="content2">
				<p>{内容2}</p>
				<p>{内容2}</p>
				<p>{内容2}</p>
				<p>{内容2}</p>
			</div>
		</div>
		
		
	</div>
</td>
<style>
.nav-tabs li.active a {
	color: rgba(0,0,0, .5) !important;
	border-bottom: 3px solid rgba(66, 133, 244, 1) !important;
}
</style>


</tr>
	</tbody>
</table></div>
		
		<!-- 右下角按钮组 -->
		<div id="btngroup-rightbot">
		</div>
		
	</body>
	
	<!-- 插件与样式 -->
	<!-- jQuery	 -->
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	
	<!-- jQuery-UI -->
	<script src="plugins/jQueryUI/jquery-ui.min.js"></script>
	
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<script src="plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	
	<!-- AdminLTE App -->
	<!-- <link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/_all-skins.min.css" />
	<script src="plugins/AdminLTE-2.3.11/js/app.min.js"></script> -->
	
	<!-- Slimscroll -->
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	
	<!-- bootstrap-fileinput -->
	<!-- <link href="plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
	<link href="plugins/bootstrap-fileinput/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />
	<script src="plugins/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/themes/explorer/theme.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script> -->
	
	<!-- icheck -->
	<link rel="stylesheet" href="plugins/iCheck/all.css">
	<script src="plugins/iCheck/icheck.min.js"></script>
	
	<!-- Select 2 -->
	<link href="plugins/select2/select2.min.css" rel="stylesheet" />
	<link href="plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	<script src="plugins/select2/select2.full.min.js"></script>
	<script src="plugins/select2/i18n/zh-CN.js"></script>
	
	<!-- JQuery Confirm -->
	<link rel="stylesheet" href="plugins/jquery-confirm/jquery-confirm.min.css">
	<script src="plugins/jquery-confirm/jquery-confirm.min.js"></script>
	
	<!-- Google Font -->
	<link href="plugins/material-icons/icon.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
	
	<!-- bootstrap-wysiwyg -->
	<!-- <link href="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
	<script src="plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
	<script src="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
	<script src="plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script> -->
	
	
	<!-- <link href="plugins/contextMenu.js-master/contextMenu.min.css" rel="stylesheet">
	<script src="plugins/contextMenu.js-master/contextMenu.js"></script> -->
	
	<!-- jquery download -->
	<!-- <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" /> -->
	<!-- <link href="plugins/jquery-download/Content/Site.css" rel="stylesheet" type="text/css" /> -->
	<!-- <script src="plugins/jquery-download/Scripts/jquery.fileDownload.js" type="text/javascript"></script> -->
	<!-- <script type="text/javascript" src="plugins/jquery-download/Scripts/Support/shCore.js"></script>
	<script type="text/javascript" src="plugins/jquery-download/Scripts/Support/shBrushJScript.js"></script>
	<script type="text/javascript" src="plugins/jquery-download/Scripts/Support/shBrushXml.js"></script>
	<link type="text/css" rel="stylesheet" href="plugins/jquery-download/Content/shCoreDefault.css" />
	<script type="text/javascript" src="plugins/jquery-download/Scripts/Support/jquery.gritter.min.js"></script>
	<link type="text/css" rel="stylesheet" href="plugins/jquery-download/Content/jquery.gritter.css" /> -->
	
	
	<!-- 自定义插件与样式 -->
	<!-- DAO -->
	<script src="js_gamma/proxy.js"></script>
	
	<!-- 插件 -->
	<script src="js_gamma/gear.js"></script>
	
	<!-- Static -->
	<script src="js_gamma/static.js"></script>
	
	<!-- Module -->
	<script src="js_gamma/module.js"></script>
	
	<!-- 全局css -->
	<link href="css_gamma/global.css" rel="stylesheet">
	
	<!-- 自定义插件 -->
	<!-- TwinRow -->
	<script src="js_gamma/twinrow.js"></script>
	<link href="css_gamma/twinrow.css" rel="stylesheet">
	<!-- SelectBox -->
	<script src="js_gamma/selectbox.js"></script>
	<link href="css_gamma/selectbox.css" rel="stylesheet">
	
	
	<!-- 文件 -->
	<script src="js_gamma/filesystem.js"></script>
	<link href="css_gamma/filesystem.css" rel="stylesheet">
	<!-- 测试 -->
	<script src="js_gamma/test_data.js"></script>
	
	<script>
	/*
	$.get('http://127.0.0.1:3000/dist/img/controller.js', function(data) {
		$('#abc').html(data);
	}); */
	
	var FNT = new FirstNavTop();
	FNT.setBrand(dataBrand.name, dataBrand.href);
	FNT.appendCollapseBtn();
	FNT.appendPage('私人');
	FNT.appendNav(dataNav1);
	//FNT.setLeftBtnList(dataNavLink);
	$('#firstNavTop').append(FNT.getModule());
	
	var SNT = new SecondNavTop();
	var dirNav = new DirNav();
	SNT.appendNav(dirNav.getModule());
	SNT.appendNav(dataNav3);
	$('#secondNavTop').append(SNT.getModule());
	
	var LC = new LeftCollapse();
	LC.setBrand(dataBrand.name, dataBrand.href);
	LC.setNav(LEFT_COLLAPSE);
	$('body').append(LC.getModule());
	
	
	
	/*
	var MB_FS = new MiddleBlock_FS(dirNav);
	dirNav.setBase({id: '1', name: '我的云盘'}, MB_FS.openFolder);
	MB_FS.openFolder(1);
	
	var LB_FS = new LeftBlock_FS(MB_FS, dirNav);
	LB_FS.setNav(navLeft_FS);
	
	var RB_FS = new RightBlock_FS();

	var MB = new MainBlock();
	LB_FS.getModule().find('.content').css('height', 'calc(100vh - 102px)');
	MB.add(LB_FS.getModule());
	LB_FS.getToggleBtn().find('.content').css('height', 'calc(100vh - 102px)');
	MB.add(LB_FS.getToggleBtn());
	
	MB_FS.getModule().find('.content').css('height', 'calc(100vh - 102px)');
	MB.add(MB_FS.getModule());
	
	RB_FS.getModule().find('.content').css('height', 'calc(100vh - 102px)');
	MB.add(RB_FS.getModule());
	
	
	$('[data-type="left-list"] [data-ation="toggle"]').click(function(){
		RB_FS.toggle();
	});
	
	$('#mainBlock').append(MB.getModule());
	*/
	</script>
</html>


