<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Transtopia - 群组</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	</head>
    
	<body class="skin-green-light">
		<!-- 置顶导航栏 -->
		<header class="main-header">
			
			<!-- 置顶一级导航栏 -->
			<div id="nav-top-first"></div>
			
			<!-- 置顶二级导航栏 -->
			<div id="nav-top-second"></div>

		</header>
		
		<!-- 左侧可隐藏导航栏 -->
		<div id="nav-left-collapse"></div>
		
		<!-- 左侧信息框 -->
		<div class="block-left"></div>
		
		<!-- 右下角按钮组 -->
		<div id="btngroup-rightbot"></div>
		
		<!-- 主要展示框 -->
		<div id="main-block"></div>
		
		
		
		<div class="modal fade" id="testTest">
			<div class="modal-dialog" style="width: 50vw;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							云盘 - 公开文件夹
						</h4>
					</div>
					<div class="modal-body">
						<!-- 公开文件夹主体 -->
						<div class="file-pannel">
							<div class="dir" style="display: inline-block; line-height: 34px;">

							
							</div>
							<div class="form-group pull-right" style="width: 200px;">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="搜索..." data-action="search" />
									<div class="input-group-addon" style="cursor: pointer;">
										<i class="fa fa-search"></i>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="file-block row" style="height: 50vh;">
									
							</div>
						</div>
						<!-- ！公开文件夹主体 -->
					</div>
					<div class="modal-footer">
						<!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary">
							提交更改
						</button> -->
					</div>
				</div>
			</div>
		</div>
		
		<style>
		.dir {
			display: inline-block;
			line-height: 34px;
		}
		.dir-item {
			padding: 5px;
			cursor: pointer;
		}
		.dir-item a {
			color: rgba(0,0,0,1);
		}
		.dir-item:hover {
			background-color: rgba(0,0,0,.1);
		}
		
		
		.file-card {
			margin: 10px 0 10px;
			box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.14);
			border: none;
			border-radius: 2px;
			cursor: pointer;
		}
		
		.file-card .card-body:before, .file-card .card-body:after{
			content: "";
			display: block;
			padding-top: 25%; 	/* initial ratio of 1:1*/
		}
		
		.file-card .card-body {
			text-align: center;
			color: rgba(255,255,255,0.8);
		}
		
		.file-card .card-body i{
			font-size: 60px;
		}
		
		.file-card .card-body [data-type="name"] {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		</style>
		
		
		
		
			
		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<div class="tab-content">
				<div class="tab-pane active" id="control-sidebar-theme">
				</div>
			</div>
		</aside>
		<div class="control-sidebar-bg"></div>
	</body>
	
	<!-- 插件与样式 -->
	<!-- jQuery	 -->
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	
	<!-- jQuery-UI -->
	<script src="plugins/jQueryUI/jquery-ui.min.js"></script>
	
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<script src="plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	
	<!-- AdminLTE App -->
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/_all-skins.min.css" />
	<script src="plugins/AdminLTE-2.3.11/js/app.min.js"></script>
	
	<!-- Slimscroll -->
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	
	<!-- bootstrap-fileinput -->
	<link href="plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
	<link href="plugins/bootstrap-fileinput/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />
	<script src="plugins/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/themes/explorer/theme.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
	
	<!-- icheck -->
	<link rel="stylesheet" href="plugins/iCheck/all.css">
	<script src="plugins/iCheck/icheck.min.js"></script>
	
	<!-- Select 2 -->
	<link href="plugins/select2/select2.min.css" rel="stylesheet" />
	<link href="plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	<script src="plugins/select2/select2.full.min.js"></script>
	<script src="plugins/select2/i18n/zh-CN.js"></script>
	
	<!-- JQuery Confirm -->
	<link rel="stylesheet" href="plugins/jquery-confirm/jquery-confirm.min.css">
	<script src="plugins/jquery-confirm/jquery-confirm.min.js"></script>
	
	<!-- Google Font -->
	<link href="plugins/material-icons/icon.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
	
	<!-- bootstrap-wysiwyg -->
	<link href="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
	<!-- <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
	<script src="plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
	<!-- <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> -->
	<script src="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
	<!-- <link href="index.css" rel="stylesheet"> -->
	<script src="plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
	
	
	<!-- 自定义插件与样式 -->
	<!-- 全局css -->
	<link href="css/global.css" rel="stylesheet" />
	
	<!-- 功能插件 -->
	<script src="js/gears.js"></script>
	
	<!-- 双行框 -->
	<link href="css/twinrow.css" rel="stylesheet" />
	<script src="js/twinrow.js"></script>
	
	<!-- 单行框 -->
	<link href="css/singlerow.css" rel="stylesheet" />
	<script src="js/singlerow.js"></script>
	
	<!-- 云盘群文件 -->
	<!-- <link href="css/transcloud.css" rel="stylesheet" />
	<script src="js/javascript_transcloud.js"></script> -->
	
	<!-- 控件 -->
	<link href="css/controller.css" rel="stylesheet" />
	<script src="js/controller.js"></script>
	
	<!-- 测试 -->
	<script src="js/test.js"></script>
	
	<style>
		.shared-with .modal-dialog {
			width: 500px;
		}
		
		.shared-with .modal-body {
			padding: 0;
		}
		
		.shared-with .modal-body label {
			display: block !important;
			margin-bottom: 0 !important;
			line-height: 50px !important;
			padding-left: 30px;
			font-weight: 500 !important;
			cursor: pointer;
		}
		
		.shared-with .modal-body label:hover {
			background-color: rgba(0,0,0,0.1);
		}
		
		.shared-with .modal-body label[disabled]:hover {
			background-color: rgba(255,0,0,0.3);
		}
		
		.shared-with .modal-body label span{
			padding-left: 20px;
			font-size: 16px;
			color: #757575;
		}
		
		.shared-with .modal-body .user-label {
			padding-left: 10px;
		}
		
		.shared-with .modal-body .collapse {
			background-color: rgba(0,0,0,0.05);
		}

		.shared-with .modal-body .name-list {
			line-height: 17px;
			padding: 0 15px 15px;
			word-break: break-all;
		}
	</style>
	<script>
		var SharedWithModal = function(){
			var modal = $(
				'<div class="modal fade shared-with">\n' + 
				'	<div class="modal-dialog">\n' + 
				'		<div class="modal-content">\n' + 
				'			<div class="modal-header">\n' + 
				'				<button type="button" class="close" data-dismiss="modal">&times;</button>\n' + 
				'				<h5 class="modal-title">\n' + 
				'					请选择分享范围\n' + 
				'				</h5>\n' + 
				'			</div>\n' + 
				'			<div class="modal-body">\n' + 
				'				<div class="form-group">\n' + 
				'				</div>\n' + 
				'			</div>\n' + 
				'			<div class="modal-footer">\n' + 
				'				<a data-action="submit">提交</a>\n' + 
				'				<a data-dismiss="modal">关闭</a>\n' + 
				'			</div>\n' + 
				'		</div>\n' + 
				'	</div>\n' + 
				'</div>'
			);
			
			//获取简单Label
			var getLabel = function(data){
				var label = $(
					'<label>\n' + 
					'	<input type="radio" name="r1" class="minimal" value=' + data.value + '>\n' + 
					'	<span>' + data.icon + ' ' + data.name + '</span>\n' + 
					'</label>'
				);
				
				return label;
			};
			
			//获取collapse
			var getCollapse = function(data, selectedTag, selectedUser){
				var collapse = $(
					'<div class="panel-body collapse">\n' + 
					'</div>'
				);
				
				collapse.empty();
				//标签模块
				$.each(data, function(index, item){
					var label = $(
						'<label data-type="tag">\n' + 
						'	<input type="checkbox" name="c1" class="minimal"  data-id="' + item.id + '">\n' + 
						'	<span><i class="fa fa-tag"></i> ' + item.name + '</span>\n' + 
						'</label>' 
					);

					if(selectedTag.includes(item.id))
						label.find('input').prop('checked', true);
					
					collapse.append(label);
				});
				
				//加载被选中数据
				var loadSelectedUser = function(data){
					nameList.empty();
					$.each(data, function(index, item){
						var user = $('<span class="user-label" user-id="' + item.id + '" user-image="' + item.image + '" user-bg="' + item.bg_image + '">' + item.name + '</span>');
						nameList.append(user);
					});
				};
				
				//获取被选中用户数据
				var getSelectedUser = function(){
					var result = [];
					
					$.each(selectLabel.find('.user-label'), function(index,item){
						console.log(index);
						result.push({
							id: $(item).attr('user-id'),
							name: $(item).text(),
							image: $(item).attr('user-image'),
							bg_image: $(item).attr('user-bg')
						});
					});
					
					return result;
				};
				
				
				//用户选定模块
				var selectLabel = $(
					'	<label>\n' + 
					'		<span><a href="#"><i class="fa fa-plus-circle"></i> 从好友中选取</a></span>\n' + 
					'		<div class="name-list"></div>\n' + 
					'	</label>'
				);
				
				var nameList = selectLabel.find('.name-list');
				loadSelectedUser(selectedUser);
				collapse.append(selectLabel);
				
				//点击事件
				selectLabel.click(function(){
					var FTController = new FriendTagController();
						FTController.ajaxLoad(
							getSelectedUser(),
							function(data,modal){
								loadSelectedUser(data);
								modal.modal('hide');
							}
						);
				});
				
				return collapse;
			};
			
			
			
			//获取数据
			var getData = function(){
				var result = {
					type: '',
					selectedTag: [],
					selectedUser: []
				};
				
				result.type = modal.find('[name="r1"]:checked').val();
				
				if(result.type == 3 || result.type == 4){
					var collapse = modal.find('.collapse[data-target="' + result.type + '"]');
					
					$.each(collapse.find('[data-type="tag"] input:checked'), function(index, item){
						result.selectedTag.push($(item).attr('data-id'));
					});
					
					$.each(collapse.find('.user-label'), function(index, item){
						result.selectedUser.push($(item).attr('user-id'));
					});
				};
				
				return result;
			};
			
			//群组菜单
			this.loadForGroup = function(id, type){
				//群组菜单
				var groupData = [
					{
						name: '公开',
						icon: '<i class="fa fa-globe"></i>',
						value: 1
					},
					{
						name: '仅群组可见',
						icon: '<i class="fa fa-eye-slash"></i>',
						value: 2
					}
				];
			
				var container = modal.find('.modal-body .form-group');
				container.empty();
				$.each(groupData, function(index, item){
					var label = getLabel(item);
					container.append(label);
					
					if(type == item.value)
						label.find('input').prop('checked', true);
				});
				
				//submit
				modal.find('[data-action="submit"]').unbind('click');
				modal.find('[data-action="submit"]').click(function(){
					console.log(getData());
				});
				
				modal.modal('show');
			};
			

			//为个人添加
			this.loadForIndividual = function(id, type, selectdTag, selectdUser, tagList){
				//个人数据
				var individualData = [
					{
						name: '公开',
						icon: '<i class="fa fa-globe"></i>',
						value: 1
					},
					{
						name: '朋友圈',
						icon: '<i class="fa fa-user-circle-o"></i></i>',
						value: 2
					},
					{
						name: '部分可见',
						icon: '<i class="fa fa-plus-square"></i>',
						value: 3
					},
					{
						name: '不可见',
						icon: '<i class="fa fa-minus-square"></i>',
						value: 4
					},
					{
						name: '私有',
						icon: '<i class="fa fa-eye-slash"></i>',
						value: 5
					}
				];
				
				var container = modal.find('.modal-body .form-group');
				container.empty();
				$.each(individualData, function(index, item){
					var label = getLabel(item).addClass('toggle-btn');
					container.append(label);
					
					var collapse;
					if(item.value == 3 || item.value == 4){
						if( item.value == type){
							collapse = getCollapse(tagList, selectdTag, selectdUser);
							collapse.addClass('in');
						}else
							collapse = getCollapse(tagList, [], []);
					
						label.attr('data-target', item.value);
						
						collapse.attr('data-target', item.value)
							.addClass('toggle-content');
					}
					container.append(collapse);
					
					if(type == item.value)
						label.find('input').prop('checked', true);
						
					
				});
				
				//点击互斥时间
				container.find('.toggle-btn').click(function(){
					var value = $(this).attr('data-target');
					$.each(container.find('.toggle-content'), function(index, item){
						var collapse = $(item);
						if(collapse.attr('data-target') == value){
							collapse.collapse('show');
						}else{
							collapse.collapse('hide');
						}
					});
				});
				
				
				
				//submit
				modal.find('[data-action="submit"]').unbind('click');
				modal.find('[data-action="submit"]').click(function(){
					console.log(getData());
				});
				
				modal.modal('show');
			};
			
			
			
			//初始化
			(function(){
				
				modal.on('hidden.bs.modal', function(){
					$(this).remove();
				}).on('shown.bs.modal', function(){
					$(this).find('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
						checkboxClass: 'icheckbox_minimal-blue',
						radioClass: 'iradio_minimal-blue'
					});
				});
				
			})();
		};
	
		/*
		var temp = new SharedWithModal();
		temp.loadForIndividual('1', 3, [123,234], [{id: 123, name: '张震宇'}, {id: 123, name: '张震宇'},{id: 123, name: '张震宇'}],[{id: 123, name: '测试1'},{id: 234, name: '测试2'}]);
		*/
		//temp.loadForGroup('1', 2);
	
		var getHoverUserCard = function(data){
			var card = $(
				'<div class="col-lg-2 col-md-4 col-sm-6" data-id="' + data.id + '">\n' +
				'	<div class="card-user" style="background-color: ' + googleColorRandomPicker() + ';">\n' +
				'		<div class="card-user-header" style="background: url(\'' + data.bg_image + '\') no-repeat center center; height: 90px;">\n' +
				'			<div class="clearfix"></div>\n' +
				'			<div style="text-align: center; margin-top: 40px;">\n' +
				'				<img src="' + data.image + '" class="img-circle" style="width: 40px;height: 40px;">\n' +
				'			</div>\n' +
				'		</div>\n' +
				'		<div class="card-user-body" style="height: 80px;">\n' +
				'			<div class="name" style="inline-height: 80px;" data-name="name">' + data.name + '</div>\n' +
				'		</div>\n' +
				'		<div class="card-hover"></div>\n' +
				'	</div>\n' +
				'</div>'
			);
			return card;
		};
			
		var FriendTagController = function(){
			var obj = this;
			TwinRow.call(this, '好友名单');
			
			var modal = this.getTwinRow();
			
			//获取卡片
			var getCard = function(data, place){
				var card = getHoverUserCard(data);
				card.attr('allowremove', '');
				card.attr('allowsearch', '');
				if(place == 1){
					card.find('.card-hover').html('<i class="material-icons">add_circle_outline</i>');
				}else if(place == 2){
					card.find('.card-hover').html('<i class="material-icons">clear</i>');
				}else{
					console.log('error');
				}
				
				var top = modal.find('.row-top');
				var bot = modal.find('.row-bot');
				card.click(function(){
					if(card.closest('.row-top').length == 1){
						card.find('.card-hover').html('<i class="material-icons">clear</i>');
						obj.prependBot(card);
					}else if(card.closest('.row-bot').length == 1){
						card.find('.card-hover').html('<i class="material-icons">add_circle_outline</i>');
						obj.prependTop(card);
					}else{
						console.log('error');
					}
				});
				
				return card;
			};
			
			var getCardList = function(list, place){
				var result = [];
				$.each(list, function(index, item){
					result.push(getCard(item, place));
				});
				
				return result;
			};
			
			var getDifferent = function(list1, list2){
				var result = [];
				
				$.each(list1, function(idx1, item1){
					var signal = true;
					$.each(list2, function(idx2, item2){
						if(item1.id == item2.id){
							signal = false;
							return false;
						}
					});
					if(signal)
						result.push(item1);
				});
				
				return result;
			};
			
			//添加submit事件
			var bindSubmit = function(callback){
				modal.find('[data-action=submit]').unbind('click');
				modal.find('[data-action=submit]').click(function(){
					callback(obj.getData(), modal);
				})
			};
			
			//加载数据
			var load = function(dataTop, dataBot, callback){
				var listTop = getCardList(getDifferent(dataTop, dataBot), 1);
				var listBot = getCardList(dataBot, 2);
				
				bindSubmit(callback);
				obj.reload(listTop, listBot);
			};
			
			//ajax加载
			this.ajaxLoad = function(dataBot, callback){
				$.ajax({
					url : URL_GET_FRIEND,
					type : "GET",
					dataType : 'json',
					success : function (list){
						if(!Array.isArray(list)){
							callAlert('加载失败!', '<i class="material-icons">clear</i>', function(){});
						}else{
							load(list, dataBot, callback);
						}
					},
					error: function(err){
						callAlert('添加失败!', '<i class="material-icons">clear</i>', function(){});
					}
				});
			};
		};
		
		
		//var temp = new FriendTagController();
		//temp.load([{id: 1, name: '张震宇', image: '../dist/img/user3-128x128.jpg', bg_image: '../dist/img/photo2.png'},{id: 2, name: '刘强', image: '../dist/img/user3-128x128.jpg', bg_image: '../dist/img/photo2.png'}],[{id: 1, name: '张震宇', image: '../dist/img/user3-128x128.jpg', bg_image: '../dist/img/photo2.png'}]);
	</script>
	<style>
		.card-user {
			cursor: pointer;
		}
	
		.card-hover {
			display: none;
			height: 170px;
			text-align:center;
		}
		
		.card-hover i{
			position: relative;
			top: 50px;
			font-size: 70px;
			color: rgba(255,255,255,0.8);
		}
	
		.card-user:hover .card-hover{
			display: block;
		}
		
		.card-user:hover .card-user-header, .card-user:hover .card-user-body {
			display: none;
		}
	</style>
	
	<script>
	//页面初始化
	
	$( document ).ready(function() {
		
		//iCheck for checkbox and radio inputs
    
		

		
		/*
		//slimScroll
		$(".post-wall").slimScroll({
        height: '500px'
    });
		/*
		//搜索
		/*
		var formatState = function(data) {
			var $data = $(
				'<div class="user-block">\
					<img class="img-circle img-bordered-sm" src="' + data.img + '" alt="User Image">\
					<span class="username">\
						<div>' + data.text + '</div>\
					</span>\
					<span class="description">结果： ' + data.count + '个</span>\
				</div>'
			);
			return $data;
		};
		$('#input-search').select2({
			language: 'zh-CN',
			allowClear: true,
			minimumInputLength: 1,
			ajax:  {
				url: '/searchmoment',
				delay: 250,
				processResults: function (data) {
					return {
						results: data
					};
				}
			},
			templateResult	: formatState,
		});
		
		$('#input-search').on('select2:select', function (evt) {
			var data = $(this).select2('data')[0];
			console.log(data);
			window.location.href = "http://129.89.35.212/Transtopia_beta/groups.jsp";
		});
		
		$('#input-search').on('select2:open', function (evt) {
			$(this).val('').trigger('change');
		});
		*/
		
	
		var groupid = 123;
		
		//1. 加载置顶一级导航栏
		//查询User信息
		var FNTController = new FirstNavTopController($('#nav-top-first'));
		FNTController.ajaxLoad('群组');
		
		//2. 加载置顶二级导航栏
		var SNTController = new SecondNavTopController($('#nav-top-second'));
		SNTController.ajaxLoadForGroup(groupid);
		
		//3. 加载左侧折叠导航(未完成)
		var CNLController = new CollapseNavLeftController($('#nav-left-collapse'));
		CNLController.defaultLoad();
		
		//4. 加载群组信息栏
		var LMController = new LeftModuleController($('.block-left'));
		LMController.ajaxLoadForGroup(groupid);
		
		
		//5. 加载右下角按钮组件
		var RBBController = new RightBotBtnController($('#btngroup-rightbot'));
		RBBController.ajaxLoadForGroup(groupid);
		
		//6. 加载动态
		var temp = new MainBlockController($('#main-block'));
		temp.ajaxLoadGroupPost(123);
		
		//$(transCloudModal).transCloud({title: '文件管理', dirFull: '/TransCloud/交托帮', dirRoot: '/TransCloud', dataRequest: '/getFileFolder', createCard: createFileCardHTML})
		$('#testtest').modal('show');
	});
	</script>
	
	<script>
		var loadWysiwyg = function (editor, toolbar) {
			$(function(){
				function initToolbarBootstrapBindings() {
					var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier', 
								'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
								'Times New Roman', 'Verdana'],
								fontTarget = $(toolbar).find('[title=Font]').siblings('.dropdown-menu');
					$.each(fonts, function (idx, fontName) {
							fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
					});
					$('a[title]').tooltip({container:'body'});
					$('.dropdown-menu input').click(function() {return false;})
						.change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
						.keydown('esc', function () {this.value='';$(this).change();});

					$('[data-role=magic-overlay]').each(function () { 
						var overlay = $(this), target = $(overlay.data('target')); 
						overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
					});
					if ("onwebkitspeechchange"  in document.createElement("input")) {
						var editorOffset = editor.offset();
						$('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+editor.innerWidth()-35});
					} else {
						$('#voiceBtn').hide();
					}
			};
			function showErrorAlert (reason, detail) {
				var msg='';
				if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
				else {
					console.log("error uploading file", reason, detail);
				}
				$('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+ 
				 '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
			};
				initToolbarBootstrapBindings();  
			editor.wysiwyg({ fileUploadError: showErrorAlert} );
				window.prettyPrint && prettyPrint();
			});
		};
var getEditor = function (data) {
	var html = $(
		'<div>\n' +
		'	<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn dropdown-toggle" data-toggle="dropdown" title="字体"><i class="icon-font"></i><b class="caret"></b></a>\n' +
		'			<ul class="dropdown-menu">\n' +
		'			</ul>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn dropdown-toggle" data-toggle="dropdown" title="字体大小"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>\n' +
		'			<ul class="dropdown-menu">\n' +
		'			<li><a data-edit="fontSize 5"><font size="5">大</font></a></li>\n' +
		'			<li><a data-edit="fontSize 3"><font size="3">中</font></a></li>\n' +
		'			<li><a data-edit="fontSize 1"><font size="1">小</font></a></li>\n' +
		'			</ul>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>\n' +
		'		<a class="btn" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>\n' +
		'		<a class="btn" data-edit="strikethrough" title="（加） 删除线"><i class="icon-strikethrough"></i></a>\n' +
		'		<a class="btn" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="insertunorderedlist" title="项目列表"><i class="icon-list-ul"></i></a>\n' +
		'		<a class="btn" data-edit="insertorderedlist" title="数字列表"><i class="icon-list-ol"></i></a>\n' +
		'		<a class="btn" data-edit="outdent" title="清除缩进 (Shift+Tab)"><i class="icon-indent-left"></i></a>\n' +
		'		<a class="btn" data-edit="indent" title="缩进 (Tab)"><i class="icon-indent-right"></i></a>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="justifyleft" title="居左 (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>\n' +
		'		<a class="btn" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>\n' +
		'		<a class="btn" data-edit="justifyright" title="居右 (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>\n' +
		'		<a class="btn" data-edit="justifyfull" title="正常 (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'			<a class="btn dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="icon-link"></i></a>\n' +
		'			<div class="dropdown-menu input-append">\n' +
		'				<input class="span2" placeholder="URL" type="text" data-edit="createLink"/>\n' +
		'				<button class="btn" type="button">添加</button>\n' +
		'		</div>\n' +
		'		<a class="btn" data-edit="unlink" title="去除链接"><i class="icon-cut"></i></a>\n' +
		'		</div>\n' +
		'		<!-- <div class="btn-group">\n' +
		'		<a class="btn" title="浏览或拖拽添加图片" id="pictureBtn"><i class="icon-picture"></i></a>\n' +
		'		<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />\n' +
		'		</div> --> \n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="undo" title="撤消 (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>\n' +
		'		<a class="btn" data-edit="redo" title="重复 (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>\n' +
		'		</div>\n' +
		'	</div>\n' +
		'	<div id="editor" class="editor">' + (data ? data : '') + '\n' +
		'	</div>\n' +
		'</div>'
	);
	
  loadWysiwyg($(html).find('#editor'), $(html).find('.btn-toolbar'));
	 
	$(html).find('#editor').slimScroll({
		height: '250px'
	});
	$(html).find('#editor').css({
		border: '1px solid rgba(0,0,0,.3)'
	});
	 return html;
};
	
	</script>

	<script>
	$('#testTest').modal('show');
	
	var FilePanel = function(){
		var module = $(
			'<div class="file-pannel">\n' +
			'	<!-- 目录内容 -->\n' +
			'	<div class="form-group pull-right" style="width: 200px;">\n' +
			'		<div class="input-group">\n' +
			'			<input type="text" class="form-control" placeholder="搜索..." data-action="search" />\n' +
			'			<div class="input-group-addon" style="cursor: pointer;">\n' +
			'				<i class="fa fa-search"></i>\n' +
			'			</div>\n' +
			'		</div>\n' +
			'	</div>\n' +
			'	<div class="clearfix"></div>\n' +
			'	<!-- 文件内容 -->\n' +
			'</div>'
		);
		var obj = this;
		
		
		(function(){
			// 加载目录模块
			module.find('.dir').remove();
			module.find('.file-pannel').prepend();
		
		})();
		
	};
	
	// 目录
	var Directory = function(){
		var dir = $(
			'<div class="dir">\n' +
			'	<!-- 目录内容 -->\n' +
			'</div>'
		);
		
		// 加载base目录
		this.loadBase = function(){
			dir.find('.dir-base').remove();
			dir.find('.dir').prepend('<span class="dir-item dir-base"><span>公开文件夹</span></span>\n');
		};
		
		//加载其它
		this.load = function(list){
			dir.find('.dir-item:not(.dir-base)').remove();
			var target = dir.find('.dir');
			var length = list.length;
			
			$.each(list, function(index, item){
				if(index < length-1){
					target.append('<span class="dir-item" data-id="' + item.id +'"><span>' + item.name + '</span> <i class="fa fa-caret-right"></i></span>\n');
				}else if(index == length-1){
					target.append('<span class="dir-item" data-id="' + item.id +'"><span>' + item.name + '</span> <i class="fa fa-caret-down"></i></span>\n');
				}else{
					console.log('error');
				}
				
			});
		};
		
		this.getModule = function(){
			return dir;
		};
	};
	
	// 文件(夹)容器
	var FileBlock = function(fileCard, folderCard){
		var block = $(
			'<div class="file-block row" style="height: 50vh;">\n' +
			'		<!-- 插入文件内容 -->\n' +
			'</div>'
		);
		
		// 加载
		this.load = function(folders, files){
			this.clear();
			// 加载文件夹
			$.each(folders, function(index, item){
				block.find('.file-block').append(folderCard(item));
			});
			
			// 加载文件
			$.each(files, function(index, item){
				block.find('.file-block').append(fileCard(item));
			});
		};
		
		// 清空
		this.clear = function(){
			block.find('.file-block').empty();
		};
		
		// 获取模块
		this.getModule = function(){
			return block;
		};
	};
	
	// 文件样式
	var FileCard = function(data){
		return $(
			'<div class="col-lg-2 col-md-3 col-sm-4" allowsearch leftclickable>\n' +
			'	<div class="file-card" style="background-color: rgb(229, 57, 53);">\n' +
			'		<div class="card-body">\n' +
			'			<div class="content-default">\n' +
			'				<i class="fa fa-file"></i>\n' +
			'				<div data-type="name" data-id="' + data.id + '" data-src="' + data.src + '">' + data.name + '</div>\n' +
			'			</div>\n' +
			'		</div>\n' +
			'	</div>\n' +
			'</div>'
		);
	};
	
	//文件夹样式
	var FolderCard = function(data){
		return $(
			'<div class="col-lg-2 col-md-3 col-sm-4" allowsearch leftclickable>\n' +
			'	<div class="file-card" style="background-color: rgb(29, 135, 228);">\n' +
			'		<div class="card-body">\n' +
			'			<div class="content-default">\n' +
			'				<i class="fa fa-file"></i>\n' +
			'				<div data-type="name" data-id="' + data.id + '" data-src="' + data.src + '">' + data.name + '</div>\n' +
			'			</div>\n' +
			'		</div>\n' +
			'	</div>\n' +
			'</div>'
		);
	};
	
	
	</script>
	
	
	</html>


