<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Transtopia - 群组</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	</head>
    
	<body class="skin-green-light">
		<!-- 置顶导航栏 -->
		<header class="main-header">
			
			<!-- 置顶一级导航栏 -->
			<div id="nav-top-first"></div>
			
			<!-- 置顶二级导航栏 -->
			<div id="nav-top-second"></div>

		</header>
		
		<!-- 左侧可隐藏导航栏 -->
		<div id="nav-left-collapse"></div>
		
		<!-- 左侧信息框 -->
		<div class="block-left"></div>
		
		<!-- 右下角按钮组 -->
		<div id="btngroup-rightbot"></div>
		
		<!-- 主要展示框 -->
		<div id="main-block"></div>
			
			
		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<div class="tab-content">
				<div class="tab-pane active" id="control-sidebar-theme">
				</div>
			</div>
		</aside>
		<div class="control-sidebar-bg"></div>
	</body>
	
	<!-- 插件与样式 -->
	<!-- jQuery	 -->
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	
	<!-- jQuery-UI -->
	<script src="plugins/jQueryUI/jquery-ui.min.js"></script>
	
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<script src="plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	
	<!-- AdminLTE App -->
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/_all-skins.min.css" />
	<script src="plugins/AdminLTE-2.3.11/js/app.min.js"></script>
	
	<!-- Slimscroll -->
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	
	<!-- bootstrap-fileinput -->
	<link href="plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
	<link href="plugins/bootstrap-fileinput/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />
	<script src="plugins/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/themes/explorer/theme.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
	
	<!-- icheck -->
	<link rel="stylesheet" href="plugins/iCheck/all.css">
	<script src="plugins/iCheck/icheck.min.js"></script>
	
	<!-- Select 2 -->
	<link href="plugins/select2/select2.min.css" rel="stylesheet" />
	<link href="plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	<script src="plugins/select2/select2.full.min.js"></script>
	<script src="plugins/select2/i18n/zh-CN.js"></script>
	
	<!-- JQuery Confirm -->
	<link rel="stylesheet" href="plugins/jquery-confirm/jquery-confirm.min.css">
	<script src="plugins/jquery-confirm/jquery-confirm.min.js"></script>
	
	<!-- Google Font -->
	<link href="plugins/material-icons/icon.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
	
	<!-- bootstrap-wysiwyg -->
	<link href="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
	<!-- <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
	<script src="plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
	<!-- <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> -->
	<script src="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
	<!-- <link href="index.css" rel="stylesheet"> -->
	<script src="plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
	
	
	<!-- 自定义插件与样式 -->
	<!-- 全局css -->
	<link href="css/global.css" rel="stylesheet" />
	
	<!-- 功能插件 -->
	<script src="js/gears.js"></script>
	
	<!-- 双行框 -->
	<link href="css/twinrow.css" rel="stylesheet" />
	<script src="js/twinrow.js"></script>
	
	<!-- 单行框 -->
	<link href="css/singlerow.css" rel="stylesheet" />
	<script src="js/singlerow.js"></script>
	
	<!-- 云盘群文件 -->
	<link href="css/transcloud.css" rel="stylesheet" />
	<script src="js/javascript_transcloud.js"></script>
	
	<!-- 控件 -->
	<link href="css/controller.css" rel="stylesheet" />
	<script src="js/controller.js"></script>
	
	<!-- 测试 -->
	<script src="js/test.js"></script>
	
	<script>
	//页面初始化
	
	$( document ).ready(function() {
		

		/*
		//slimScroll
		$(".post-wall").slimScroll({
        height: '500px'
    });
		/*
		//搜索
		/*
		var formatState = function(data) {
			var $data = $(
				'<div class="user-block">\
					<img class="img-circle img-bordered-sm" src="' + data.img + '" alt="User Image">\
					<span class="username">\
						<div>' + data.text + '</div>\
					</span>\
					<span class="description">结果： ' + data.count + '个</span>\
				</div>'
			);
			return $data;
		};
		$('#input-search').select2({
			language: 'zh-CN',
			allowClear: true,
			minimumInputLength: 1,
			ajax:  {
				url: '/searchmoment',
				delay: 250,
				processResults: function (data) {
					return {
						results: data
					};
				}
			},
			templateResult	: formatState,
		});
		
		$('#input-search').on('select2:select', function (evt) {
			var data = $(this).select2('data')[0];
			console.log(data);
			window.location.href = "http://129.89.35.212/Transtopia_beta/groups.jsp";
		});
		
		$('#input-search').on('select2:open', function (evt) {
			$(this).val('').trigger('change');
		});
		*/
		
	
		var groupid = 123;
		
		//1. 加载置顶一级导航栏
		//查询User信息
		var FNTController = new FirstNavTopController($('#nav-top-first'));
		FNTController.ajaxLoad('群组');
		
		//2. 加载置顶二级导航栏
		var SNTController = new SecondNavTopController($('#nav-top-second'));
		SNTController.ajaxLoadForGroup(groupid);
		
		//3. 加载左侧折叠导航(未完成)
		var CNLController = new CollapseNavLeftController($('#nav-left-collapse'));
		CNLController.defaultLoad();
		
		//4. 加载群组信息栏
		var LMController = new LeftModuleController($('.block-left'));
		LMController.ajaxLoadForGroup(groupid);
		
		
		//5. 加载右下角按钮组件
		var RBBController = new RightBotBtnController($('#btngroup-rightbot'));
		RBBController.ajaxLoadForGroup(groupid);
		
		//6. 加载动态
		var temp = new MainBlockController($('#main-block'));
		temp.ajaxLoadGroupPost(123);
	});
	</script>
	

	<script>
		var loadWysiwyg = function (editor, toolbar) {
			$(function(){
				function initToolbarBootstrapBindings() {
					var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier', 
								'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
								'Times New Roman', 'Verdana'],
								fontTarget = $(toolbar).find('[title=Font]').siblings('.dropdown-menu');
					$.each(fonts, function (idx, fontName) {
							fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
					});
					$('a[title]').tooltip({container:'body'});
					$('.dropdown-menu input').click(function() {return false;})
						.change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
						.keydown('esc', function () {this.value='';$(this).change();});

					$('[data-role=magic-overlay]').each(function () { 
						var overlay = $(this), target = $(overlay.data('target')); 
						overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
					});
					if ("onwebkitspeechchange"  in document.createElement("input")) {
						var editorOffset = editor.offset();
						$('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+editor.innerWidth()-35});
					} else {
						$('#voiceBtn').hide();
					}
			};
			function showErrorAlert (reason, detail) {
				var msg='';
				if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
				else {
					console.log("error uploading file", reason, detail);
				}
				$('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+ 
				 '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
			};
				initToolbarBootstrapBindings();  
			editor.wysiwyg({ fileUploadError: showErrorAlert} );
				window.prettyPrint && prettyPrint();
			});
		};
var getEditor = function (data) {
	var html = $(
		'<div>\n' +
		'	<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn dropdown-toggle" data-toggle="dropdown" title="字体"><i class="icon-font"></i><b class="caret"></b></a>\n' +
		'			<ul class="dropdown-menu">\n' +
		'			</ul>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn dropdown-toggle" data-toggle="dropdown" title="字体大小"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>\n' +
		'			<ul class="dropdown-menu">\n' +
		'			<li><a data-edit="fontSize 5"><font size="5">大</font></a></li>\n' +
		'			<li><a data-edit="fontSize 3"><font size="3">中</font></a></li>\n' +
		'			<li><a data-edit="fontSize 1"><font size="1">小</font></a></li>\n' +
		'			</ul>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>\n' +
		'		<a class="btn" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>\n' +
		'		<a class="btn" data-edit="strikethrough" title="（加） 删除线"><i class="icon-strikethrough"></i></a>\n' +
		'		<a class="btn" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="insertunorderedlist" title="项目列表"><i class="icon-list-ul"></i></a>\n' +
		'		<a class="btn" data-edit="insertorderedlist" title="数字列表"><i class="icon-list-ol"></i></a>\n' +
		'		<a class="btn" data-edit="outdent" title="清除缩进 (Shift+Tab)"><i class="icon-indent-left"></i></a>\n' +
		'		<a class="btn" data-edit="indent" title="缩进 (Tab)"><i class="icon-indent-right"></i></a>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="justifyleft" title="居左 (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>\n' +
		'		<a class="btn" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>\n' +
		'		<a class="btn" data-edit="justifyright" title="居右 (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>\n' +
		'		<a class="btn" data-edit="justifyfull" title="正常 (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'			<a class="btn dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="icon-link"></i></a>\n' +
		'			<div class="dropdown-menu input-append">\n' +
		'				<input class="span2" placeholder="URL" type="text" data-edit="createLink"/>\n' +
		'				<button class="btn" type="button">添加</button>\n' +
		'		</div>\n' +
		'		<a class="btn" data-edit="unlink" title="去除链接"><i class="icon-cut"></i></a>\n' +
		'		</div>\n' +
		'		<!-- <div class="btn-group">\n' +
		'		<a class="btn" title="浏览或拖拽添加图片" id="pictureBtn"><i class="icon-picture"></i></a>\n' +
		'		<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />\n' +
		'		</div> --> \n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="undo" title="撤消 (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>\n' +
		'		<a class="btn" data-edit="redo" title="重复 (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>\n' +
		'		</div>\n' +
		'	</div>\n' +
		'	<div id="editor" class="editor">' + (data ? data : '') + '\n' +
		'	</div>\n' +
		'</div>'
	);
	
  loadWysiwyg($(html).find('#editor'), $(html).find('.btn-toolbar'));
	 
	$(html).find('#editor').slimScroll({
		height: '250px'
	});
	$(html).find('#editor').css({
		border: '1px solid rgba(0,0,0,.3)'
	});
	 return html;
};
	
	
	/*
	$('#abc [type="checkbox"]').on('click', function(){
		console.log($(this).is(':checked'));
		
	});
	*/

	</script>
	
</html>


