<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Transtopia - 群组</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	</head>
    
	<body class="skin-green-light">
		<!-- 置顶导航栏 -->
		<header class="main-header">
			
			<!-- 置顶一级导航栏 -->
			<div id="nav-top-first"></div>
			
			<!-- 置顶二级导航栏 -->
			<div id="nav-top-second"></div>

		</header>
		
		<!-- 左侧可隐藏导航栏 -->
		<div id="nav-left-collapse"></div>
		
		<!-- 左侧信息框 -->
		<div class="block-left"></div>
		
		<!-- 右下角按钮组 -->
		<div id="btngroup-rightbot"></div>
		
		<!-- 主要展示框 -->
		<div id="main-block"></div>
		
	</body>
	
	<!-- 插件与样式 -->
	<!-- jQuery	 -->
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	
	<!-- jQuery-UI -->
	<script src="plugins/jQueryUI/jquery-ui.min.js"></script>
	
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<script src="plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	
	<!-- AdminLTE App -->
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/_all-skins.min.css" />
	<script src="plugins/AdminLTE-2.3.11/js/app.min.js"></script>
	
	<!-- Slimscroll -->
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	
	<!-- bootstrap-fileinput -->
	<link href="plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
	<link href="plugins/bootstrap-fileinput/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />
	<script src="plugins/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/themes/explorer/theme.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
	
	<!-- icheck -->
	<link rel="stylesheet" href="plugins/iCheck/all.css">
	<script src="plugins/iCheck/icheck.min.js"></script>
	
	<!-- Select 2 -->
	<link href="plugins/select2/select2.min.css" rel="stylesheet" />
	<link href="plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	<script src="plugins/select2/select2.full.min.js"></script>
	<script src="plugins/select2/i18n/zh-CN.js"></script>
	
	<!-- JQuery Confirm -->
	<link rel="stylesheet" href="plugins/jquery-confirm/jquery-confirm.min.css">
	<script src="plugins/jquery-confirm/jquery-confirm.min.js"></script>
	
	<!-- Google Font -->
	<link href="plugins/material-icons/icon.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
	
	<!-- bootstrap-wysiwyg -->
	<link href="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
	<!-- <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
	<script src="plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
	<!-- <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> -->
	<script src="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
	<!-- <link href="index.css" rel="stylesheet"> -->
	<script src="plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
	
	<!-- bootstrap datepicker -->
  <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
	<!-- bootstrap datepicker -->
	<script src="plugins/datepicker/bootstrap-datepicker.js"></script>
	
	
	<!-- 自定义插件与样式 -->
	<!-- 全局css -->
	<link href="css_object/global.css" rel="stylesheet" />
	
	<!-- 功能插件 -->
	<script src="js_object/gears.js"></script>
	
	<!-- 双行框 -->
	<link href="css_object/twinrow.css" rel="stylesheet" />
	<script src="js_object/twinrow.js"></script>
	
	<!-- 单行框 -->
	<link href="css_object/singlerow.css" rel="stylesheet" />
	<script src="js_object/singlerow.js"></script>
	
	<!-- 控件 -->
	<link href="css_object/controller.css" rel="stylesheet" />
	<script src="js_object/controller.js"></script>
	
	<!-- 测试 -->
	<script src="js_object/test.js"></script>
	
	
	<!-- <link href="css_object/object.css" rel="stylesheet"> -->
	<link href="css_object/object_final.css" rel="stylesheet">
	<script type="text/javascript" src="js_object/module_final.js"></script>
	<script type="text/javascript" src="js_object/module_final2.js"></script>
	<!-- <script type="text/javascript" src="js_object/module.js"></script> -->
	<!-- <script type="text/javascript" src="js_object/proxy.js"></script> -->

	<!-- <script type="text/javascript" src="js_object/module_beta.js"></script> -->
	
	

	<script>
	var testJson3 = [
		{
			name: '标签1',
			list: [
				{
					type: 'radio',
					required : 1,
					title: '请输入问题',
					tooltip: '',
					radios: [
						{
							name: '选项一',
							value: 1,
							isDefault: 0/1
						}
					]
				},
				{type: "check", title: "请输入问题", radios:  ['选项一', '选项二']},
				{type: "input", title: "请输入问题"},
				{type: "dropdown", title: "请输入问题", radios:  ['选项一', '选项二']},
				{type: "file", title: "请输入问题"}
			]
		},
		{
			name: '标签2',
			list: [
				{type: "radio", title: "请输入问题", radios: ['选项一', '选项二']},
				{type: "number", title: "请输入问题", setting: {min: 5, max: 10, def: 1}}
			]
		}
	];
	
	//initObjectEditor(testJson3, 'vid', 'oid', function(){});
	// 通过json加载以后问题		
	/*
	var testJson1 = [
		{type: "radio", title: "请输入问题", radios: ['选项一', '选项二']},
		{type: "check", title: "请输入问题", radios:  ['选项一', '选项二']},
		{type: "input", title: "请输入问题"},
		{type: "check", title: "请输入问题", radios:  ['选项一', '选项二']},
		{type: "file", title: "请输入问题"}
	];
	initObjectEditor(testJson1);
		*/
	var testJson2 = [
		{
			name: '标签1',
			list: [
				{
					type: 'radio',
					id: 'abc',
					question: '单选框问题',
					list: ['选项1', '选项2', '选项3']
				},{
					type: 'check',
					id: 'efg',
					question: '多选框问题',
					list: ['选项1', '选项2', '选项3']
				},{
					type: 'input',
					id: 'hij',
					question: '输入框问题'
				},{
					type: 'dropdown',
					id: 'klm',
					question: '多选框问题',
					list: ['选项1', '选项2', '选项3']
				},{
					type: 'file',
					id: 'nop',
					question: '输入框问题'
				}
			]
		},
		{
			name: '标签2',
			list: [
				{
					type: 'radio',
					id: 'abc',
					question: '单选框问题',
					list: ['选项1', '选项2', '选项3']
				}
			]
		}
	];
	
	// initObjectForm(testJson2);


	</script>
	
	</html>


