<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Transtopia - 群组</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	</head>
    
	<body class="skin-green-light">
		<!-- 置顶导航栏 -->
		<header class="main-header">
			
			<!-- 置顶一级导航栏 -->
			<div id="nav-top-first"></div>
			
			<!-- 置顶二级导航栏 -->
			<div id="nav-top-second"></div>

		</header>
		
		<!-- 左侧可隐藏导航栏 -->
		<div id="nav-left-collapse"></div>
		
		<!-- 左侧信息框 -->
		<div class="block-left"></div>
		
		<!-- 右下角按钮组 -->
		<div id="btngroup-rightbot"></div>
		
		<!-- 主要展示框 -->
		<div id="main-block"></div>
		
	</body>
	
	<!-- 插件与样式 -->
	<!-- jQuery	 -->
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	
	<!-- jQuery-UI -->
	<script src="plugins/jQueryUI/jquery-ui.min.js"></script>
	
	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<script src="plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	
	<!-- AdminLTE App -->
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/AdminLTE.min.css" />
	<link rel="stylesheet" href="plugins/AdminLTE-2.3.11/css/skins/_all-skins.min.css" />
	<script src="plugins/AdminLTE-2.3.11/js/app.min.js"></script>
	
	<!-- Slimscroll -->
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	
	<!-- bootstrap-fileinput -->
	<link href="plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
	<link href="plugins/bootstrap-fileinput/themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css" />
	<script src="plugins/bootstrap-fileinput/js/plugins/sortable.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/themes/explorer/theme.js" type="text/javascript"></script>
	<script src="plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
	
	<!-- icheck -->
	<link rel="stylesheet" href="plugins/iCheck/all.css">
	<script src="plugins/iCheck/icheck.min.js"></script>
	
	<!-- Select 2 -->
	<link href="plugins/select2/select2.min.css" rel="stylesheet" />
	<link href="plugins/select2/select2-bootstrap.css" rel="stylesheet" />
	<script src="plugins/select2/select2.full.min.js"></script>
	<script src="plugins/select2/i18n/zh-CN.js"></script>
	
	<!-- JQuery Confirm -->
	<link rel="stylesheet" href="plugins/jquery-confirm/jquery-confirm.min.css">
	<script src="plugins/jquery-confirm/jquery-confirm.min.js"></script>
	
	<!-- Google Font -->
	<link href="plugins/material-icons/icon.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link rel="stylesheet" href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
	
	<!-- bootstrap-wysiwyg -->
	<link href="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
	<!-- <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
	<script src="plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
	<!-- <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> -->
	<script src="plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
	<!-- <link href="index.css" rel="stylesheet"> -->
	<script src="plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
	
	
	<!-- 自定义插件与样式 -->
	<!-- 全局css -->
	<link href="css_object/global.css" rel="stylesheet" />
	
	<!-- 功能插件 -->
	<script src="js_object/gears.js"></script>
	
	<!-- 双行框 -->
	<link href="css_object/twinrow.css" rel="stylesheet" />
	<script src="js_object/twinrow.js"></script>
	
	<!-- 单行框 -->
	<link href="css_object/singlerow.css" rel="stylesheet" />
	<script src="js_object/singlerow.js"></script>
	
	<!-- 控件 -->
	<link href="css_object/controller.css" rel="stylesheet" />
	<script src="js_object/controller.js"></script>
	
	<!-- 测试 -->
	<script src="js_object/test.js"></script>
	
	
	<link href="css_object/object.css" rel="stylesheet">
	<script type="text/javascript" src="js_object/module.js"></script>
	<script type="text/javascript" src="js_object/proxy.js"></script>

	<script type="text/javascript" src="js_object/module_beta.js"></script>
	
	<style>
	.tab-rename {
		margin-top: 10px;
	}
	</style>
	
	<script>
	var testJson3 = [
		{
			name: '标签1',
			list: [
				{
					type: 'radio',
					required : 1,
					title: '请输入问题',
					tooltip: '',
					radios: [
						{
							name: '选项一',
							value: 1,
							isDefault: 0/1
						}
					]
				},
				{type: "check", title: "请输入问题", radios:  ['选项一', '选项二']},
				{type: "input", title: "请输入问题"},
				{type: "dropdown", title: "请输入问题", radios:  ['选项一', '选项二']},
				{type: "file", title: "请输入问题"}
			]
		},
		{
			name: '标签2',
			list: [
				{type: "radio", title: "请输入问题", radios: ['选项一', '选项二']},
				{type: "number", title: "请输入问题", setting: {min: 5, max: 10, def: 1}}
			]
		}
	];
	
	//initObjectEditor(testJson3, 'vid', 'oid', function(){});
	// 通过json加载以后问题		
	/*
	var testJson1 = [
		{type: "radio", title: "请输入问题", radios: ['选项一', '选项二']},
		{type: "check", title: "请输入问题", radios:  ['选项一', '选项二']},
		{type: "input", title: "请输入问题"},
		{type: "check", title: "请输入问题", radios:  ['选项一', '选项二']},
		{type: "file", title: "请输入问题"}
	];
	initObjectEditor(testJson1);
		*/
	var testJson2 = [
		{
			name: '标签1',
			list: [
				{
					type: 'radio',
					id: 'abc',
					question: '单选框问题',
					list: ['选项1', '选项2', '选项3']
				},{
					type: 'check',
					id: 'efg',
					question: '多选框问题',
					list: ['选项1', '选项2', '选项3']
				},{
					type: 'input',
					id: 'hij',
					question: '输入框问题'
				},{
					type: 'dropdown',
					id: 'klm',
					question: '多选框问题',
					list: ['选项1', '选项2', '选项3']
				},{
					type: 'file',
					id: 'nop',
					question: '输入框问题'
				}
			]
		},
		{
			name: '标签2',
			list: [
				{
					type: 'radio',
					id: 'abc',
					question: '单选框问题',
					list: ['选项1', '选项2', '选项3']
				}
			]
		}
	];
	
	// initObjectForm(testJson2);


	</script>

	
	<script>
	//页面初始化
	
	$( document ).ready(function() {
		var objectid = 123;
		
		// 主控区域
		var temp = new MainBlockController($('#main-block'));
		
		//1. 加载置顶一级导航栏
		//查询User信息
		var FNTController = new FirstNavTopController($('#nav-top-first'));
		FNTController.ajaxLoad('物品');
		
		//2. 加载置顶二级导航栏
		var SNTController = new SecondNavTopController($('#nav-top-second'), temp);
		SNTController.ajaxLoadForObject(objectid);
		
		//3. 加载左侧折叠导航(未完成)
		var CNLController = new CollapseNavLeftController($('#nav-left-collapse'));
		CNLController.defaultLoad();
		
		//4. 加载物品组信息栏
		var LMController = new LeftModuleController($('.block-left'));
		LMController.ajaxLoadForObject(objectid);
		
		
		//5. 加载右下角按钮组件
		var RBBController = new RightBotBtnController($('#btngroup-rightbot'));
		RBBController.ajaxLoadForObject(objectid);
		
		//6. 加载动态
		temp.ajaxLoadObjectPost(objectid);
		
		//$(transCloudModal).transCloud({title: '文件管理', dirFull: '/TransCloud/交托帮', dirRoot: '/TransCloud', dataRequest: '/getFileFolder', createCard: createFileCardHTML})
		$('#testtest').modal('show');
	});
	</script>
	
	<script>
		var loadWysiwyg = function (editor, toolbar) {
			$(function(){
				function initToolbarBootstrapBindings() {
					var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier', 
								'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
								'Times New Roman', 'Verdana'],
								fontTarget = $(toolbar).find('[title=Font]').siblings('.dropdown-menu');
					$.each(fonts, function (idx, fontName) {
							fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
					});
					$('a[title]').tooltip({container:'body'});
					$('.dropdown-menu input').click(function() {return false;})
						.change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
						.keydown('esc', function () {this.value='';$(this).change();});

					$('[data-role=magic-overlay]').each(function () { 
						var overlay = $(this), target = $(overlay.data('target')); 
						overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
					});
					if ("onwebkitspeechchange"  in document.createElement("input")) {
						var editorOffset = editor.offset();
						$('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+editor.innerWidth()-35});
					} else {
						$('#voiceBtn').hide();
					}
			};
			function showErrorAlert (reason, detail) {
				var msg='';
				if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
				else {
					console.log("error uploading file", reason, detail);
				}
				$('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+ 
				 '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
			};
				initToolbarBootstrapBindings();  
			editor.wysiwyg({ fileUploadError: showErrorAlert} );
				window.prettyPrint && prettyPrint();
			});
		};
var getEditor = function (data) {
	var html = $(
		'<div>\n' +
		'	<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn dropdown-toggle" data-toggle="dropdown" title="字体"><i class="icon-font"></i><b class="caret"></b></a>\n' +
		'			<ul class="dropdown-menu">\n' +
		'			</ul>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn dropdown-toggle" data-toggle="dropdown" title="字体大小"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>\n' +
		'			<ul class="dropdown-menu">\n' +
		'			<li><a data-edit="fontSize 5"><font size="5">大</font></a></li>\n' +
		'			<li><a data-edit="fontSize 3"><font size="3">中</font></a></li>\n' +
		'			<li><a data-edit="fontSize 1"><font size="1">小</font></a></li>\n' +
		'			</ul>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="bold" title="加粗 (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>\n' +
		'		<a class="btn" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>\n' +
		'		<a class="btn" data-edit="strikethrough" title="（加） 删除线"><i class="icon-strikethrough"></i></a>\n' +
		'		<a class="btn" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="insertunorderedlist" title="项目列表"><i class="icon-list-ul"></i></a>\n' +
		'		<a class="btn" data-edit="insertorderedlist" title="数字列表"><i class="icon-list-ol"></i></a>\n' +
		'		<a class="btn" data-edit="outdent" title="清除缩进 (Shift+Tab)"><i class="icon-indent-left"></i></a>\n' +
		'		<a class="btn" data-edit="indent" title="缩进 (Tab)"><i class="icon-indent-right"></i></a>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="justifyleft" title="居左 (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>\n' +
		'		<a class="btn" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>\n' +
		'		<a class="btn" data-edit="justifyright" title="居右 (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>\n' +
		'		<a class="btn" data-edit="justifyfull" title="正常 (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>\n' +
		'		</div>\n' +
		'		<div class="btn-group">\n' +
		'			<a class="btn dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="icon-link"></i></a>\n' +
		'			<div class="dropdown-menu input-append">\n' +
		'				<input class="span2" placeholder="URL" type="text" data-edit="createLink"/>\n' +
		'				<button class="btn" type="button">添加</button>\n' +
		'		</div>\n' +
		'		<a class="btn" data-edit="unlink" title="去除链接"><i class="icon-cut"></i></a>\n' +
		'		</div>\n' +
		'		<!-- <div class="btn-group">\n' +
		'		<a class="btn" title="浏览或拖拽添加图片" id="pictureBtn"><i class="icon-picture"></i></a>\n' +
		'		<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />\n' +
		'		</div> --> \n' +
		'		<div class="btn-group">\n' +
		'		<a class="btn" data-edit="undo" title="撤消 (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>\n' +
		'		<a class="btn" data-edit="redo" title="重复 (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>\n' +
		'		</div>\n' +
		'	</div>\n' +
		'	<div id="editor" class="editor">' + (data ? data : '') + '\n' +
		'	</div>\n' +
		'</div>'
	);
	
  loadWysiwyg($(html).find('#editor'), $(html).find('.btn-toolbar'));
	 
	$(html).find('#editor').slimScroll({
		height: '250px'
	});
	$(html).find('#editor').css({
		border: '1px solid rgba(0,0,0,.3)'
	});
	 return html;
};
	
	</script>

	<script>
	const ANIMATION_TIME = 400;
	
	var FilePanel = function(type, id){
		// type 1. 私人; 2. 群组;  
		// id: userID 或者 GroupID
		var module = $(
			'<div class="file-panel" style="min-height: 50vh;">\n' +
			'	<!-- 目录内容 -->\n' +
			'	<div class="form-group pull-right" style="width: 200px;">\n' +
			'		<div class="input-group">\n' +
			'			<input type="text" class="form-control" placeholder="搜索..." data-action="search" />\n' +
			'			<div class="input-group-addon" style="cursor: pointer;">\n' +
			'				<i class="fa fa-search"></i>\n' +
			'			</div>\n' +
			'		</div>\n' +
			'	</div>\n' +
			'	<div class="clearfix"></div>\n' +
			'	<!-- 文件内容 -->\n' +
			'</div>'
		);
		var obj = this;
		var directory = new Directory();
		var fileBlock = new FileBlock(FileCard, FolderCard);
		
		// 加载
		this.load = function(dirID){
			getPublicFilesFolders(type, id, dirID)
				.then(function(result){
					// 加载DIR
					directory.load(result.dir);
					// 加载文件
					fileBlock.load(result.files, result.folders);
					// 搜索框重置
					module.find('[data-action="search"]').val("");
				}).catch(function(reason){
					console.log(reason);
				});
		};
		
		
		// 获取模块组
		this.getModule = function(){
			return module;
		};
		
		(function(){
			// 加载目录模块
			module.find('.dir').remove();
			module.prepend(directory.getModule());
			// 加载文件（夹）模块
			module.find('.file-block').remove();
			module.append(fileBlock.getModule());
			obj.load(0);
			
			// 1)点击文件夹
			module.on('click', '[data-type="folder"]', function(ev){
				var id = $(this).find('[data-type="name"]').attr('data-id');
				obj.load(id);
			});
			
			// 2)点击文件
			module.on('click', '[data-type="file"]', function(ev){
				var src = $(this).find('[data-type="name"]').attr('data-src');
				window.open(src, '_blank');
			});
			
			// 3)点击目录
			module.on('click', '.dir-item', function(ev){
				var id = $(this).attr('data-id');
				obj.load(id);
			});
			
			// 4)搜索
			module.on('change', '[data-action="search"]', function(ev){
				var query = this.value;
				
				$.each(module.find('[data-type="file"], [data-type="folder"]'), function(index,item){
					var name = $(item).find('[data-type="name"]').text();
					
					if(!name.match(query)){
						$(item).hide(ANIMATION_TIME);
					}else{
						$(item).show(ANIMATION_TIME);
					}
				});
			});
			
		})();
	};
	
	
	
	// 目录
	var Directory = function(){
		var dir = $(
			'<div class="dir">\n' +
			'	<!-- 目录内容 -->\n' +
			'</div>'
		);

		//加载
		this.load = function(list){
			dir.find('.dir-item:not(.dir-base)').remove();
			var target = dir;
			var length = list.length;
			
			$.each(list, function(index, item){
				if(index < length-1){
					target.append('<span class="dir-item" data-id="' + item.id +'"><span>' + item.name + '</span> <i class="fa fa-caret-right"></i></span>\n');
				}else if(index == length-1){
					target.append('<span class="dir-item" data-id="' + item.id +'"><span>' + item.name + '</span> <i class="fa fa-caret-down"></i></span>\n');
				}else{
					console.log('error');
				}
				
			});
		};
		
		this.getModule = function(){
			return dir;
		};
		
		(function(){
			// 加载base目录
			dir.find('.dir-base').remove();
			dir.prepend('<span class="dir-item dir-base" data-id="0"><span>公开文件夹</span></span>\n');
		})();
		
		
	};
	
	// 文件(夹)容器
	var FileBlock = function(fileCard, folderCard){
		var block = $(
			'<div class="file-block row" style="height: 50vh;">\n' +
			'		<!-- 插入文件内容 -->\n' +
			'</div>'
		);
		
		// 加载
		this.load = function(files, folders){
			this.clear();
			// 加载文件夹
			$.each(folders, function(index, item){
				block.append(folderCard(item));
			});
			
			// 加载文件
			$.each(files, function(index, item){
				block.append(fileCard(item));
			});
		};
		
		// 清空
		this.clear = function(){
			block.empty();
		};
		
		// 获取模块
		this.getModule = function(){
			return block;
		};
	};
	
	// 文件样式
	var FileCard = function(data){
		return $(
			'<div class="col-lg-2 col-md-3 col-sm-4" allowsearch data-type="file">\n' +
			'	<div class="file-card" style="background-color: rgb(229, 57, 53);">\n' +
			'		<div class="card-body">\n' +
			'			<div class="content-default">\n' +
			'				<i class="fa fa-file"></i>\n' +
			'				<div data-type="name" data-id="' + data.id + '" data-src="' + data.src + '">' + data.name + '</div>\n' +
			'			</div>\n' +
			'		</div>\n' +
			'	</div>\n' +
			'</div>'
		);
	};
	
	//文件夹样式
	var FolderCard = function(data){
		return $(
			'<div class="col-lg-2 col-md-3 col-sm-4" allowsearch data-type="folder">\n' +
			'	<div class="file-card" style="background-color: rgb(29, 135, 228);">\n' +
			'		<div class="card-body">\n' +
			'			<div class="content-default">\n' +
			'				<i class="fa fa-folder"></i>\n' +
			'				<div data-type="name" data-id="' + data.id + '" data-src="' + data.src + '">' + data.name + '</div>\n' +
			'			</div>\n' +
			'		</div>\n' +
			'	</div>\n' +
			'</div>'
		);
	};
	
	
	/* Promise */
	const GET_PUBLIC_FILES_FOLDERS = URLPrefix +  '/get_public_files_folders';
	var getPublicFilesFolders = function(type, id, dirID){
		return new Promise(function(resolve, reject){
			$.ajax({
				url : GET_PUBLIC_FILES_FOLDERS,
				data: {
					type: type, // 1. 私人; 2. 群组
					id: id,	// userID 或者 GroupID
					dirID: dirID
				},
				type : "GET",
				dataType : 'json',
				success : function (result){
					// result {value, sublist, tail}
					if(result == 0){
						reject('请求失败1');
					}else{
						resolve(result);
					}
				},
				error: function(err){
					reject('请求失败2');
				}
			});
		});
	};
	
	
	$('#testTest').modal('show');
	var filePanel = new FilePanel();

	
	$('#testTest').find('.modal-body').append(filePanel.getModule());
	</script>
	
	
	</html>


