<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- jQuery	 -->
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>

	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="../plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<script src="../plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="../plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
	
	<!-- bootstrap-wysiwyg -->
	<link href="../plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
	<script src="../plugins/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
	<script src="../plugins/bootstrap-wysiwyg/external/google-code-prettify/prettify.js"></script>
	<script src="../plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
	
	
	
	<!-- 自定义 -->
	<link href="../post/editor.css" rel="stylesheet" />
	<script src="../post/editor.js"></script>
	
	<link href="../post/switch.css" rel="stylesheet" />
	
	<link href="../post/global.css" rel="stylesheet" />
	<script src="../post/global.js"></script>
	
	<link href="../post/post.css" rel="stylesheet" />
	<script src="../post/post.js"></script>
	
	<link href="../post/selectbox.css" rel="stylesheet" />
	<script src="../post/selectbox.js"></script>
	

	</head>
  <body style="background-color: rgba(0,0,0,0.3)">
	<div class="container" style="margin-top: 15px;">
		<div class="row">
			<div class="col-lg-6"></div>
		</div>
	</div>
	
	
	<script>
	var sharedList = {
		title: '12313131231231',
		tags:[
			{
				icon: '<i class="fa fa-plus"></i>',
				name: 'sdfsafasfasdf',
				value: '1',
				hasCollapse: 1,
				isSelect: 0,
				collapseTags: [{
					icon: '<i class="fa fa-minus"></i>',
					name: '123123',
					value: '22',
					isSelect: 1
				},{
					icon: '<i class="fa fa-minus"></i>',
					name: '123123',
					value: '22',
					isSelect: 0
				}],
				collapseBot: {
					icon: '<i class="fa fa-pencil"></i>',
					name: 'fasfasfa',
					list: [{
						id: '1',
						name: '213123123',
						src: '/dist/img/avatar04.png'
					},{
						id: '1',
						name: '213123123',
						src: '/dist/img/avatar04.png'
					}]
				}
			},
			{
				icon: '<i class="fa fa-plus"></i>',
				name: 'sdfsafasfasdf',
				value: '1',
				hasCollapse: 0,
				isSelect: 1
			},{
				icon: '<i class="fa fa-plus"></i>',
				name: 'sdfsafasfasdf',
				value: '1',
				hasCollapse: 1,
				isSelect: 0,
				collapseTags: [{
					icon: '<i class="fa fa-minus"></i>',
					name: '123123',
					value: '22',
					isSelect: 1
				},{
					icon: '<i class="fa fa-minus"></i>',
					name: '123123',
					value: '22',
					isSelect: 0
				}],
				collapseBot: {
					icon: '<i class="fa fa-pencil"></i>',
					name: 'fasfasfa',
					list: [{
						id: '1',
						name: '213123123',
						src: '/dist/img/avatar04.png'
					},{
						id: '1',
						name: '213123123',
						src: '/dist/img/avatar04.png'
					}]
				}
			},{
				icon: '<i class="fa fa-plus"></i>',
				name: 'sdfsafasfasdf',
				value: '1',
				hasCollapse: 1,
				isSelect: 0,
				collapseTags: [{
					icon: '<i class="fa fa-minus"></i>',
					name: '123123',
					value: '22',
					isSelect: 1
				},{
					icon: '<i class="fa fa-minus"></i>',
					name: '123123',
					value: '22',
					isSelect: 0
				}],
				collapseBot: {
					icon: '<i class="fa fa-pencil"></i>',
					name: 'fasfasfa',
					list: [{
						id: '1',
						name: '213123123',
						src: '/dist/img/avatar04.png'
					},{
						id: '1',
						name: '213123123',
						src: '/dist/img/avatar04.png'
					}]
				}
			}
		]
	};
	
	
	selectBox(
		sharedList, 
		// action_viewTag
		function(data){
			console.log(data);
		},
		function(data, $tail, callback){
			console.log(data);
			data.push({
				id: '1',
				name: '21312312123123123123123123',
				src: '/dist/img/avatar04.png'
			})
			callback($tail, data);
		}
	);
	
	
	
	
	
	
	
	
	var tags = [{
		name: 111
	},{
		name: 111
	},{
		name: 111
	}];
	
	var tags2 = [{
		name: 222
	},{
		name: 222
	},{
		name: 222
	}];

	var sharedTo = {
		name: '自定义',
		value: 1,
		listItem: [{
			id: 1,
			name: '张震雨',
			image: '/dist/img/avatar04.png',
			role: 1
		},{
			id: 2,
			name: '刘强',
			image: '/dist/img/avatar04.png',
			role: 1
		}],
		listTag: [{
			id: 1,
			name: '张震雨',
			image: '/dist/img/avatar2.png',
			role: 2
		},{
			id: 2,
			name: '刘强',
			image: '/dist/img/avatar2.png',
			role: 2
		}]
	};
	
	/* {
		id,
		sender: {
			id,
			name,
			image
		},
		replyTo: {
			id,
			name,
			image
		},
		createDate,
		isLike: 0/1,
		byMe: 0/1,
		content,
	}
	 */
	
	var comments = [{
		id: 1,
		sender: {
			id: 1,
			name: '张振宇',
			image: '/dist/img/avatar2.png'
		},
		replyTo: {
			id: 2,
			name: '刘强',
			image: '/dist/img/avatar3.png'
		
		},
		createDate: '2015年1月15日-14:25',
		isLike: 0,
		byMe: 1,
		content: 'sa2d3f1as2f31sdf3a1f3sa2f1as3df\nds1f32asdf1as3f21asdf231asf3a2a1f'
	},
	{
		id: 2,
		sender: {
			id: 1,
			name: '张振宇',
			image: '/dist/img/avatar2.png'
		},
		replyTo: {
			id: 2,
			name: '刘强',
			image: '/dist/img/avatar3.png'
		
		},
		createDate: '2015年1月15日-14:25',
		isLike: 0,
		byMe: 0,
		content: '    		sa2d3f1as2f31sdf3a1f3sa2f1as3df\nds1f32asdf1as3f21asdf231asf3a2a1f'
	},{
		id: 2,
		sender: {
			id: 1,
			name: '张振宇',
			image: '/dist/img/avatar2.png'
		},
		replyTo: {
			id: 2,
			name: '刘强',
			image: '/dist/img/avatar3.png'
		
		},
		createDate: '2015年1月15日-14:25',
		isLike: 0,
		byMe: 0,
		content: '    sa2d3f1as2f31sdf3a1f3sa2f1as3df\nds1f32asdf1as3f21asdf231asf3a2a1f'
	},
	{
		id: 2,
		sender: {
			id: 1,
			name: '张振宇',
			image: '/dist/img/avatar2.png'
		},
		replyTo: {
			id: 2,
			name: '刘强',
			image: '/dist/img/avatar3.png'
		
		},
		createDate: '2015年1月15日-14:25',
		isLike: 0,
		byMe: 0,
		content: '    		sa2d3f1as2f31sdf3a1f3sa2f1as3df\nds1f32asdf1as3f21asdf231asf3a2a1f'
	},{
		id: 2,
		sender: {
			id: 1,
			name: '张振宇',
			image: '/dist/img/avatar2.png'
		},
		replyTo: {
			id: 2,
			name: '刘强',
			image: '/dist/img/avatar3.png'
		
		},
		createDate: '2015年1月15日-14:25',
		isLike: 0,
		byMe: 0,
		content: '    sa2d3f1as2f31sdf3a1f3sa2f1as3df\nds1f32asdf1as3f21asdf231asf3a2a1f'
	}]
	
	var post = {
		id: 1,
		type: 1,
		createDate: '2015年1月15日-14:25',
		poster: {
			id: 1,
			name: '李伟',
			image: '/dist/img/avatar04.png'
		},
		shared: sharedTo,
		title: '这是一个title',
		postImage: '/dist/img/photo4.jpg',
		content: '<p>adfaffsd</p><p>adfaffsd</p><img class="img-responsive" data-name="postimage" src="/dist/img/photo4.jpg"><p>adfaffsd</p><p>adfaffsd</p><p>adfaffsd</p>',
		allowSharing: 1,
		tags: tags,
		likes: 523,
		isLike: 1,
		commentLength: 530,
		comments: comments,
		authority: 2 // 2 edit, 1 veiw details, 0 need to log in 
	};
	
	
	var post2 = {
		id: 1,
		type: 1,
		createDate: '2015年1月15日-14:25',
		poster: {
			id: 1,
			name: '李伟',
			image: '/dist/img/avatar04.png'
		},
		shared: sharedTo,
		title: '这是一个title',
		postImage: '/dist/img/photo4.jpg',
		content: '<p>adfaffsd</p><p>adfaffsd</p><p>adfaffsd</p><p>adfaffsd</p><p>adfaffsd</p>',
		allowSharing: 1,
		tags: tags,
		likes: 523,
		isLike: 1,
		commentLength: 530,
		comments: [comments[1], comments[2]],
		authority: 2 // 2 edit, 1 veiw details, 0 need to log in 
	};
	
	var $post = post_Block(
		post,
		//action_viewPoster
		function(data){
			console.log(data);
		},
		//action_viewDetails
		function(data){
			console.log(data);
		},
		//action_edit
		function(data){
			console.log(data);
		},
		//action_delete
		function(data){
			console.log(data);
		},
		//action_stack
		function(data){
			console.log(data);
		},
		//action_report
		function(data){
			console.log(data);
		},
		//action_like
		function(data, callback){
			console.log(data);
			callback({
				isLike: data.isLike,
				likes: 1
			})
		},
		//action_getComment
		function(data, callback){
			console.log(data);
			callback(post);
		},
		// action_likeComment
		function(data, callback){
			console.log(data);
			callback(data)
		},
		// action_deleteComment
		function(data, callback){
			console.log(data);
			callback(post2)
		},
		// action_reportComment
		function(data){
			console.log(data);
		},
		// action_reportComment
		function(data, callback1, callback2){
			console.log(data);
			callback1(post2);
			callback2();
		}
	);
	$('.col-lg-6').append($post);
	
	
	/*
	post_Modal(
		post,
		//action_viewPoster
		function(data){
			console.log(data);
		},
		//action_edit
		function(data){
			console.log(data);
		},
		//action_delete
		function(data){
			console.log(data);
		},
		//action_stack
		function(data){
			console.log(data);
		},
		//action_report
		function(data){
			console.log(data);
		},
		//action_like
		function(data, callback){
			console.log(data);
			callback({
				isLike: data.isLike,
				likes: 1
			})
		},
		//action_getComment
		function(data, callback){
			console.log(data);
			callback(post);
		},
		// action_likeComment
		function(data, callback){
			console.log(data);
			callback(data)
		},
		// action_deleteComment
		function(data, callback){
			console.log(data);
			callback(post2)
		},
		// action_reportComment
		function(data){
			console.log(data);
		},
		// action_reportComment
		function(data, callback1, callback2){
			console.log(data);
			callback1(post2);
			callback2();
		}
	);
	*/
	/*
	postEditor(
		post, 
		function(data, callback){
			console.log(data);
			callback(sharedTo);
		},
		function(data, callback){
			console.log(data);
			callback(tags2);
		},
		function(data, callback){
			console.log(data);
			callback();
		},
		function(data){
			console.log(data);
		},
		function(callback){
			callback();
		},
		function(data){
			console.log(data);
			return 1111;
		}
	);
	*/
	
	</script>
	
	
	
	
	</body>
</html>