<!DOCTYPE html>
<!-- 隐私 -->
<!-- <div class="modal fade" id="modal-group-privacy">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">群组隐私设置</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-10 menu-label">新成员加入时需要验证</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">接收新成员加入</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">动态提醒</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">消息免打扰</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">允许群被关注</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">允许群名片被分享</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">群聊天置顶</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">我在群中昵称 </div>
					<div class="col-xs-2">
						<input class="form-control" style="border-top: none;border-left: none;border-right: none;" value="张震宇" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">清空消息记录 </div>
					<div class="col-xs-2">
						<a href="#">清空消息</a>
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<a data-dismiss="modal">关闭</a>
			</div>
		</div>
	</div>
</div> -->

<div class="modal fade" id="modal-group-privacy">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">群组隐私设置</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-10 menu-label">新成员加入时需要验证</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">接收新成员加入</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">动态提醒</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">消息免打扰</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">允许群被关注</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">允许群名片被分享</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">群聊天置顶</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">我在群中昵称 </div>
					<div class="col-xs-2">
						<input class="form-control" style="border-top: none;border-left: none;border-right: none;" value="张震宇" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">清空消息记录 </div>
					<div class="col-xs-2">
						<a href="#">清空消息</a>
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<a data-dismiss="modal">关闭</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-test">
	<div class="modal-dialog" style="width: 50vw;">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">产品与服务</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" style="width: 250px;">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="搜索..." />
						<div class="input-group-addon">
							<i class="fa fa-search"></i>
						</div>
					</div>
					<!-- /.input group -->
				</div>
				<div class="list-block">
				<div class="col-lg-3">
					<div class="create-tag">
						<div class="tag-body">
							<a href="#" style="color: rgba(0,0,0,0.54);cursor: pointer;"><i class="material-icons" style="font-size: 48px;">add_circle_outline</i></a>
							<div style="color: rgba(0,0,0,0.54);cursor: pointer;">购买新产品</div>
						</div>
					</div>
				</div>
					<div class="col-lg-3">
						<div class="modal-card" style="background-color: rgb(119, 143, 155);" data-id="1">
							<div class="card-body">
								<a href="#"><i class="material-icons">av_timer</i></a>
								<div>人数上限500</div>
							</div>
							<div class="check">
							<i class="material-icons" style="font-size: 60px; color: rgba(255,255,255, 1)">merge_type</i>
							<div style="color:rgba(255,255,255,0.8);">升级</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="modal-card" style="background-color: rgb(255, 111, 66);" data-id="1">
							<div class="card-body">
								<a href="#"><i class="material-icons">album</i></a>
								<div>空间大小20G</div>
							</div>
							<div class="check">
								<i class="material-icons" style="font-size: 60px; color: rgba(255,255,255, 1)">merge_type</i>
								<div style="color:rgba(255,255,255,0.8);">升级</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<a name="submit">确定</a>
				<a data-dismiss="modal">关闭</a>
			</div>
		</div>
	</div>
</div>

