.wysiwyg-editor .editor{
	border: 1px solid rgba(0,0,0,.3);
	min-height: 200px;
	padding: 10px;
}

.wysiwyg-editor img{
	max-width: 100%;
}

.wysiwyg-editor .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
