<!DOCTYPE html>

<!-- 群设置 -->
<div class="modal fade" id="modal-group-edit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="menu-top">
					<span class="close pull-left" data-dismiss="modal">&times;</span>
					<span>修改群组信息</span>
					<span class="pull-right">完成</span>
					<div class="clearfix"></div>
				</div>
				<div class="background-img">
					<img />
				</div>
				<div class="background-edit">
					<a class="pull-right"><i class="fa fa-camera"></i></a>						
					<div class="clearfix"></div>
				</div>
				
				<div class="img-edit">
					<img class="img-circle" />
				</div>
				
				<div class="main-content">
					<div class="form-group">
						<p><i class="fa fa-user-o"></i> 群组名称</p>
						<input class="form-control input-lg" />
					</div>
					
					<div class="form-group">
						<p><i class="fa fa-pencil-square"></i> 群组简介</p>
						<input class="form-control input-lg" />
					</div>
					
					<div class="form-group">
						<p><i class="fa fa-pencil"></i> 兴趣类别 <span class="pull-right"><a href="#" onclick="initModalTag('类别', 'face', data_tag_0, data_tag, 'action1', 'action2');">修改</a></span></p>
						<div style="margin-top:10px;">

						</div>
					</div>
					
					<div class="form-group">
						<p><i class="fa fa-tags"></i> 兴趣话题 <span class="pull-right"><a href="#" onclick="initModalTag('兴趣', 'face', data_tag_0, data_tag, 'action1', 'action2');">修改</a></span></p>
						<div style="margin-top:10px;">
							
						</div>
					</div>
					
					<div class="form-group">
						<p><i class="fa fa-qrcode"></i> 二维码</p>
						<div style="text-align: center;"><img src="http://www.liantu.com/images/2013/liantu.png" style="height: 200px;"/></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 隐私 -->
<!-- <div class="modal fade" id="modal-group-privacy">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">群组隐私设置</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-10 menu-label">新成员加入时需要验证</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">接收新成员加入</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">动态提醒</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">消息免打扰</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">允许群被关注</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">允许群名片被分享</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">群聊天置顶</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">我在群中昵称 </div>
					<div class="col-xs-2">
						<input class="form-control" style="border-top: none;border-left: none;border-right: none;" value="张震宇" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">清空消息记录 </div>
					<div class="col-xs-2">
						<a href="#">清空消息</a>
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<a data-dismiss="modal">关闭</a>
			</div>
		</div>
	</div>
</div> -->

<div class="modal fade" id="modal-group-privacy">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">群组隐私设置</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-10 menu-label">新成员加入时需要验证</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">接收新成员加入</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">动态提醒</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">消息免打扰</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">允许群被关注</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">允许群名片被分享</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">群聊天置顶</div>
					<div class="col-xs-2">
						<label class="switch">
							<input type="checkbox" checked>
							<div class="slider round"></div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">我在群中昵称 </div>
					<div class="col-xs-2">
						<input class="form-control" style="border-top: none;border-left: none;border-right: none;" value="张震宇" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 menu-label">清空消息记录 </div>
					<div class="col-xs-2">
						<a href="#">清空消息</a>
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<a data-dismiss="modal">关闭</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-test">
	<div class="modal-dialog" style="width: 50vw;">
		<div class="modal-content">
			<div class="modal-header">
				
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">产品与服务</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" style="width: 250px;">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="搜索..." />
						<div class="input-group-addon">
							<i class="fa fa-search"></i>
						</div>
					</div>
					<!-- /.input group -->
				</div>
				<div class="list-block">
				<div class="col-lg-3">
					<div class="create-tag">
						<div class="tag-body">
							<a href="#" style="color: rgba(0,0,0,0.54);cursor: pointer;"><i class="material-icons" style="font-size: 48px;">add_circle_outline</i></a>
							<div style="color: rgba(0,0,0,0.54);cursor: pointer;">购买新产品</div>
						</div>
					</div>
				</div>
					<div class="col-lg-3">
						<div class="modal-card" style="background-color: rgb(119, 143, 155);" data-id="1">
							<div class="card-body">
								<a href="#"><i class="material-icons">av_timer</i></a>
								<div>人数上限500</div>
							</div>
							<div class="check">
							<i class="material-icons" style="font-size: 60px; color: rgba(255,255,255, 1)">merge_type</i>
							<div style="color:rgba(255,255,255,0.8);">升级</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="modal-card" style="background-color: rgb(255, 111, 66);" data-id="1">
							<div class="card-body">
								<a href="#"><i class="material-icons">album</i></a>
								<div>空间大小20G</div>
							</div>
							<div class="check">
								<i class="material-icons" style="font-size: 60px; color: rgba(255,255,255, 1)">merge_type</i>
								<div style="color:rgba(255,255,255,0.8);">升级</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<a name="submit">确定</a>
				<a data-dismiss="modal">关闭</a>
			</div>
		</div>
	</div>
</div>

