<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HandleCreateNewFolder</servlet-name>
        <servlet-class>FileManage.HandleCreateNewFolder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleUploadFile</servlet-name>
        <servlet-class>FileManage.HandleUploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleShareFile</servlet-name>
        <servlet-class>FileManage.HandleShareFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleLogin</servlet-name>
        <servlet-class>Admin.HandleLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetRecentUsers</servlet-name>
        <servlet-class>FileManage.HandleGetRecentUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRemoveShareFile</servlet-name>
        <servlet-class>FileManage.HandleRemoveShareFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetProjectList</servlet-name>
        <servlet-class>FileManage.HandleGetProjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleMoveProject</servlet-name>
        <servlet-class>FileManage.HandleMoveProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRemoveProject</servlet-name>
        <servlet-class>FileManage.HandleRemoveProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRenameProject</servlet-name>
        <servlet-class>FileManage.HandleRenameProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRegistration</servlet-name>
        <servlet-class>Admin.HandleRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleActivate</servlet-name>
        <servlet-class>Admin.HandleActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateIntersection</servlet-name>
        <servlet-class>Survey.HandleCreateIntersection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateTask</servlet-name>
        <servlet-class>Survey.HandleCreateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateSeg</servlet-name>
        <servlet-class>Survey.HandleCreateSeg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateSegTask</servlet-name>
        <servlet-class>Survey.HandleCreateSegTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateLight</servlet-name>
        <servlet-class>Survey.HandleCreateLight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateLightTask</servlet-name>
        <servlet-class>Survey.HandleCreateLightTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAddSurvey_Task_Model</servlet-name>
        <servlet-class>Survey.HandleAddSurvey_Task_Model</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAssignTask</servlet-name>
        <servlet-class>Survey.HandleAssignTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleWorkingStatus</servlet-name>
        <servlet-class>Survey.HandleWorkingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleTest</servlet-name>
        <servlet-class>Survey.HandleTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateTBImag</servlet-name>
        <servlet-class>Survey.HandleCreateTBImag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetCalendarEvents</servlet-name>
        <servlet-class>Survey.HandleGetCalendarEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleDeleteTask_Model</servlet-name>
        <servlet-class>Survey.HandleDeleteTask_Model</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleUserTask</servlet-name>
        <servlet-class>Survey.HandleUserTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetModelInfo</servlet-name>
        <servlet-class>Survey.HandleGetModelInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetAllUNTasks</servlet-name>
        <servlet-class>Survey.HandleGetAllUNTasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleUploadData</servlet-name>
        <servlet-class>Survey.HandleUploadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetDashInfo</servlet-name>
        <servlet-class>Survey.HandleGetDashInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetResultViewInfo</servlet-name>
        <servlet-class>Survey.HandleGetResultViewInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleShowData</servlet-name>
        <servlet-class>Survey.HandleShowData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCopyModel</servlet-name>
        <servlet-class>Survey.HandleCopyModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateCopyedModel</servlet-name>
        <servlet-class>Survey.HandleCreateCopyedModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetAllModels</servlet-name>
        <servlet-class>Survey.HandleGetAllModels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleMakeCopyTasks</servlet-name>
        <servlet-class>Survey.HandleMakeCopyTasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleWeiXinConnect</servlet-name>
        <servlet-class>WeiXin.HandleWeiXinConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetErrors</servlet-name>
        <servlet-class>WeiXin.HandleGetErrors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetWechatTicket</servlet-name>
        <servlet-class>WeiXin.HandleGetWechatTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetUserInfo</servlet-name>
        <servlet-class>FileManage.HandleGetUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleLogOut</servlet-name>
        <servlet-class>Admin.HandleLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetRoleInfo</servlet-name>
        <servlet-class>FileManage.HandleGetRoleInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetProjectInfo</servlet-name>
        <servlet-class>FileManage.HandleGetProjectInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleSearchProject</servlet-name>
        <servlet-class>FileManage.HandleSearchProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleSearchMailList</servlet-name>
        <servlet-class>FileManage.HandleSearchMailList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCheckNameExisted</servlet-name>
        <servlet-class>FileManage.HandleCheckNameExisted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRenameCheck</servlet-name>
        <servlet-class>FileManage.HandleRenameCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCopyProject</servlet-name>
        <servlet-class>FileManage.HandleCopyProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetPage</servlet-name>
        <servlet-class>FileManage.HandleGetPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleNameAndParentIDCheck</servlet-name>
        <servlet-class>FileManage.HandleNameAndParentIDCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleShowMessage</servlet-name>
        <servlet-class>FileManage.HandleShowMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAddSurveyProject</servlet-name>
        <servlet-class>Survey.HandleAddSurveyProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleProjectPath</servlet-name>
        <servlet-class>FileManage.HandleProjectPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetSurvey_Project_BasicInfo</servlet-name>
        <servlet-class>Survey.HandleGetSurvey_Project_BasicInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetModelCarTypes</servlet-name>
        <servlet-class>Survey.HandleGetModelCarTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetCurrentWorkingStatus</servlet-name>
        <servlet-class>Survey.HandleGetCurrentWorkingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetModelImageHistory</servlet-name>
        <servlet-class>Survey.HandleGetModelImageHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAddTaskItem</servlet-name>
        <servlet-class>Survey.HandleAddTaskItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleModifyTaskItem</servlet-name>
        <servlet-class>Survey.HandleModifyTaskItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleDeleteTaskItem</servlet-name>
        <servlet-class>Survey.HandleDeleteTaskItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCopyTaskItem</servlet-name>
        <servlet-class>Survey.HandleCopyTaskItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleDeleteGroupTaskItem</servlet-name>
        <servlet-class>Survey.HandleDeleteGroupTaskItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCopyGroupTaskItem</servlet-name>
        <servlet-class>Survey.HandleCopyGroupTaskItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleModifyGroupTaskItem</servlet-name>
        <servlet-class>Survey.HandleModifyGroupTaskItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleUpdateSurvey_Task_Model</servlet-name>
        <servlet-class>Survey.HandleUpdateSurvey_Task_Model</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleModifyModelCar</servlet-name>
        <servlet-class>Survey.HandleModifyModelCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAddCurrentState</servlet-name>
        <servlet-class>Admin.HandleAddCurrentState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleUpdateCurrentState</servlet-name>
        <servlet-class>Admin.HandleUpdateCurrentState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRemoveCurrentState</servlet-name>
        <servlet-class>Admin.HandleRemoveCurrentState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleChangeProjectLatLng</servlet-name>
        <servlet-class>Survey.HandleChangeProjectLatLng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetSurveyProjectInfoByPID</servlet-name>
        <servlet-class>Survey.HandleGetSurveyProjectInfoByPID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleModifySurveyProject</servlet-name>
        <servlet-class>FileManage.HandleModifySurveyProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateTaskGroup</servlet-name>
        <servlet-class>Survey.HandleCreateTaskGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleTasksReadyAssign</servlet-name>
        <servlet-class>Survey.HandleTasksReadyAssign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAddIntersectionImage</servlet-name>
        <servlet-class>Survey.HandleAddIntersectionImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetAllIntersectionImage</servlet-name>
        <servlet-class>Survey.HandleGetAllIntersectionImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleModifyIntersectionImage</servlet-name>
        <servlet-class>Survey.HandleModifyIntersectionImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCreateLinkImage</servlet-name>
        <servlet-class>Survey.HandleCreateLinkImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetProjectList_Intersection</servlet-name>
        <servlet-class>FileManage.HandleGetProjectList_Intersection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleCreateNewFolder</servlet-name>
        <url-pattern>/HandleCreateNewFolder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleUploadFile</servlet-name>
        <url-pattern>/HandleUploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleShareFile</servlet-name>
        <url-pattern>/HandleShareFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleLogin</servlet-name>
        <url-pattern>/HandleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetRecentUsers</servlet-name>
        <url-pattern>/HandleGetRecentUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRemoveShareFile</servlet-name>
        <url-pattern>/HandleRemoveShareFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetProjectList</servlet-name>
        <url-pattern>/HandleGetProjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleMoveProject</servlet-name>
        <url-pattern>/HandleMoveProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRemoveProject</servlet-name>
        <url-pattern>/HandleRemoveProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRenameProject</servlet-name>
        <url-pattern>/HandleRenameProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRegistration</servlet-name>
        <url-pattern>/HandleRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleActivate</servlet-name>
        <url-pattern>/HandleActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateIntersection</servlet-name>
        <url-pattern>/HandleCreateIntersection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateTask</servlet-name>
        <url-pattern>/HandleCreateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateSeg</servlet-name>
        <url-pattern>/HandleCreateSeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateSegTask</servlet-name>
        <url-pattern>/HandleCreateSegTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateLight</servlet-name>
        <url-pattern>/HandleCreateLight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateLightTask</servlet-name>
        <url-pattern>/HandleCreateLightTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAddSurvey_Task_Model</servlet-name>
        <url-pattern>/HandleAddSurvey_Task_Model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAssignTask</servlet-name>
        <url-pattern>/HandleAssignTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleWorkingStatus</servlet-name>
        <url-pattern>/HandleWorkingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleTest</servlet-name>
        <url-pattern>/HandleTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateTBImag</servlet-name>
        <url-pattern>/HandleCreateTBImag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetCalendarEvents</servlet-name>
        <url-pattern>/HandleGetCalendarEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleDeleteTask_Model</servlet-name>
        <url-pattern>/HandleDeleteTask_Model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleUserTask</servlet-name>
        <url-pattern>/HandleUserTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetModelInfo</servlet-name>
        <url-pattern>/HandleGetModelInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetAllUNTasks</servlet-name>
        <url-pattern>/HandleGetAllUNTasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleUploadData</servlet-name>
        <url-pattern>/HandleUploadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetDashInfo</servlet-name>
        <url-pattern>/HandleGetDashInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetResultViewInfo</servlet-name>
        <url-pattern>/HandleGetResultViewInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleShowData</servlet-name>
        <url-pattern>/HandleShowData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCopyModel</servlet-name>
        <url-pattern>/HandleCopyModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateCopyedModel</servlet-name>
        <url-pattern>/HandleCreateCopyedModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetAllModels</servlet-name>
        <url-pattern>/HandleGetAllModels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleMakeCopyTasks</servlet-name>
        <url-pattern>/HandleMakeCopyTasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleWeiXinConnect</servlet-name>
        <url-pattern>/HandleWeiXinConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetErrors</servlet-name>
        <url-pattern>/HandleGetErrors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetWechatTicket</servlet-name>
        <url-pattern>/HandleGetWechatTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetUserInfo</servlet-name>
        <url-pattern>/HandleGetUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleLogOut</servlet-name>
        <url-pattern>/HandleLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetRoleInfo</servlet-name>
        <url-pattern>/HandleGetRoleInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetProjectInfo</servlet-name>
        <url-pattern>/HandleGetProjectInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleSearchProject</servlet-name>
        <url-pattern>/HandleSearchProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleSearchMailList</servlet-name>
        <url-pattern>/HandleSearchMailList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCheckNameExisted</servlet-name>
        <url-pattern>/HandleCheckNameExisted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRenameCheck</servlet-name>
        <url-pattern>/HandleRenameCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCopyProject</servlet-name>
        <url-pattern>/HandleCopyProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetPage</servlet-name>
        <url-pattern>/HandleGetPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleNameAndParentIDCheck</servlet-name>
        <url-pattern>/HandleNameAndParentIDCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleShowMessage</servlet-name>
        <url-pattern>/HandleShowMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAddSurveyProject</servlet-name>
        <url-pattern>/HandleAddSurveyProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleProjectPath</servlet-name>
        <url-pattern>/HandleProjectPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetSurvey_Project_BasicInfo</servlet-name>
        <url-pattern>/HandleGetSurvey_Project_BasicInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetModelCarTypes</servlet-name>
        <url-pattern>/HandleGetModelCarTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetCurrentWorkingStatus</servlet-name>
        <url-pattern>/HandleGetCurrentWorkingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetModelImageHistory</servlet-name>
        <url-pattern>/HandleGetModelImageHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAddTaskItem</servlet-name>
        <url-pattern>/HandleAddTaskItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleModifyTaskItem</servlet-name>
        <url-pattern>/HandleModifyTaskItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleDeleteTaskItem</servlet-name>
        <url-pattern>/HandleDeleteTaskItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCopyTaskItem</servlet-name>
        <url-pattern>/HandleCopyTaskItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleDeleteGroupTaskItem</servlet-name>
        <url-pattern>/HandleDeleteGroupTaskItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCopyGroupTaskItem</servlet-name>
        <url-pattern>/HandleCopyGroupTaskItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleModifyGroupTaskItem</servlet-name>
        <url-pattern>/HandleModifyGroupTaskItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleUpdateSurvey_Task_Model</servlet-name>
        <url-pattern>/HandleUpdateSurvey_Task_Model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleModifyModelCar</servlet-name>
        <url-pattern>/HandleModifyModelCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAddCurrentState</servlet-name>
        <url-pattern>/HandleAddCurrentState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleUpdateCurrentState</servlet-name>
        <url-pattern>/HandleUpdateCurrentState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRemoveCurrentState</servlet-name>
        <url-pattern>/HandleRemoveCurrentState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleChangeProjectLatLng</servlet-name>
        <url-pattern>/HandleChangeProjectLatLng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetSurveyProjectInfoByPID</servlet-name>
        <url-pattern>/HandleGetSurveyProjectInfoByPID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleModifySurveyProject</servlet-name>
        <url-pattern>/HandleModifySurveyProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateTaskGroup</servlet-name>
        <url-pattern>/HandleCreateTaskGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleTasksReadyAssign</servlet-name>
        <url-pattern>/HandleTasksReadyAssign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAddIntersectionImage</servlet-name>
        <url-pattern>/HandleAddIntersectionImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetAllIntersectionImage</servlet-name>
        <url-pattern>/HandleGetAllIntersectionImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleModifyIntersectionImage</servlet-name>
        <url-pattern>/HandleModifyIntersectionImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCreateLinkImage</servlet-name>
        <url-pattern>/HandleCreateLinkImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetProjectList_Intersection</servlet-name>
        <url-pattern>/HandleGetProjectList_Intersection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
