/* 模态框居中 */
.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
/* !模态框居中 */

/* modal */
.modal-backdrop {
	opacity:0.1 !important;
}
.modal .modal-dialog {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
}

.modal .modal-dialog .modal-content {
	border-radius: 4px;
}

.modal .modal-dialog .modal-content .modal-header {
	border-bottom:none;
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
	font-size: 20px;
	font-weight: 700;
}

.modal .modal-dialog .modal-content .modal-body .row {
	margin-top: 30px;
}

.modal .modal-dialog .modal-content .modal-body .row .menu-label{
	font-size: 16px;
	color: rgba(0,0,0,0.7);
}

.modal .modal-dialog .modal-content .modal-body .row .menu-choice{
	font-size: 14px;
	font-weight: 500;
	color: #222;
	cursor: pointer;
}

.modal .modal-dialog .modal-content .modal-footer {
	border-top:none;
}

.modal .modal-dialog .modal-content .modal-footer a{
	margin-right: 30px;
	font-weight: 500;
	color: #2196F3;
	cursor: pointer;
}
/* modal */

/* 自定义滚动条 */
.customized-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.customized-scrollbar::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.customized-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,0.3);
}
/* End of 自定义滚动条 */