@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wvguzk');
  src:  url('fonts/icomoon.eot?wvguzk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wvguzk') format('truetype'),
    url('fonts/icomoon.woff?wvguzk') format('woff'),
    url('fonts/icomoon.svg?wvguzk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delay:before {
  content: "\e900";
}
.icon-icon-add:before {
  content: "\e901";
}
.icon-icon-ambulance:before {
  content: "\e902";
}
.icon-icon-animal:before {
  content: "\e903";
}
.icon-icon-bicycle:before {
  content: "\e904";
}
.icon-icon-bus:before {
  content: "\e905";
}
.icon-icon-construction:before {
  content: "\e906";
}
.icon-icon-copy:before {
  content: "\e907";
}
.icon-icon-cost-center:before {
  content: "\e908";
}
.icon-icon-crosssection:before {
  content: "\e909";
}
.icon-icon-delete:before {
  content: "\e90a";
}
.icon-icon-download-data:before {
  content: "\e90b";
}
.icon-icon-emission:before {
  content: "\e90c";
}
.icon-icon-export:before {
  content: "\e90d";
}
.icon-icon-fire:before {
  content: "\e90e";
}
.icon-icon-hazard:before {
  content: "\e90f";
}
.icon-icon-heavy-truck:before {
  content: "\e910";
}
.icon-icon-help:before {
  content: "\e911";
}
.icon-icon-intersection-count:before {
  content: "\e912";
}
.icon-icon-man-tricycle:before {
  content: "\e913";
}
.icon-icon-message-center:before {
  content: "\e914";
}
.icon-icon-mixer:before {
  content: "\e915";
}
.icon-icon-motor-tricycle:before {
  content: "\e916";
}
.icon-icon-motor:before {
  content: "\e917";
}
.icon-icon-motorcycle:before {
  content: "\e918";
}
.icon-icon-movepicture:before {
  content: "\e919";
}
.icon-icon-my-transtopia:before {
  content: "\e91a";
}
.icon-icon-network-edit:before {
  content: "\e91b";
}
.icon-icon-newfile:before {
  content: "\e91c";
}
.icon-icon-newfolder:before {
  content: "\e91d";
}
.icon-icon-normal-folder:before {
  content: "\e91e";
}
.icon-icon-paste:before {
  content: "\e91f";
}
.icon-icon-ped:before {
  content: "\e920";
}
.icon-icon-project-files:before {
  content: "\e921";
}
.icon-icon-project-map:before {
  content: "\e922";
}
.icon-icon-questionnaire .path1:before {
  content: "\e923";
  color: rgb(45, 82, 124);
}
.icon-icon-questionnaire .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(206, 232, 250);
}
.icon-icon-questionnaire .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(45, 82, 124);
}
.icon-icon-questionnaire .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(206, 232, 250);
}
.icon-icon-questionnaire .path5:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(45, 82, 124);
}
.icon-icon-questionnaire .path6:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(45, 82, 124);
}
.icon-icon-questionnaire .path7:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(206, 232, 250);
}
.icon-icon-questionnaire .path8:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(45, 82, 124);
}
.icon-icon-questionnaire .path9:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(45, 82, 124);
}
.icon-icon-questionnaire .path10:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(206, 232, 250);
}
.icon-icon-questionnaire .path11:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(45, 82, 124);
}
.icon-icon-questionnaire .path12:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(45, 82, 124);
}
.icon-icon-refresh:before {
  content: "\e92f";
}
.icon-icon-road-section:before {
  content: "\e930";
}
.icon-icon-rotate:before {
  content: "\e931";
}
.icon-icon-scooter:before {
  content: "\e932";
}
.icon-icon-sedan:before {
  content: "\e933";
}
.icon-icon-shared-folder:before {
  content: "\e934";
}
.icon-icon-summary-schedule:before {
  content: "\e935";
}
.icon-icon-survey-tasks:before {
  content: "\e936";
}
.icon-icon-suv:before {
  content: "\e937";
}
.icon-icon-task-assign:before {
  content: "\e938";
}
.icon-icon-taxi:before {
  content: "\e939";
}
.icon-icon-tractor:before {
  content: "\e93a";
}
.icon-icon-traffic-counts:before {
  content: "\e93b";
}
.icon-icon-traffic-signal:before {
  content: "\e93c";
}
.icon-icon-traffic-sim:before {
  content: "\e93d";
}
.icon-icon-trailer:before {
  content: "\e93e";
}
.icon-icon-truck:before {
  content: "\e93f";
}
.icon-icon-upload:before {
  content: "\e940";
}
.icon-icon-user-center:before {
  content: "\e941";
}
.icon-icon-van:before {
  content: "\e942";
}
.icon-icon-view-results:before {
  content: "\e943";
}
.icon-node-roundabout:before {
  content: "\e944";
}
.icon-node-signalized-intersection:before {
  content: "\e945";
}
.icon-node-unsignalized:before {
  content: "\e946";
}
.icon-queue-length:before {
  content: "\e947";
}
.icon-signalgroup:before {
  content: "\e948";
}

