<!DOCTYPE html>
<div class="block-left">
	<div class="memu-top">
		<div class="dropdown pull-right">
			<a href="#"  data-toggle="dropdown" style="color: rgba(255,255,255,1); margin-left: 20px;"><i class="material-icons">more_vert</i></a>
			<ul class="dropdown-menu">
				
			</ul>
		</div>
		
		<a href="#" class="pull-right" style="color: rgba(255,255,255,1);"><i class="material-icons">share</i></a>
	</div>
	<div class="img-background">
		<img />
	</div>
	<div class="main-content">
		<div class="img-block">
			<img class="img-circle" />
		</div>
		<div class="sign-block">
			
		</div>
		<div class="name"></div>
		<div class="detail">
			<span><i class="fa fa-user-circle-o"></i> 个人头衔</span>
			<p></p>
		</div>
		<div class="detail">
			<span><i class="fa fa-pencil"></i> 兴趣类别</span>
			<p></p>
		</div>
		<div class="detail">
			<span><i class="fa fa-tags"></i> 兴趣话题</span>
			<p></p>
		</div>	
		<div class="search-block">
			<i class="fa fa-search"> </i>
			<input type="text" placeholder="搜索..." />
		</div>
		<div class="detail">
			<a href="#" class="pull-right" ><i class="material-icons" style="font-size: 40px; color: #00a65a; padding-left: 15px;">chat_bubble_outline</i></a>
			<a href="#" class="pull-right" ><i class="material-icons" style="font-size: 40px; color: #00a65a;">group_add</i></a>
		</div>	
	</div>
</div>